<a href="https://colab.research.google.com/github/dtype2100/TIL/blob/master/1214_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n2 = 3.25
print("n2 = %07.2f" % n2)

n2 = 0003.25

In [ ]:
print("n2 = %7.2f" % n2)

n2 =    3.25

In [ ]:
num_str = "720"  #형변환

In [ ]:
print(num_str+"1", type(num_str))

num_str = int(num_str)
print(num_str+1, type(num_str))

7201 <class 'str'>
721 <class 'int'>

In [ ]:
print("n2 = %7.2f" % n2)

n2 =    3.25

In [ ]:
a = 1
b = 2

In [ ]:
a = b
b = a

print("a: ", a)
print("b: ", b)

a:  2
b:  2

In [ ]:
a = 1
b = 2

tmp = a
a = b
b = tmp

print("a: ", a)
print("b: ", b)

a:  2
b:  1

In [ ]:
a = 1
b = 2

a, b = b, a

print("a: ", a)
print("b: ", b)

a:  2
b:  1

In [ ]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
b = a

In [ ]:
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
b[5] = 100
b

[0, 1, 2, 3, 4, 100, 6, 7, 8, 9]

In [ ]:
a

[0, 1, 2, 3, 4, 100, 6, 7, 8, 9]

In [ ]:
a = [1, "apple", 3.14, False]

In [ ]:
a.pop(1)

'apple'

In [ ]:
a

[1, 3.14, False]

In [ ]:
a = [1, "apple", 3.14, False]
a.remove("apple")
a

[1, 3.14, False]

In [ ]:
a = [1, "apple", "apple", 3.14, False]
a.remove("apple")
a

[1, 'apple', 3.14, False]

In [ ]:
a = [1, "apple", "apple", 3.14, False]
a.remove("apple")
a

In [ ]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, "슈퍼맨")
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[::2])
" ".join(interest[::2])

['삼성전자', 'Naver']

'삼성전자 Naver'

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

In [ ]:
nums[0:9:2]

[1, 3, 5, 7, 9]

In [ ]:
nums[1::2]

[2, 4, 6, 8, 10]

In [ ]:
num = input("숫자를 입력해주세요 : ")
num = int(num)
new_list = list(range(2,num+1,2))
new_list.append(num)
new_list

숫자를 입력해주세요 : 20

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 20]

In [ ]:
nums = [1, 2, 3, 4, 5]
nums.reverse()
nums

[5, 4, 3, 2, 1]

In [ ]:
숫자 = [1, 2, 3, 4, 5]
숫자.reverse()
숫자

[5, 4, 3, 2, 1]

[2, 4, 6, 8, 10, 10]

In [ ]:
score = {"name":"Tom", "math": 80, "english" : 70}
score

{'name': 'Tom', 'math': 80, 'english': 70}

In [ ]:
score2 = dict(name="Tom", math=80, english=70)
score2

{'name': 'Tom', 'math': 80, 'english': 70}

In [ ]:
score2 = dict("name"="Tom", math=80, english=70)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (Temp/ipykernel_5420/2234723070.py, line 1)

In [ ]:
score['name'] = "Michael"

In [ ]:
score

{'name': 'Michael', 'math': 80, 'english': 70}

In [ ]:
score['Korean'] = 90

In [ ]:
score

{'name': 'Michael', 'math': 80, 'english': 70, 'Korean': 90}

In [ ]:
score3 = {80:"Tom", "math": 80, "english" : 70}

In [ ]:
score3

{80: 'Tom', 'math': 80, 'english': 70}

In [ ]:
"math" in score

True

In [ ]:
70 in score

False

In [ ]:
score['Science'] = 90

In [ ]:
score.update({"Science": 90})

In [ ]:
score

{'name': 'Michael', 'math': 80, 'english': 70, 'Science': 90, 'Korean': 90}

In [ ]:
score.pop("Science")

90

In [ ]:
del score['Korean']

In [ ]:
score

{'name': 'Michael', 'math': 80, 'english': 70}

In [ ]:
score.pop("Science")

KeyError: 'Science'

In [ ]:
score.pop("Science", "error")

'error'

In [ ]:
del score['Korean']

KeyError: 'Korean'

In [ ]:
score

{'name': 'Michael', 'math': 80, 'english': 70}

In [ ]:
score.clear()
score

{}

In [ ]:
score = dict(name="Tom", math=80, english=70)

In [ ]:
list(score.keys())

['name', 'math', 'english']

In [ ]:
list(score.keys())[1]

'math'

In [ ]:
list(score.values())

['Tom', 80, 70]

In [ ]:
list(score.items())

[('name', 'Tom'), ('math', 80), ('english', 70)]

In [ ]:
score

{'name': 'Tom', 'math': 80, 'english': 70}

In [ ]:
score2 = score
score2['name'] = "Kyungsoo"
score

{'name': 'Kyungsoo', 'math': 80, 'english': 70}

In [ ]:
score = dict(name="Tom", math=80, english=70)
score2 = score.copy()
score2['name'] = 'Kyungsoo'
score

{'name': 'Tom', 'math': 80, 'english': 70}

In [ ]:
fruit = "사과,배,옥수수,당근"
fruit_list = fruit.split(",")
print(fruit_list)

['사과', '배', '옥수수', '당근']

In [ ]:
fruit = "사과,배,옥수수,당근"
fruit_list = fruit.split()
print(fruit_list)

['사과,배,옥수수,당근']

In [ ]:
fruit_list = ['사과', '배', '옥수수', '당근']
"".join(fruit_list)

'사과배옥수수당근'

In [ ]:
fruit_list = ['사과', '배', '옥수수', '당근']
" ".join(fruit_list)

'사과 배 옥수수 당근'

In [ ]:
fruit_list = ['사과', '배', '옥수수', '당근']
", ".join(fruit_list)

'사과, 배, 옥수수, 당근'

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver']
" ".join(interest[::2])

'삼성전자 Naver'

In [ ]:
inventory = dict(메로나 = [300, 20], 
             비비빅 = [400, 3], 
             죠스바 =  [250, 100])

In [ ]:
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [ ]:
inventory = {"메로나": [300, 20], 
             "비비빅": [400, 3], 
             "죠스바": [250, 100]}

In [ ]:

ice = {"메로나": 1000,
       "폴로포": 1200,
       "빵빠레": 1800,
       "죠스바": 1200,
       "월드콘": 1500}

In [ ]:
list(ice.values())[0]

1000

In [ ]:
list(ice.keys())[0]

'메로나'

In [ ]:
print("{} 가격 : {}".format(list(ice.keys())[0],list(ice.values())[0]))

메로나 가격 : 1000

In [ ]:
kind = list(ice.keys())[0]
price = list(ice.values())[0]

print(f"{kind} 가격 : {price}")

메로나 가격 : 1000

In [ ]:
print(f"{ice}")

{'메로나': 1000, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory.setdefault("월드콘",[500, 7])
print(inventroy)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [ ]:
name = input("이름을 입력해주세요: ")
age = input("나이를 입력해주세요: ")

phone = input("연락처를 입력해주세요: ")
result1 = {"이름":name, "나이":age, "연락처":phone}

이름을 입력해주세요: 홍길동
나이를 입력해주세요: 27
연락처를 입력해주세요: 010-111-1111

In [ ]:
result1

{'이름': '홍길동', '나이': '27', '연락처': '010-111-1111'}

In [ ]:
total_list = []

name = input("이름을 입력해주세요: ")
age = input("나이를 입력해주세요: ")
phone = input("연락처를 입력해주세요: ")
total_list.append({"이름":name, "나이":age, "연락처":phone})

name = input("이름을 입력해주세요: ")
age = input("나이를 입력해주세요: ")
phone = input("연락처를 입력해주세요: ")
total_list.append({"이름":name, "나이":age, "연락처":phone})

이름을 입력해주세요: 홍길동
나이를 입력해주세요: 27
연락처를 입력해주세요: 010-1111-111
이름을 입력해주세요: 이몽룡
나이를 입력해주세요: 30
연락처를 입력해주세요: 010-2222-2222

In [ ]:
total_list

[{'이름': '홍길동', '나이': '27', '연락처': '010-1111-111'},
 {'이름': '이몽룡', '나이': '30', '연락처': '010-2222-2222'}]

In [ ]:
a = set("animal")
a

{'a', 'i', 'l', 'm', 'n'}

In [ ]:
a = {1, 2, 3, 4}
a.remove(1)
a

{2, 3, 4}

In [ ]:
a = {1, 2, 3, 4}
a.discard(1)
a

{2, 3, 4}

In [ ]:
a = {1, 2, 3, 4}
a.remove(5)
a

KeyError: 5

In [ ]:
a = {1, 2, 3, 4}
a.discard(5)
a

{1, 2, 3, 4}

In [ ]:
if True:
    #code
    c = {1, 2, 3, 4}
    c.discard(5)
    print(c)

print(c)

{1, 2, 3, 4}
{1, 2, 3, 4}

In [ ]:
if True:
    #a를 크게하자
    pass
    
print(c)

{1, 2, 3, 4}

In [ ]:
x = 'C'

if x == 'A':
    print('x 는 A')
elif x == 'C':
    print('x는 C')

SyntaxError: invalid syntax (Temp/ipykernel_5420/3067905735.py, line 3)

In [ ]:
x = 'C'


if x == 'A':
    print('x 는 A')
elif x == 'C':
    print('x는 C')

x는 C

In [ ]:
if x == 'A':
    print('x 는 A')
    if x == 'C':
        print('x는 C')

In [ ]:
if x == 'A':
    print('x 는 A')
    
    
    
if x == 'C':
    print('x는 C')

x는 C

In [ ]:
if x == 'A':
    print('x 는 A')
else:x
    print('x는 C')

x는 C

In [ ]:
x = 'D'

if x == 'A':
    print('x 는 A')
else:
    print('x는 C')

x는 C

In [ ]:
x = 10

if x >= 5:
    print('x 는 5 이상')
elif x >= 10 :
    print('x는 10 이상')

x 는 5 이상

In [ ]:
x = 10

if x >= 5:
    print('x 는 5 이상')
    
if x >= 10 :
    print('x는 10 이상')

x 는 5 이상
x는 10 이상

In [ ]:
if False :
    if True:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

4
5

In [ ]:
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

In [ ]:
num = input()
if num.isdigit():
    num = int(num)

    print(num % 2 == 1 )

3
True

In [ ]:
num = input("입력")

입력3

In [ ]:
num ="3"
num.isdigit()

False

In [ ]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

In [ ]:
warn_investment_list[0] = warn_investment_list[0].lower()

In [ ]:
warn_investment_list

['Microsoft', 'Google', 'Naver', 'Kakao', 'SAMSUNG', 'LG']

In [ ]:
company = input("입력 : ")

입력 : google

In [ ]:
if company in warn_investment_list or company.upper() in warn_investment_list or \
company.lower() in warn_investment_list or company.capitalize() in warn_investment_list :
    print('투자 경고 종목입니다')
else:
    print("투자 경고 종목이 아닙니다.")

투자 경고 종목입니다

In [ ]:
company in warn_investment_list

False

In [ ]:
company.upper() in warn_investment_list

True

In [ ]:
company.capitalize() in warn_investment_list

True

In [ ]:
currency = {"달러":1167, "엔":1096, "유로":1268, "위안": 171}

In [ ]:
amount = input("입력")
amount

입력100 달러

'100 달러'

In [ ]:
num, curr = amount.split()
print(num, curr)

100 달러

In [ ]:
curr = amount[1]
money = float(amount[0])

In [ ]:
print(f"{currency[curr] * money} 원")

116700.0 원

In [ ]:
s = input("score: ")
s = int(s)
if 81<=s<=100:
    print("grade is a")
elif 61<=s<=80:
    print("grade is b")
elif 41<=s<=60:
    print("grade is c")
elif 21<=s<=40:
    print("grade is d")
else:
    print("grade is f")

score: 80
grade is b

In [ ]:
fruit=['사과','오렌지']
vegetable=['당근','호박']

c = input('등록할 카테고리를 선택해주세요(과일,채소) :')
val = input(f'등록할 {c}를 입력해주세요 :')

등록할 카테고리를 선택해주세요(과일,채소) :과일
등록할 과일를 입력해주세요 :오렌지

In [ ]:
print('등록할 ', c, '를 입력해주세요 :')

In [ ]:
result = '''
{
  "status": "0000",
  "data": {
    "opening_price": "59766000",
    "closing_price": "57614000",
    "min_price": "57600000",
    "max_price": "59766000",
    "units_traded": "1438.55115127",
    "acc_trade_value": "84302778049.582",
    "prev_closing_price": "59768000",
    "units_traded_24H": "1994.40646591",
    "acc_trade_value_24H": "117780083989.0672",
    "fluctate_24H": "-3214000",
    "fluctate_rate_24H": "-5.28",
    "date": "1639463311824"
  }
}'''

In [ ]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
(btc)

{'opening_price': '59766000',
 'closing_price': '57488000',
 'min_price': '57410000',
 'max_price': '59766000',
 'units_traded': '1451.06493026',
 'acc_trade_value': '85022408397.4541',
 'prev_closing_price': '59768000',
 'units_traded_24H': '2002.02831894',
 'acc_trade_value_24H': '118202188492.6127',
 'fluctate_24H': '-3454000',
 'fluctate_rate_24H': '-5.67',
 'date': '1639463642668'}

In [ ]:
max_price = int(btc['max_price'])
opening_price = int(btc['opening_price'])

In [ ]:
difference = max_price - int(btc['min_price'])
difference

2356000

In [ ]:
if (difference + opening_price) > difference :
    pass
else:
    pass

In [ ]:
carriers = {"011" : "SKT", "016": "KT", "019" : "LGU", "010": "알수없음"}

In [ ]:
phone_num = input("휴대전화 번호 입력: ")
phone_num

휴대전화 번호 입력: 010-345-1922

'010-345-1922'

In [ ]:
phone_num = phone_num[:3]
phone_num

'010'

In [ ]:
print(f"당신은 {carriers[phone_num]} 사용자입니다.")

당신은 알수없음 사용자입니다.

In [ ]:
time = "02:00"

In [ ]:
time[-2:] == "00"

'00'

In [ ]:
my_number = input("주민등록번호: ")
numbers = my_number.split("-")
back_number = numbers[1]
print(back_number[1:3])

주민등록번호: 821010-1635210
35

In [ ]:
if int(back_number[1:3]) <= 8 :
    print("서울 입니다.")
else :
    print("서울이 아닙니다.")

서울이 아닙니다.

우편번호: 01400

NameError: name 'I' is not defined

In [ ]:
score1 = int(input("첫번째 점수를 입력해주세요 :"))
score2 = int(input("두번째 점수를 입력해주세요 :"))
score3 = int(input("세번째 점수를 입력해주세요 :"))


if score1 < 0 or score1 > 100 or  score2 < 0 or score2 > 100 or score3 < 0 or score3 > 100:
    print("잘못된 점수가 입력되었습니다.")
elif score1 > 65 and score2 > 65 and score3 > 65:
    print("합격")
else:
    print("불합격")

In [ ]:
score1 = int(input("첫번째 점수를 입력해주세요 :"))
score2 = int(input("두번째 점수를 입력해주세요 :"))
score3 = int(input("세번째 점수를 입력해주세요 :"))

if 0 <= score1 <= 100 and 0 <= score2 <= 100 and 0 <= score2 <= 100:
    if score1 > 65 and score2 > 65 and score3 > 65:
        print("합격")
    else:
        print("불합격")
else:
    print("잘못된 점수가 입력되었습니다.")

In [ ]:
fruit = ['사과','오렌지']
vegetable = ['당근','호박']


category = input("등록할 카테고리를 선택해주세요 (과일, 채소) :")
item = input(f"등록할 {category}를 입력해주세요 :")


if category == "과일":
    if item in fruit:
         print(f"이미 등록된 {category}입니다.")
    else:
        fruit.append(item)
        print(fruit)
        
elif category == "채소":
    if item in vegetable:
        print(f"이미 등록된 {category}입니다.")
    else:
        vegetable.append(item)
        print(vegetable)
else:
    print("존재하지 않는 카테고리입니다.")

등록할 카테고리를 선택해주세요 (과일, 채소) :야채
등록할 야채를 입력해주세요 :오이
존재하지 않는 카테고리입니다.

In [ ]:
fruit = ['사과','오렌지']
vegetable = ['당근','호박']

category_dict = {"과일": fruit, "채소": vegetable}


category = input("등록할 카테고리를 선택해주세요 (과일, 채소) :")
item = input(f"등록할 {category}를 입력해주세요 :")

item_list = category_dict.get(category)

if item_list:
    if item in item_list:
         print(f"이미 등록된 {category}입니다.")
    else:
        item_list.append(item)
        print(item_list)
else:
    print("존재하지 않는 카테고리입니다.")

등록할 카테고리를 선택해주세요 (과일, 채소) :채소
등록할 채소를 입력해주세요 :당근
이미 등록된 채소입니다.

In [ ]:
for i in range(0, 10, 2):
    print("현재값 : ", i)

현재값 :  0
현재값 :  2
현재값 :  4
현재값 :  6
현재값 :  8

In [ ]:
total_list

[{'이름': '홍길동', '나이': '27', '연락처': '010-1111-111'},
 {'이름': '이몽룡', '나이': '30', '연락처': '010-2222-2222'}]

In [ ]:
for user_info in total_list:
    print(user_info['이름'])

홍길동
이몽룡

In [ ]:
for user_index in range(len(total_list)):
    print(total_list[user_index]['이름'])

홍길동
이몽룡

In [ ]:
for s in "Orange":
    print(s, end=",")

O,r,a,n,g,e,

In [ ]:
score = {"name":"Tom", "math": 80, "english" : 70}

for key in score.items():
    print(key)

('name', 'Tom')
('math', 80)
('english', 70)

In [ ]:
score.values()

dict_values(['Tom', 80, 70])

In [ ]:
count = int(input("반복할 횟수?"))

for i in range(count):
    print("Hello world!", i)

반복할 횟수?10
Hello world! 0
Hello world! 1
Hello world! 2
Hello world! 3
Hello world! 4
Hello world! 5
Hello world! 6
Hello world! 7
Hello world! 8
Hello world! 9

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7]

for i, value in enumerate(a):
    print(i, value)

0 1
1 2
2 3
3 4
4 5
5 6
6 7

In [ ]:
for i in range(5):
    print("*" * 30, i)
    for j in range(5):
        print("j : ", j)

****************************** 0
j :  0
j :  1
j :  2
j :  3
j :  4
****************************** 1
j :  0
j :  1
j :  2
j :  3
j :  4
****************************** 2
j :  0
j :  1
j :  2
j :  3
j :  4
****************************** 3
j :  0
j :  1
j :  2
j :  3
j :  4
****************************** 4
j :  0
j :  1
j :  2
j :  3
j :  4