<a href="https://colab.research.google.com/github/dtype2100/TIL/blob/master/1215_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
string = "PYTHON"

In [ ]:
string[::-1]

'NOHTYP'

In [ ]:
str_list = list(string)
str_list

['P', 'Y', 'T', 'H', 'O', 'N']

In [ ]:
str_list.reverse()

In [ ]:
str_list

['N', 'O', 'H', 'T', 'Y', 'P']

In [ ]:
"".join(str_list)

'NOHTYP'

In [ ]:
a = {1, 2, 3, 4}

In [ ]:
a.add(1)
a

{1, 2, 3, 4}

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7]
for idx, val in enumerate(a):
    print(idx, val, sep=",")

0,1
1,2
2,3
3,4
4,5
5,6
6,7

In [ ]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json().get('data')
btc

{'opening_price': '58605000',
 'closing_price': '59416000',
 'min_price': '57550000',
 'max_price': '60062000',
 'units_traded': '774.38746369',
 'acc_trade_value': '45570484596.4223',
 'prev_closing_price': '58605000',
 'units_traded_24H': '2027.21043654',
 'acc_trade_value_24H': '118603334338.7896',
 'fluctate_24H': '846000',
 'fluctate_rate_24H': '1.44',
 'date': '1639530498178'}

In [ ]:
btc = requests.get("https://api.bithumb.com/public/tick/").json().get('data')
print(btc)

None

In [ ]:
if btc:
    print(btc[max_price])
else:
    print("장애가 생겼습니다. 잠시뒤에 접속해주세요")

In [ ]:
if btc == None:
    pass
else:
    print(btc[max_price])

In [ ]:
news = """
주식투자를 하는 지인들의 이야기를 듣다 보면 특정 시기(보통은 증시 고점)에 투자를 시작하고 그 이후에는 그냥 그 투자원금만 유지하거나 나중에는 투자금을 빼는 경우가 대부분입니다. 초기에 투입한 한정된 투자원금으로 엄청난 대박 수익을 내려 하다 보니 무리한 투자를 하여 안타깝게 끝나는 경우가 다반사이지요. 하지만 투자 인생에서 큰 자산을 만들고자 한다면 꾸준한 적립은 따라주어야만 합니다.

그리고 꾸준한 적립은 투자전략 차원에서 은근히 큰 효과를 만들어 줍니다.

 

 

▶ 꾸준한 적립의 효과 1. 종잣돈이 커진다. 복리의 효과 증대

 

매달 월급에서 일부를 주식투자에 적립하거나 혹은 1년에 한 번이라도 성과급이 나왔을 때 주식투자 금액을 추가 적립하는 분들은 생각보다 많지 않은 듯합니다.

그 시점에 증시 상황이 초강세 장일 때에만 “진작에 증액했어야 했는데!!”라고 후회하면서 적립하지만, 주식시장이 애매하거나, 약세장일 경우에는 주식투자 증액을 생각하지 않게 되지요.

 

하지만, 꾸준한 적립은 자연스럽게 종잣돈을 키우는 효과를 만들어 줍니다.

단순히 계산하여 보아도, 주식투자를 1천만 원으로 시작하여 증액 없이 투자를 이어간 투자자와 똑같이 1천만 원으로 시작하였어도, 매달 100만 원씩 증액한 투자자는 투자원금에서 단 1년 만에 2.2배 차이가 나게 됩니다. 10년이면 투자원금은 13배 차이가 납니다.

 


[ 1천만 원 종잣돈으로 꾸준히 적립한 투자자와 원금만 투자한 투자자의 투자 결과 차이]

[ 매년 10%씩 수익률 발생 가정, 매달 100만 원씩(연 1,200만 원) 적립 가정 ]

 

당연히 투자원금이 증가하여 종잣돈이 커지고 나면 단, 몇 퍼센트의 수익률만으로도 매달 적립하는 금액 이상의 수익률이 만들어질 뿐만 아니라, 똑같은 수익률을 매년 만들었다 하더라도 매달 꾸준히 적립한 투자자와 적립이 아예 없는 투자자의 자산은 세월이 흘러갈수록 기하급수적으로 벌어지게 됩니다.

 

위의 표에서는 1천만 원 원금만으로 투자를 이어간 A씨 그리고 매달 100만 원씩(연 1,200만 원)을 추가 적립한 B씨가 똑같이 매년 10% 수익률을 만들었다 가정하였을 때의 투자 자산 결과를 보여주고 있습니다. 0년 차에 1천만 원으로 투자금이 똑같았던 상황은 10년 차 때는 2억1,718만 원과 2,593만 원으로 8배 이상으로 벌어졌고, 20년 차 때에는 11배 이상으로 투자 자산 규모가 벌어지게 됩니다.

 

 

▶ 꾸준한 적립의 효과 2. 자산 배분 전략 리밸런싱과 주식 포트 스무싱이 자연스럽게 반복된다.

 

꾸준한 적립의 효과 두 번째는 바로 꾸준히 투자금을 적립함에 따라 자연스럽게 나타나는 전략적인 측면의 효과입니다. 바로 자산 배분 리밸런싱과 주식 포트폴리오의 스무싱이 자연스럽게 반복된다는 점이지요.

 

자산 배분 리밸런싱은 이제 모르는 분들이 없을 정도로 보편화되었습니다. 그리고 리밸런싱 과정에서 발생하는 간접적인 저가 매수, 간접적인 고가 매도 반복 속에서 수익이 만들어지는 섀넌의 도깨비 현상은 자산 배분 리밸런싱의 백미이지요.

 

주식 포트폴리오의 경우 포트폴리오들의 비중을 나름대로 세워두고 투자하고 계실 것입니다. 그런데 처음 세팅 후 시간이 흐르면 주가가 상승한 종목과 하락한 종목들의 차이로 인해 포트폴리오 간의 비율이 처음하고 틀어지게 됩니다. 이를 다시 맞추어 주는 과정을 필자는 “스무싱(Smoothing) 작업”이라고 명칭을 만들어 부르고 있습니다. 일종의 자산 배분 전략 리밸런싱을 주식 포트폴리오에서 하는 것이지요.

 

그런데 꾸준히 적립하게 되면 이 과정에서 자산 배분 전략 비율이든 포트폴리오 간의 비중이든 다시금 비율을 조정하면서 주식을 매수하기 때문에 포트폴리오 중 빠진 종목을 조금 더 사고, 때에 따라 증시가 하락하였을 때는 주식을 전체적으로 사주는 효과가 만들어집니다.

이를 매달 꾸준히 반복하다 보면 1년에 1~2%P 수준의 수익률 이점이 만들어집니다.

 


[ lovefund이성수의 연구용 가치 포트(2월 포트)의 성과 추이 ]

 

위의 도표는 필자가 연구용으로 추적하고 있는 연구용 가치 포트의 2009년 2월 이후 수익률 추이입니다. (매년 2월 말 포트폴리오 추출 후 실제 현실에서 수익률 추적하며 실전 검증)

적색 선은 단순히 1년에 한 번만 포트폴리오를 변경하는 것이고 연두색 선은 포트폴리오를 1년에 한 번씩 바꾸지만 한 달에 한 번씩 스무싱 작업을 해주었을 때의 수익률입니다.

크진 않더라도 스무싱 작업을 해준 것이 단순 보유 전략보다 우위에 있다는 것을 한눈에 확인할 수 있습니다.

 

꾸준한 적립은 적립금을 포트폴리오에 배분하는 과정에서 자연스럽게 스무싱 작업과 유사한 상황이 발생하게 되면서 장기 성과를 조금 더 높게 만들어 주는 효과를 만듭니다.

 

 

꾸준한 적립은 이 외에도 달러코스트 에버리지(Dollar Cost Average)효과를 만들면서 주식시장 하락 시기에 평균 매입 단가를 단순 평균 가격보다도 빨리 낮추어주면서 증시 상승 시기에 수익률을 더욱 극대화하는 효과를 만들어 줍니다.

(※ 달러 코스트 에버리지까지 글에 담으면 너무 길어질 수 있어서 언급만 하겠습니다.)

 

투자금액의 꾸준한 적립 작지만, 장기적으로는 큰 투자 결실의 차이를 만들게 됩니다.

물론 1, 2년에서는 그 차이가 거의 보이지 않지요. 하지만 3년, 5년, 10년 기간이 길어질수록 투자원금으로만 투자한 이들과는 큰 차이를 만들어가고 있을 것입니다.

 
"""

In [ ]:
word_list  = news.split()

In [ ]:
len(word_list)

614

In [ ]:
word_set = set(word_list)
word_set

{'(※',
 '(매년',
 '0년',
 '1,',
 '1,200만',
 '1.',
 '10%',
 '10%씩',
 '100만',
 '10년',
 '10년이면',
 '11배',
 '13배',
 '1~2%P',
 '1년',
 '1년에',
 '1천만',
 '2,593만',
 '2.',
 '2.2배',
 '2009년',
 '20년',
 '2년에서는',
 '2억1,718만',
 '2월',
 '3년,',
 '5년,',
 '8배',
 'Average)효과를',
 'A씨',
 'B씨가',
 'Cost',
 '[',
 ']',
 'lovefund이성수의',
 '“스무싱(Smoothing)',
 '“진작에',
 '▶',
 '가격보다도',
 '가정',
 '가정,',
 '가정하였을',
 '가치',
 '간의',
 '간접적인',
 '거의',
 '검증)',
 '것을',
 '것이',
 '것이고',
 '것이지요.',
 '것입니다.',
 '결과',
 '결과를',
 '결실의',
 '경우',
 '경우가',
 '경우에는',
 '계산하여',
 '계실',
 '고가',
 '고점)에',
 '과정에서',
 '과정을',
 '규모가',
 '그',
 '그냥',
 '그런데',
 '그리고',
 '극대화하는',
 '글에',
 '금액',
 '금액을',
 '기간이',
 '기하급수적으로',
 '길어질',
 '길어질수록',
 '꾸준한',
 '꾸준히',
 '끝나는',
 '나게',
 '나름대로',
 '나면',
 '나왔을',
 '나중에는',
 '나타나는',
 '납니다.',
 '낮추어주면서',
 '내려',
 '너무',
 '높게',
 '다반사이지요.',
 '다시',
 '다시금',
 '단',
 '단,',
 '단가를',
 '단순',
 '단순히',
 '달러',
 '달러코스트',
 '달에',
 '담으면',
 '당연히',
 '대박',
 '대부분입니다.',
 '더',
 '더욱',
 '도깨비',
 '도표는',
 '되면',
 '되면서',
 '되지요.',
 '됩니다.',
 '두',
 '듣다',
 '듯합니다.',
 '따라',
 '따라주어야만',
 '때',
 '때는',
 '때문에',
 '때에',
 '때에는',
 '때에만',
 '때의',
 '똑같았던',
 '똑같은',
 '똑같이',
 '리밸런싱',
 '리밸런싱과',
 '리밸런싱은',
 '리밸런싱을',
 '리밸런싱의',
 '만들게',
 '만들고자',
 '만들면서',
 '만들어',
 '만들어가고',
 '만들어지는',
 '만들어질',
 '만들어집니다.',
 '만들었다',
 '만듭니다.',
 '만에',
 '많지',
 '말',
 '맞추어',
 '매년',
 '매달',
 '매도',
 '매수,',
 '매수하기',
 '매입',
 '명칭을',
 '몇',
 '모르는',
 '무리한',
 '물론',
 '바꾸지만',
 '바로',
 '반복',
 '반복된다.',
 '반복된다는',
 '반복하다',
 '발생',
 '발생하게',
 '발생하는',
 '배분',
 '배분하는',
 '백미이지요.',
 '번만',
 '번씩',
 '번이라도',
 '번째는',
 '벌어졌고,',
 '벌어지게',
 '변경하는',
 '보니',
 '보면',
 '보아도,',
 '보여주고',
 '보유',
 '보이지',
 '보편화되었습니다.',
 '복리의',
 '부르고',
 '분들은',
 '분들이',
 '비율을',
 '비율이',
 '비율이든',
 '비중을',
 '비중이든',
 '빠진',
 '빨리',
 '빼는',
 '뿐만',
 '사고,',
 '사주는',
 '상승',
 '상승한',
 '상황은',
 '상황이',
 '생각보다',
 '생각하지',
 '섀넌의',
 '선은',
 '성과',
 '성과급이',
 '성과를',
 '세워두고',
 '세월이',
 '세팅',
 '속에서',
 '수',
 '수익률',
 '수익률만으로도',
 '수익률을',
 '수익률이',
 '수익률입니다.',
 '수익을',
 '수익이',
 '수준의',
 '스무싱',
 '스무싱이',
 '시간이',
 '시기(보통은',
 '시기에',
 '시작하고',
 '시작하여',
 '시작하였어도,',
 '시점에',
 '실전',
 '실제',
 '아니라,',
 '아예',
 '안타깝게',
 '않게',
 '않더라도',
 '않은',
 '않지요.',
 '애매하거나,',
 '약세장일',
 '언급만',
 '엄청난',
 '없는',
 '없을',
 '없이',
 '에버리지(Dollar',
 '에버리지까지',
 '연구용',
 '연구용으로',
 '연두색',
 '외에도',
 '우위에',
 '원',
 '원)',
 '원)을',
 '원과',
 '원금만',
 '원금만으로',
 '원씩',
 '원씩(연',
 '원으로',
 '월급에서',
 '위의',
 '유사한',
 '유지하거나',
 '은근히',
 '이',
 '이들과는',
 '이를',
 '이상으로',
 '이상의',
 '이야기를',
 '이어간',
 '이점이',
 '이제',
 '이후',
 '이후에는',
 '인생에서',
 '인해',
 '일부를',
 '일종의',
 '있는',
 '있다는',
 '있습니다.',
 '있어서',
 '있을',
 '자산',
 '자산은',
 '자산을',
 '자연스럽게',
 '작업”이라고',
 '작업과',
 '작업을',
 '작지만,',
 '장기',
 '장기적으로는',
 '장일',
 '저가',
 '적립',
 '적립금을',
 '적립은',
 '적립의',
 '적립이',
 '적립하거나',
 '적립하게',
 '적립하는',
 '적립하지만,',
 '적립한',
 '적립함에',
 '적색',
 '전략',
 '전략보다',
 '전략적인',
 '전체적으로',
 '점이지요.',
 '정도로',
 '조금',
 '조정하면서',
 '종목과',
 '종목들의',
 '종목을',
 '종잣돈으로',
 '종잣돈을',
 '종잣돈이',
 '주가가',
 '주는',
 '주식',
 '주식시장',
 '주식시장이',
 '주식을',
 '주식투자',
 '주식투자를',
 '주식투자에',
 '줍니다.',
 '중',
 '증가하여',
 '증대',
 '증시',
 '증시가',
 '증액',
 '증액을',
 '증액한',
 '증액했어야',
 '지인들의',
 '차',
 '차에',
 '차원에서',
 '차이]',
 '차이가',
 '차이로',
 '차이를',
 '처음',
 '처음하고',
 '초강세',
 '초기에',
 '추가',
 '추이',
 '추이입니다.',
 '추적하고',
 '추적하며',
 '추출',
 '측면의',
 '커지고',
 '커진다.',
 '코스트',
 '크진',
 '큰',
 '키우는',
 '투입한',
 '투자',
 '투자금액의',
 '투자금을',
 '투자금이',
 '투자를',
 '투자원금만',
 '투자원금에서',
 '투자원금으로',
 '투자원금으로만',
 '투자원금은',
 '투자원금이',
 '투자자는',
 '투자자와',
 '투자자의',
 '투자전략',
 '투자하고',
 '투자한',
 '특정',
 '틀어지게',
 '퍼센트의',
 '평균',
 '포트',
 '포트(2월',
 '포트)의',
 '포트의',
 '포트폴리오',
 '포트폴리오들의',
 '포트폴리오를',
 '포트폴리오에',
 '포트폴리오에서',
 '포트폴리오의',
 '표에서는',
 '필자가',
 '필자는',
 '하겠습니다.)',
 '하는',
 '하다',
 '하더라도',
 '하락',
 '하락하였을',
 '하락한',
 '하여',
 '하지만',
 '하지만,',
 '한',
 '한눈에',
 '한다면',
 '한정된',
 '합니다.',
 '해주었을',
 '해준',
 '했는데!!”라고',
 '현상은',
 '현실에서',
 '혹은',
 '확인할',
 '효과',
 '효과가',
 '효과를',
 '효과입니다.',
 '후',
 '후회하면서',
 '흐르면',
 '흘러갈수록'}

In [ ]:
len(word_set)

437

In [ ]:
for i in range(2):
    new_value = i
    
print(new_value)

1

In [ ]:
del input

In [ ]:

user = int(input("값을 입력해주세요 : "))
total = user
while user != 0 :
    user = int(input("값을 입력해주세요 : "))
    total += user
    
print("합계는?",total)

In [ ]:

user = 100
total = 0
while user != 0 :
    user = int(input("값을 입력해주세요 : "))
    total += user
    
print("합계는?",total)

값을 입력해주세요 : 30
값을 입력해주세요 : 20
값을 입력해주세요 : 50
값을 입력해주세요 : 40
값을 입력해주세요 : 30
값을 입력해주세요 : 0
합계는? 170

In [ ]:

user = int(input("값을 입력해주세요 : "))
total = [user]
while user != 0 :
    user = int(input("값을 입력해주세요 : "))
    total.append(user)
    
print(sum(total))

값을 입력해주세요 : 10
값을 입력해주세요 : 20
값을 입력해주세요 : 30
값을 입력해주세요 : 0
60

In [ ]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for y in 리스트:
    splited = y.split(".") 
    print((splited[0]))

hello
ex01
intro

In [ ]:
del len

In [ ]:
text = 'hello.py'

print(text[::-1])

In [ ]:
리스트 = ["가", "나", "다", "라"]
print(리스트[: :-1])
for x in 리스트[: :-1]:
    print(x)

['라', '다', '나', '가']
라
다
나
가

In [ ]:
for x in  ["가", "나", "다", "라"]

In [ ]:
import random

In [ ]:
random.random()

0.7137235895837698

In [ ]:
random.randint(1, 3)

3

In [ ]:
price_list = [32100, 32150, 32000, 32500, 32500]
total_size = len(price_list)
for i, price in enumerate(price_list):
    print(f"{total_size - i - 1} {price}")

4 32100
3 32150
2 32000
1 32500
0 32500

In [ ]:
y = {'math': 70, 'science': 80, 'english': 20}

for k in y:
    y[k] = y[k] + 10
    
y

{'math': 80, 'science': 90, 'english': 30}

In [ ]:
for i in range(len(my_list) - 1, 0, -1):     
    print(my_list[i], my_list[i-1])

In [ ]:
my_list = ["가", "나", "다", "라"]

In [ ]:
print(list(range(len(my_list) - 1, 0, -1)))

[3, 2, 1]

In [ ]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for floor in apart:
    for ho in floor:
        print(f"{ho} 호")

101 호
102 호
201 호
202 호
301 호
302 호

In [ ]:
x=0
for 변수 in range(1,11):
    if 변수%2==1:
        x+=변수
print("합:",x)

합: 25

In [ ]:
my_list = [100, 200, 400, 800, 1000, 1300]

print(sum(my_list[0:3])/3)
print(sum(my_list[1:4])/3)
print(sum(my_list[2:5])/3)
print(sum(my_list[3:6])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [ ]:
duration = 4
for i in range(len(my_list) - duration + 1):
    print(sum(my_list[i : i + duration])/duration)

375.0
600.0
875.0

In [ ]:
filename = "intra.h"
file_info = filename.split(".")
file_info

['intra', 'h']

In [ ]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
  split = 변수.split(".")
  if (split[1] == "h") or (split[1] == "c"):
    print(변수)

In [ ]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

In [ ]:
volatility = []
for i in range(1, len(ohlc)):
    volatility.append(ohlc[i][1] - ohlc[i][2])

In [ ]:
volatility

[40, 30, 10]

In [ ]:
for i, item in enumerate(ohlc):
    if i == 0:
        continue
        
    print(item[1] - item[2])

40
30
10

In [ ]:
x = [3, 6, 9, 20, -7, 5]

for i in range(len(x)):
    x[i] *= 10

x

[30, 60, 90, 200, -70, 50]

In [ ]:
y = {"math": 70, "science": 80, "english": 20} 

for k in y:
    y[k] += 10
    
y

{'math': 80, 'science': 90, 'english': 30}

In [ ]:
num = int(input("몇단을 출력하시겠습니까?"))

for i in range(1, 10):
    print(f"{num} * {i} = {num * i}")

몇단을 출력하시겠습니까?3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [ ]:
words = ["school", "game", "piano", "science","hotel","mountain"]

result = []
for word in words:
    if len(word) >= 6:
        result.append(word)
        
result

['school', 'science', 'mountain']

In [ ]:
ww = ["school","game","piano","hotel","mountain"]
z = []
for i in ww:
    if len(i)>=6:
        z.append(i)
print(z)

['school']
['school', 'mountain']

In [ ]:
for num in range(1, 10):
    for i in range(1, 10):
        print(f"{num} * {i} = {num * i}")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
numbers = [3, 6, 9, 20, -7, 5]

for i in range(len(numbers) - 1):
    for j in range(len(numbers) - i - 1):
        if numbers[j] > numbers[j + 1]:
            numbers[j], numbers[j + 1] = numbers[j + 1], numbers[j]
    print(numbers)

#             tmp = numbers[i]
#             numbers[j] = numbers[j + 1]
#             numbers[j + 1] = tmp

[3, 6, 9, -7, 5, 20]
[3, 6, -7, 5, 9, 20]
[3, -7, 5, 6, 9, 20]
[-7, 3, 5, 6, 9, 20]
[-7, 3, 5, 6, 9, 20]

In [ ]:
for num in range(1, 101):
    if num % 3 == 0 and num % 5 == 0:
        print("3과 5의 공배수")
    elif num % 3 == 0:
        print("3의 공배수")
    elif num % 5 == 0:
        print("5의 공배수")
    else:
        print(num)

1
2
3의 공배수
4
5의 공배수
3의 공배수
7
8
3의 공배수
5의 공배수
11
3의 공배수
13
14
3과 5의 공배수
16
17
3의 공배수
19
5의 공배수
3의 공배수
22
23
3의 공배수
5의 공배수
26
3의 공배수
28
29
3과 5의 공배수
31
32
3의 공배수
34
5의 공배수
3의 공배수
37
38
3의 공배수
5의 공배수
41
3의 공배수
43
44
3과 5의 공배수
46
47
3의 공배수
49
5의 공배수
3의 공배수
52
53
3의 공배수
5의 공배수
56
3의 공배수
58
59
3과 5의 공배수
61
62
3의 공배수
64
5의 공배수
3의 공배수
67
68
3의 공배수
5의 공배수
71
3의 공배수
73
74
3과 5의 공배수
76
77
3의 공배수
79
5의 공배수
3의 공배수
82
83
3의 공배수
5의 공배수
86
3의 공배수
88
89
3과 5의 공배수
91
92
3의 공배수
94
5의 공배수
3의 공배수
97
98
3의 공배수
5의 공배수

In [ ]:
import random 

random.randint(1, 3)

2

In [ ]:
import os

filename = "./data/game_info.pkl"

if os.path.exists(filename):
    total_count = 3
    win_count = 0
else:
    total_count = 0
    win_count = 0

        
        
user = 0
total_count = 0
win_count = 0



rsp = ["가위", "바위", "보"]

while user != 4:
    user = int(input("가위(1), 바위(2), 보(3) 을 입력해주세요 : "))
    computer = random.randint(1, 3)
    
    if user not in [1, 2, 3]:
        break
    
    print(f"유저 : {rsp[user - 1]}, 컴퓨터 : {rsp[computer - 1]}")

    
    if (user == 1 and computer == 3) or \
    (user == 2 and computer == 1) or \
    (user == 3 and computer == 2):
        win_count += 1
        
    total_count += 1
    
print(f"게임종료 (전체:{total_count}, 승리: {win_count})")

In [ ]:
total_count

NameError: name 'total_count' is not defined

In [ ]:
num = int(input("숫자를 입력하세요: "))
i = 0
while i <= num:
    print(i)
    i += 1

숫자를 입력하세요: 20
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
num = int(input("숫자를 입력하세요: "))
for i in range(num+1):
    if i % 2 == 1:
        continue
    print(i)

숫자를 입력하세요: 20
0
2
4
6
8
10
12
14
16
18
20

In [ ]:
a = [32, 45, 2, 5, 76]
small = 100000000
for num in a:
    if num < small:
        small = num

print(small)

2

In [ ]:
big = a[0]
for i in range(1, len(a)):
    if big < a[i]:
        big = a[i]

print(big)

76

In [ ]:
x = [3, 6, 9, 20, -7, 5]

for i in range(len(x)):
    x[i] *= 10

x

In [ ]:
[ x[i] * 10  for i in range(len(x))]

[300, 600, 900, 2000, -700, 500]

In [ ]:
my_list = []
for i in range(10):
    my_list.append(i)

my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
my_list = [i for i in range(10)]
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
my_list = []
for i in range(10):
    my_list.append(i * 3)

my_list

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [ ]:
my_list = [i * 3 for i in range(10)]
my_list

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [ ]:
words = ["school", "game", "piano", "science","hotel","mountain"]

result = []
for word in words:
    if len(word) >= 6:
        result.append(word)
        
result

['school', 'science', 'mountain']

In [ ]:
result = [word for word in words if len(word) >= 6]
result

['school', 'science', 'mountain']

In [ ]:
gugu = []
for num in range(1, 10):
    for i in range(1, 10):
        gugu.append(f"{num} * {i} = {num * i}")
gugu

['1 * 1 = 1',
 '1 * 2 = 2',
 '1 * 3 = 3',
 '1 * 4 = 4',
 '1 * 5 = 5',
 '1 * 6 = 6',
 '1 * 7 = 7',
 '1 * 8 = 8',
 '1 * 9 = 9',
 '2 * 1 = 2',
 '2 * 2 = 4',
 '2 * 3 = 6',
 '2 * 4 = 8',
 '2 * 5 = 10',
 '2 * 6 = 12',
 '2 * 7 = 14',
 '2 * 8 = 16',
 '2 * 9 = 18',
 '3 * 1 = 3',
 '3 * 2 = 6',
 '3 * 3 = 9',
 '3 * 4 = 12',
 '3 * 5 = 15',
 '3 * 6 = 18',
 '3 * 7 = 21',
 '3 * 8 = 24',
 '3 * 9 = 27',
 '4 * 1 = 4',
 '4 * 2 = 8',
 '4 * 3 = 12',
 '4 * 4 = 16',
 '4 * 5 = 20',
 '4 * 6 = 24',
 '4 * 7 = 28',
 '4 * 8 = 32',
 '4 * 9 = 36',
 '5 * 1 = 5',
 '5 * 2 = 10',
 '5 * 3 = 15',
 '5 * 4 = 20',
 '5 * 5 = 25',
 '5 * 6 = 30',
 '5 * 7 = 35',
 '5 * 8 = 40',
 '5 * 9 = 45',
 '6 * 1 = 6',
 '6 * 2 = 12',
 '6 * 3 = 18',
 '6 * 4 = 24',
 '6 * 5 = 30',
 '6 * 6 = 36',
 '6 * 7 = 42',
 '6 * 8 = 48',
 '6 * 9 = 54',
 '7 * 1 = 7',
 '7 * 2 = 14',
 '7 * 3 = 21',
 '7 * 4 = 28',
 '7 * 5 = 35',
 '7 * 6 = 42',
 '7 * 7 = 49',
 '7 * 8 = 56',
 '7 * 9 = 63',
 '8 * 1 = 8',
 '8 * 2 = 16',
 '8 * 3 = 24',
 '8 * 4 = 32',
 '8 * 5 = 40',
 '8 * 6 = 48',
 '8 * 7 = 56',
 '8 * 8 = 64',
 '8 * 9 = 72',
 '9 * 1 = 9',
 '9 * 2 = 18',
 '9 * 3 = 27',
 '9 * 4 = 36',
 '9 * 5 = 45',
 '9 * 6 = 54',
 '9 * 7 = 63',
 '9 * 8 = 72',
 '9 * 9 = 81']

In [ ]:
gugu = [f"{num} * {i} = {num * i}" for num in range(1, 10) for i in range(1, 10)]
gugu

['1 * 1 = 1',
 '1 * 2 = 2',
 '1 * 3 = 3',
 '1 * 4 = 4',
 '1 * 5 = 5',
 '1 * 6 = 6',
 '1 * 7 = 7',
 '1 * 8 = 8',
 '1 * 9 = 9',
 '2 * 1 = 2',
 '2 * 2 = 4',
 '2 * 3 = 6',
 '2 * 4 = 8',
 '2 * 5 = 10',
 '2 * 6 = 12',
 '2 * 7 = 14',
 '2 * 8 = 16',
 '2 * 9 = 18',
 '3 * 1 = 3',
 '3 * 2 = 6',
 '3 * 3 = 9',
 '3 * 4 = 12',
 '3 * 5 = 15',
 '3 * 6 = 18',
 '3 * 7 = 21',
 '3 * 8 = 24',
 '3 * 9 = 27',
 '4 * 1 = 4',
 '4 * 2 = 8',
 '4 * 3 = 12',
 '4 * 4 = 16',
 '4 * 5 = 20',
 '4 * 6 = 24',
 '4 * 7 = 28',
 '4 * 8 = 32',
 '4 * 9 = 36',
 '5 * 1 = 5',
 '5 * 2 = 10',
 '5 * 3 = 15',
 '5 * 4 = 20',
 '5 * 5 = 25',
 '5 * 6 = 30',
 '5 * 7 = 35',
 '5 * 8 = 40',
 '5 * 9 = 45',
 '6 * 1 = 6',
 '6 * 2 = 12',
 '6 * 3 = 18',
 '6 * 4 = 24',
 '6 * 5 = 30',
 '6 * 6 = 36',
 '6 * 7 = 42',
 '6 * 8 = 48',
 '6 * 9 = 54',
 '7 * 1 = 7',
 '7 * 2 = 14',
 '7 * 3 = 21',
 '7 * 4 = 28',
 '7 * 5 = 35',
 '7 * 6 = 42',
 '7 * 7 = 49',
 '7 * 8 = 56',
 '7 * 9 = 63',
 '8 * 1 = 8',
 '8 * 2 = 16',
 '8 * 3 = 24',
 '8 * 4 = 32',
 '8 * 5 = 40',
 '8 * 6 = 48',
 '8 * 7 = 56',
 '8 * 8 = 64',
 '8 * 9 = 72',
 '9 * 1 = 9',
 '9 * 2 = 18',
 '9 * 3 = 27',
 '9 * 4 = 36',
 '9 * 5 = 45',
 '9 * 6 = 54',
 '9 * 7 = 63',
 '9 * 8 = 72',
 '9 * 9 = 81']

In [ ]:
keys = ["name", "age", "address"]
users = ["tom", 20, "incheon"]

list(zip(keys, users))

[('name', 'tom'), ('age', 20), ('address', 'incheon')]

In [ ]:
keys = ["name", "age", "address"]
users = ["tom", 20, ]

list(zip(keys, users))

[('name', 'tom'), ('age', 20)]

In [ ]:
words = ["school", "game", "piano", "science","hotel","mountain"]

result = []
for word in words:
    result.append(len(word))
        
result

[6, 4, 5, 7, 5, 8]

In [ ]:
result = [len(word) for word in words]
result

[6, 4, 5, 7, 5, 8]

In [ ]:
a = []
for i in range(3):
    temp = []
    for j in range(5):
        temp.append(0)
    a.append(temp)
    
a

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [ ]:
a = [[10, 20], [30, 40, 50], [50, 60]]
b = [[2, 3], [4, 5, 6], [6, 7]]

In [ ]:
C = []
for i in range(len(a)):
    x = []
    for j in range(len(a[i])):
        x.append(a[i][j] * b[i][j])
    C.append(x)     
C

[[20, 60], [120, 200, 300], [300, 420]]

In [ ]:
a = []
for i in range(3):
    temp = []
    for j in range(2):
        temp.append(i * 2 + j + 1)
        print("daa")
    a.append(temp)
    
a

[[1, 2], [3, 4], [5, 6]]

In [ ]:
a = []
for i in range(3):
    temp = []
    temp.append(i * 2 + 0 + 1)
    temp.append(i * 2 + 1 + 1)
    a.append(temp)
    
a

In [ ]:
a = [32,45,2,5,76]
small = a[0] 

for i in a:
    if i < small: 
        small = i

In [ ]:
a = [[10, 20], [30, 40, 50], [50, 60]]
b = [[2, 3], [4, 5, 6], [6, 7]]

C = []
for i in range(len(a)):
    x = []
    for j in range(len(a[i])):
        x.append(a[i][j] * b[i][j])
        C.append(x)     
        print(x)
        
    break
C

[20]
[20, 60]

[[20, 60], [20, 60]]

In [ ]:
file = open("new_file.txt", "w")
file.write("Python is awesome!")
file.close()

In [ ]:
file = open("new_file.txt", "r")
content = file.read()
print(content)
file.close()

Java is awesome!

In [ ]:
with open("new_file.txt", "w") as file:
    file.write("Python is awesome!")

In [ ]:
with open("new_file.txt", "r") as file:
    content = file.read()
    print(content)

Python is awesome!

In [ ]:
keys = ["name", "age", "address"]
users = ["tom", 20, "incheon"]

my_info = dict(zip(keys, users))
my_info

{'name': 'tom', 'age': 20, 'address': 'incheon'}

In [ ]:
with open("new_info.txt", "w") as file:
    file.write(str(my_info))

In [ ]:
with open("new_info.txt", "r") as file:
    content = file.read()
    print(content)
    print(content['name'])

{'name': 'tom', 'age': 20, 'address': 'incheon'}

TypeError: string indices must be integers

In [ ]:
import pickle

with open("./data/new_info.pkl", "wb") as file:
    pickle.dump(my_info, file)

In [ ]:
with open("./data/new_info.pkl", "rb") as file:
    data = pickle.load(file)
    print(data)
    print(type(data))
    print(data["name"])

{'name': 'tom', 'age': 20, 'address': 'incheon'}
<class 'dict'>
tom

In [ ]:
import pickle

name = "Tom"
age = 24
address = "서울시 마포구"
scores = {"python":90, "deeplearnig":95, "database":80}

with open("data2.pkl", "wb") as file:
    pickle.dump(name, file)
    pickle.dump(age, file)
    pickle.dump(address, file)
    pickle.dump(scores, file)

In [ ]:
with open("data2.pkl", "rb") as file:
    name2 = pickle.load(file)
    age2 = pickle.load(file)
    address2 = pickle.load(file)
    scores2 = pickle.load(file)

In [ ]:
print(name2, age2, address2, scores2)

Tom 24 서울시 마포구 {'python': 90, 'deeplearnig': 95, 'database': 80}

In [ ]:
print(type(name2), type(age2), type(address2), type(scores2))

<class 'str'> <class 'int'> <class 'str'> <class 'dict'>

In [ ]:
import os

In [ ]:
os.path.exists("./data/my_info.pkl")

False