<a href="https://colab.research.google.com/github/dtype2100/TIL/blob/master/1216_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
with open ("매수종목1.txt", "w") as file:
    file.write("005930")
    file.write("005380")
    file.write("035420")

In [ ]:
with open ("매수종목1.txt", "w") as file:
    file.write("{}\n{}\n{}".format("005930", "005380", "035420"))

In [ ]:
!type "매수종목1.txt"

삼성전자 : 005930
 현대 자동차 : 005380
 네이버 : 035420

In [ ]:
with open ("매수종목1.txt", "w") as file:
    file.write("삼성전자 : {}\n 현대 자동차 : {}\n 네이버 : {}".format("005930", "005380", "035420"))

In [ ]:
with open ("big_data.txt", encoding="utf-8") as file:
    contents = file.read()
    print(contents)

저는 홍경수입니다.
빅데이터 과정 강사입니다.

In [ ]:
with open ("매수종목1.txt", ) as file:
    contents = file.read()
    print(contents)

삼성전자 : 005930
 현대 자동차 : 005380
 네이버 : 035420

In [ ]:
def func():
    print("Hello, Function")
    print("Hello, Function")
    print("Hello, Function")
    print("Hello, Function")

In [ ]:
print(func())

Hello, Function
Hello, Function
Hello, Function
Hello, Function
None

In [ ]:
def greeting(name):
    print("Hello", name)

In [ ]:
greeting("경수")

Hello 경수

In [ ]:
def add(a, b):
    return a + b

In [ ]:
y = add(3, 7)
y

10

In [ ]:
def calc(a, b):
    return a + b, a - b

In [ ]:
y = calc(3, 7)
y

(10, -4)

In [ ]:
x, y = calc(3, 7)
print(x)
print(y)

10
-4

In [ ]:
def id_check(id):
    if id == "admin":
        print("invalid id : admin")
        return

print("valid id : ", id)

valid id :  <built-in function id>

In [ ]:
id_check("jihwaja")

In [ ]:
id_check("admin")

invalid id : admin

In [ ]:
a = 5

In [ ]:
print(a)

5

In [ ]:
def func1():
    a = 1
    print(a)

In [ ]:
func1()

1

In [ ]:
print(a)

5

In [ ]:
def func2():
    print(a)

In [ ]:
func2()

5

In [ ]:
def func3():
    global a
    a = 1
    print(a)

In [ ]:
func3()

1

In [ ]:
print(a)

1

In [ ]:
def func4():
    b = 1
    print(b)

In [ ]:
func4()

1

In [ ]:
def func5():
    print(b)

In [ ]:
func5()

NameError: name 'b' is not defined

In [ ]:
def print_coins():     
    for i in range(100):         
        print('bit')

In [ ]:
print_coins()

In [ ]:
print("A")

def message() :
    print("B")

print("C")
message()

In [ ]:
def print_max(a,b,c):
    max_val = a
    
    for num in [b, c]:
        if num > max_val: 
            max_val= num

    print(max_val)
    
print_max(32,265,700)

700

In [ ]:
def print_with_smile(text):
    return text + ":D"

In [ ]:
print_with_smile("안녕하세요")

'안녕하세요:D'

In [ ]:
def print_max (a, b, c):
    max_val = a
    
    for num in [b, c]:
        if max_val < num:
            max_val = num
        
    print(max_val)

In [ ]:
print(print_max(2, 4, 7))

7
None

In [ ]:
def print_xn(text, slice_size):
    while len(text) > 0:
        print(text[:slice_size])
        text = text[slice_size:]

In [ ]:
print_xn("아이엠어보이유알어걸아이엠어보이유알어걸", 4)

아이엠어
보이유알
어걸아이
엠어보이
유알어걸

In [ ]:
def print_even (my_list) :
    for v in my_list :
        if v % 2 == 0 :
            print(v)

In [ ]:
print_even ([1, 3, 2, 10, 12, 11, 15])

TypeError: 'list' object cannot be interpreted as an integer

In [ ]:
lst=[]
def print_even():
    user=1
    while True:
        user=input("리스트에 추가할 숫자를 입력해주세요(멈추고 싶으면 음수 값을 입력하세요): ")    
        if not user.isdigit():
            break
        lst.append(int(user))
    
    print(lst)
    for v in lst:
        if v%2==0:
            print(v)
print_even()

리스트에 추가할 숫자를 입력해주세요(멈추고 싶으면 음수 값을 입력하세요): 2
리스트에 추가할 숫자를 입력해주세요(멈추고 싶으면 음수 값을 입력하세요): 3
리스트에 추가할 숫자를 입력해주세요(멈추고 싶으면 음수 값을 입력하세요): 4
리스트에 추가할 숫자를 입력해주세요(멈추고 싶으면 음수 값을 입력하세요): 6
리스트에 추가할 숫자를 입력해주세요(멈추고 싶으면 음수 값을 입력하세요):
[2, 3, 4, 6]
2
4
6

In [ ]:
def print_5xn(line):
    chunk_num = int(len(line) / 5)
    for x in range(chunk_num + 1) :
        print(line[x * 5: x * 5 + 5])

In [ ]:
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [ ]:
def make_url(a):
    url =  ("www."+ a + ".com")
    return url

In [ ]:
print(make_url("naver"))

www.naver.com

In [ ]:
def print_5xn(i):
    if len(i) >= 5:
        for j in range(int(len(i)/5) + 1):
            print(i[j * 5:j * 5 + 5])
print_5xn("abcdefghijklmno")

abcde
fghij
klmno

In [ ]:
i = "abcdefghijklmnop"
len(i)/5

2.8

In [ ]:
lis = [1, 2, 3, 1, 4, 2, 1]
def allindex(lst, num):
#     result = []
#     for i, n in enumerate(lst):
#         if n == num:
#             result.append(i)
            
#     return result

    return [i for i, n in enumerate(lst) if n == num]

In [ ]:
res = allindex(lis, 1)
print(res)

[0, 3, 6]

In [ ]:
allindex(lis, 1, 2)

TypeError: allindex() takes 2 positional arguments but 3 were given

In [ ]:
def func(*args):
    print(type(args))
    print(args)
    
    for arg in args:
        print(arg)

In [ ]:
func(1, 2, 3, 4, 5)

<class 'tuple'>
(1, 2, 3, 4, 5)
1
2
3
4
5

In [ ]:
func(1)

<class 'tuple'>
(1,)
1

In [ ]:
def func(a, b, c):
    print(a, b, c)

In [ ]:
x = [1, 2, 3]
func(*x)

1 2 3

In [ ]:
x = (1, 2, 3)
func(*x)

1 2 3

In [ ]:
x = {1, 2, 3}
func(*x)

1 2 3

In [ ]:
def func(**kwargs):
    print(type(kwargs))
    print(kwargs)
    print("이메일 : ", kwargs["email"])
    print("이름 : ", kwargs["name"])

In [ ]:
func(email="aa@aa.com", name="tom", address="강남구")

<class 'dict'>
{'email': 'aa@aa.com', 'name': 'tom', 'address': '강남구'}
이메일 :  aa@aa.com
이름 :  tom

In [ ]:
def func(email, name):
    print("이메일 : ", email)
    print("이름 : ", name)

In [ ]:
x = {"email": "ad@aa.com", "name":"Tom"}
func(**x)

TypeError: func() got an unexpected keyword argument 'emal'

In [ ]:
def calc_monthly_salary(pay):
    m_pay=int(pay/12)
    return m_pay

In [ ]:
calc_monthly_salary(100)

8

In [ ]:
import os
import pickle

file_name = "students.pkl"

if os.path.exists(file_name):
    with open(file_name, "rb") as file:
        student_info = pickle.load(file)            
else:
    student_info = []

menu = -1

def display_student():
    for i, student in enumerate(student_info):           
        print(f'[{i}] 이름 : {student["이름"]}, 수학 : {student["수학"]}, 과학 : {student["과학"]}, 영어 : {student["영어"]}')

while menu != 0:
    menu  = input("메뉴를 선택해주세요 1 - 입력, 2 - 조회, 3 - 삭제, 0 - 종료) : ")
    
    if not menu.isdigit():
        print("잘못된 입력입니다!")
        continue
    menu = int(menu)
    if menu == 1:
        name = input("이름 : ")
        math = input("수학 : ")
        science = input("과학 : ")
        english = input("영어 : ")
        
        student_info.append({"이름" : name, "수학": math, "과학":science, "영어":english})

    elif menu == 2:
        display_student()
        
    elif menu == 3:
        display_student()
        
        del_num = int(input("삭제할 번호를 입력해주세요 :"))        
        student_info.pop(del_num)
        print("삭제되었습니다")
                    
    elif menu == 0:
        print("종료되었습니다!")
        with open(file_name, "wb") as file:
            pickle.dump(student_info, file)
            
        break
    else:
        print("잘못된 입력입니다!")
        continue

메뉴를 선택해주세요 1 - 입력, 2 - 조회, 3 - 삭제, 0 - 종료) : 2
[0] 이름 : 이민호, 수학 : 40, 과학 : 30, 영어 : 50
메뉴를 선택해주세요 1 - 입력, 2 - 조회, 3 - 삭제, 0 - 종료) : 1
이름 : 홍경수
수학 : 90
과학 : 80
영어 : 90
메뉴를 선택해주세요 1 - 입력, 2 - 조회, 3 - 삭제, 0 - 종료) : 2
[0] 이름 : 이민호, 수학 : 40, 과학 : 30, 영어 : 50
[1] 이름 : 홍경수, 수학 : 90, 과학 : 80, 영어 : 90
메뉴를 선택해주세요 1 - 입력, 2 - 조회, 3 - 삭제, 0 - 종료) : 3
[0] 이름 : 이민호, 수학 : 40, 과학 : 30, 영어 : 50
[1] 이름 : 홍경수, 수학 : 90, 과학 : 80, 영어 : 90