In [12]:
for 변수 in ["A", "B", "C"]:
  print(변수)

A
B
C

In [16]:
변수 = "A"
print(변수)
변수 = "B"
print(변수)
변수 = "C"
print(변수)

A
B
C

In [17]:
print("A")
print("B")
print("C")

A
B
C

In [18]:
변수 = "A"
print("출력:", 변수)
변수 = "B"
print("출력:", 변수)
변수 = "C"
print("출력:", 변수)

출력: A
출력: B
출력: C

In [19]:
print("출력:", "A")
print("출력:", "B")
print("출력:", "C")

출력: A
출력: B
출력: C

In [43]:
변수 = "A" #135번
a = 변수.lower()
print("변환:", a)
변수 = "B"
b = 변수.lower()
print("변환:", b)
변수 = "C"
c = 변수.lower()
print("변환:", c)

변환: a
변환: b
변환: c

In [33]:
for 변수 in (10, 20, 30):
    print(변수)

10
20
30

In [37]:
for 변수 in(10, 20, 30): #138
    print(변수)
    print("-------")

10
-------
20
-------
30
-------

In [39]:
print("++++")
for 변수 in(10, 20, 30):
    print(변수)

++++
10
20
30

In [42]:
for 변수 in(1, 2, 3, 4):
    print("-------")

-------
-------
-------
-------

In [47]:
for 리스트 in[100 + 10, 200 + 10, 300 + 10]:
    print(리스트)

110
210
310

In [48]:
for 리스트 in[100, 200, 300]:
    print(리스트 + 10)

110
210
310

In [53]:
for 리스트 in["김밥", "라면", "튀김"]:
    print(리스트)

김밥
라면
튀김

In [57]:
리스트 = ["김밥", "라면", "튀김"]
for 메뉴 in(리스트):
    print("오늘의 메뉴", 메뉴)

오늘의 메뉴 김밥
오늘의 메뉴 라면
오늘의 메뉴 튀김

In [58]:
for 메뉴 in["김밥", "라면", "튀김"]:
    print("오늘의 메뉴", 메뉴)

오늘의 메뉴 김밥
오늘의 메뉴 라면
오늘의 메뉴 튀김

In [63]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for 종목명 in 리스트:
  print(len(종목명))

6
4
4

In [64]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for 종목명 in 리스트:
  길이 = len(종목명)
  print(길이)

6
4
4

In [67]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for 종목명 in 리스트:
    길이 = len(종목명)
    print(길이)

6
4
4

In [72]:
리스트 = ['dog', 'cat', 'parrot']
for 동물 in 리스트:
    print(동물, len(동물))

dog 3
cat 3
parrot 6

In [73]:
리스트 = ['dog', 'cat', 'parrot']
for 문자 in 리스트:
    print(문자[0])

d
c
p

In [79]:
리스트 = [1, 2, 3]
for 변수 in 리스트:
    print("3 x", 변수)

3 x 1
3 x 2
3 x 3

In [86]:
리스트 = [1, 2, 3]
for 변수 in 리스트:
    print("3 x", 변수, "=", 3*변수)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [6]:
리스트 = ["가", "나", "다", "라"]
for 목록 in 리스트[1:]:
    print(목록)

나
다
라

In [98]:
total = 0 
while 값 != 0 :
    값 = int(input("값을 입력해 주세요 :"))
    total += 값
    
prion("합계", total)

NameError: name 'prion' is not defined

In [1]:
user = 1
total = 0
while user !=0:
    user = int(input("값을 입력해주세요 : "))
    total += user
    
print('합계', total)

값을 입력해주세요 : 30
값을 입력해주세요 : 20
값을 입력해주세요 : 50
값을 입력해주세요 : 40
값을 입력해주세요 : 30
값을 입력해주세요 : 0
합계 170

In [15]:
리스트 = ["가", "나", "다", "라"]
for 목록 in 리스트[: :2]:
    print(목록)

가
다

In [21]:
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[: :-1]:
    print(변수)

라
다
나
가

In [32]:
리스트 = [3, -20, -3, 44]
for 변수 in 리스트:
    if 변수 < 0:
        print(변수)

-20
-3

In [38]:
리스트 = [13, 21, 12, 14, 30, 18]
for 변수 in 리스트:
    if (변수 < 20) and (변수 % 3 == 0):
        print(변수)

12
18

In [40]:
리스트 = ["I", "study", "python", "language", "!"]
for 변수 in 리스트[1:-1]:
    print(변수)

study
python
language

In [56]:
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper():
        print(i)

A
D

In [57]:
리스트 = ["A", "b", "c", "D"]
for x in 리스트:
    if x.isupper() == False:
        print(x)

b
c

In [59]:
리스트 = ["A", "b", "c", "D"]
for x in 리스트:
    if not x.isupper():
        print(x)

b
c

In [64]:
리스트 = ['dog', 'cat', 'parrot']
for 변수 in 리스트:
    첫글자 = 변수[0]
    대문자 = 첫글자.upper()
    print(대문자 + 변수[1:])

Dog
Cat
Parrot

In [3]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
    split = 변수.split(".")
    if split[1] == "h":
        print(변수)

intra.h
define.h

In [5]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
    if 변수.endswith(".h"):
        print(변수)

intra.h
define.h

In [10]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for x in 리스트:
    if x.endswith((".h", ".c")):
        print(x)

intra.h
intra.c
define.h

In [11]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for x in 리스트:
    split[
        
    ]

SyntaxError: invalid syntax (Temp/ipykernel_24892/461771787.py, line 5)

In [13]:
for a in range(0:99):
    print(a)

SyntaxError: invalid syntax (Temp/ipykernel_24892/2579614322.py, line 1)

In [28]:
for a in range(2002, 2050, 4):
    print(a)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046

In [36]:
for a in range(1. 31, 3):
    print(a)

SyntaxError: invalid syntax (Temp/ipykernel_24892/133765076.py, line 1)

In [38]:
for a in range(3, 31, 3):
    print(a)

3
6
9
12
15
18
21
24
27
30

In [48]:
for a in range(0, 10):
    print("0.", a)

0. 0
0. 1
0. 2
0. 3
0. 4
0. 5
0. 6
0. 7
0. 8
0. 9

In [52]:
for a in range(1, 10):
    print(3, "x", a, "=", 3*a)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [50]:
for i in range(1, 10) :
    print (3, "x", i, " = ", 3 * i)

3 x 1  =  3
3 x 2  =  6
3 x 3  =  9
3 x 4  =  12
3 x 5  =  15
3 x 6  =  18
3 x 7  =  21
3 x 8  =  24
3 x 9  =  27

In [54]:
words = ["school", "game", "piano", "science", "hotel", "mountain"]
for word in words:
    if len(word) >= 6 :
        print(word)

school
science
mountain

In [64]:
words = ["school", "game", "piano", "science", "hotel", "mountain"]
result = []
for a in words:
    result = int(len(words))
    result. append(words)
    
result

AttributeError: 'int' object has no attribute 'append'

In [76]:
a = [[10, 20], [30, 40], [50, 60]]
b = [[2, 3], [4, 5], [6, 7]]
c = []
for i in range(3):
    temp = []
    for j in range(2):
        temp.append(a * b)
    c.appennd(temp)
print(c)

TypeError: can't multiply sequence by non-int of type 'list'

In [79]:
a = [[10, 20], [30, 40, 50], [50, 60]]
b = [[2, 3], [4, 5, 6], [6, 7]]

In [84]:
c = []
for i in range(len(a)):
    temp = []
    for j in range(len(a[i])):
        temp.append(a[i][j] * b[i][j])
        c.append(temp)
c

[[20, 60], [20, 60], [120, 200], [120, 200], [300, 420], [300, 420]]

In [89]:
a = []
for i in range(3):
    temp = []
    for j in range(2):
        temp.append(i * 2 + j + 1)
        a.append(temp)
print(a)

[[1, 2], [1, 2], [3, 4], [3, 4], [5, 6], [5, 6]]

In [2]:
a = []
for i in range(3):
    temp = []
    for j in range(2):
        temp.append(i * 2 + j + 1)
        a.append(temp)
print(a)

[[1, 2], [1, 2], [3, 4], [3, 4], [5, 6], [5, 6]]

In [5]:
num = 3
for a in range(1, 10, 2):
    print(num, "x", a, "=", num *1)

3 x 1 = 3
3 x 3 = 3
3 x 5 = 3
3 x 7 = 3
3 x 9 = 3

In [6]:
num = 3
for i in range(1, 10) :
    if i % 2 == 1 :
        print (num, "x", i, " = ", num * i)

3 x 1  =  3
3 x 3  =  9
3 x 5  =  15
3 x 7  =  21
3 x 9  =  27

In [7]:
num = 3
for i in range(1, 10, 2) :
    print (num, "x", i, " = ", num * i)

3 x 1  =  3
3 x 3  =  9
3 x 5  =  15
3 x 7  =  21
3 x 9  =  27