In [7]:
a = [1, 1, 2, 2, 2, 3, 3]
a.count(2)

3

In [13]:
a = [1, 2, 3, 4, 5]
a.index(3)

2

In [14]:
a = [1, 2, 3, 4, 5, 6, 7]
for idx, val in enumerate(a):
	print(idx, val, sep=",")

0,1
1,2
2,3
3,4
4,5
5,6
6,7

In [16]:
for i in range(10):
    if i % 2 == 0:
        print(i)

0
2
4
6
8

In [17]:
x = [[1, 2], [3, 4], [5, 6]]
print(len(x))

3

In [29]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(a[5:-2])

[6, 7, 8]

In [21]:
b = [ i*2 for i in range(10)]
b[5]

10

In [22]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
count = 0
for d in data:
    if d%5 == 0:
        count =+ 1
print(count)

1

In [30]:
count = 0
for i in range(10):
    for j in range(5):
        count += 1
    count -= 1
print(count)

40

In [31]:
data = [i*10 for i in range(100)]
len(data)

100

In [36]:
import numpy as np
x = np.array([4, 8, 6]).reshape(3, 1)
y = np.arange(2, 4)
x + y

array([[ 6,  7],
       [10, 11],
       [ 8,  9]])

In [41]:
import pandas as pd

x = pd.Series([1, 2, 3])
y = pd.Series([4, 5, 6])
z = pd.Series([7, 8, 9])

pd.concat([x, y, z], axis=1)

   0  1  2
0  1  4  7
1  2  5  8
2  3  6  9

In [42]:
import numpy as np
import matplotlib.pyplot as plt

numbers = np.random.randint(30, 100, size=20)
plt.____(numbers)
plt.title("random number")
plt.show()

AttributeError: module 'matplotlib.pyplot' has no attribute '____'

In [43]:
def gugudan(number):
    if number >= 10:
        print("잘못된숫자를 입력했습니다.")
        return
    for i in

SyntaxError: invalid syntax (Temp/ipykernel_13912/590328024.py, line 5)

In [47]:
x = np.array([[1, 2, 3],[4, 5, 6]]) 
print(x.shape)

(2, 3)

In [52]:
b = [ i*2 for i in range(10)]
b[5]

10

In [53]:
x = [[1, 2], [3, 4], [5, 6]]
print(len(x)) #정답2.3으로 나옴 (틀림)

3

In [59]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
count = 0
for d in data:
    if d%5 == 0:
        count += 1
print(count) #정답 3.2로 나옴 (틀림)

2