In [56]:
import requests
from bs4 import BeautifulSoup

In [72]:
URL = "https://scrapying-study.firebaseapp.com/03/"
response = requests.get(URL)
html = BeautifulSoup(response.text, "html.parser")
lis = html.select("#popularItemList > li")

In [132]:
total = []
for li in lis:
    temp = []
    temp.append(li.select_one("a").text)
    temp.append(li.select_one("span").text)
    total.append(temp)
print(total)

[['써니전자', '5,000'], ['삼성전자', '55,200'], ['안랩', '81,000'], ['케이엠더블..', '57,300'], ['피피아이', '12,600'], ['KT&G', '92,500'], ['삼성전자우', '45,600'], ['대양금속', '10,550'], ['SK하이닉스', '94,700'], ['SK텔레콤', '234,000']]

In [133]:
URL = "https://scrapying-study.firebaseapp.com/03/"
response = requests.get(URL)
soup = BeautifulSoup(response.text, "html.parser")
lis = soup.select("#popularItemList > li")

In [134]:
total = []
for li in lis:
    temp = []
    temp.append(li.select_one("a").text)
    temp.append(li.select_one('img').attrs['alt'])
    total.append(temp)
print(total)

[['써니전자', '상한'], ['삼성전자', '하락'], ['안랩', '상승'], ['케이엠더블..', '상승'], ['피피아이', '상한'], ['KT&G', '하락'], ['삼성전자우', '상승'], ['대양금속', '하한'], ['SK하이닉스', '상승'], ['SK텔레콤', '하락']]

In [131]:
URL = "https://scrapying-study.firebaseapp.com/03/"
response = requests.get(URL)
soup = BeautifulSoup(response.text, "html.parser")
lis = soup.select("#popularItemList > li")

In [136]:
total = []
for li in lis:
    temp = []
    temp.append(li.select_one("a").text)
    temp.append(li.select_one("span").text)
    total.append(temp)
print(total)

[['써니전자', '5,000'], ['삼성전자', '55,200'], ['안랩', '81,000'], ['케이엠더블..', '57,300'], ['피피아이', '12,600'], ['KT&G', '92,500'], ['삼성전자우', '45,600'], ['대양금속', '10,550'], ['SK하이닉스', '94,700'], ['SK텔레콤', '234,000']]

In [193]:
URL = "https://scrapying-study.firebaseapp.com/03/"
response = requests.get(URL)
soup = BeautifulSoup(response.text, "html.parser")
lis = soup.select(".sale_list > li")

In [210]:
total = []
for li in lis:
    temp = []
    temp.append(li.select_one("a").text)
    temp.append(li.select_one("span").attrs['alt'])
    total.append(temp)
print(total)

KeyError: 'alt'

In [211]:
total = []
for li in lis:
    temp = []
    temp.append(li.select_one("a").text)
    for idx in range(3):
        temp.append(li.select("dt")[idx].text)
        temp.append(li.select("dd")[idx].text)
    total.append(temp)
print(total)

[['H하우스장위', '보증금', '16,000 만원', '유형', '아파트|일반민간임대', '규모/면적', '분양 134세대|45㎡~65㎡'], ['고덕리엔파크2단지 장기전세', '보증금', '38,400 만원', '유형', '아파트|장기전세주택', '규모/면적', '분양 1세대|149㎡'], ['신정이펜하우스3단지 장기전세', '보증금', '39,040 만원', '유형', '아파트|장기전세주택', '규모/면적', '분양 1세대|148㎡'], ['천왕이펜하우스2단지 장기전세', '보증금', '38,240 만원', '유형', '아파트|장기전세주택', '규모/면적', '분양 1세대|142㎡'], ['송파파크데일2단지 장기전세', '보증금', '45,600 만원', '유형', '아파트|장기전세주택', '규모/면적', '분양 1세대|150㎡']]

In [212]:
import requests
from bs4 import BeautifulSoup
URL = 'https://movie.naver.com/movie/sdb/rank/rmovie.nhn'
response = requests.get(URL)
soup = BeautifulSoup(response.text, "html.parser")
result = soup.select(".list_ranking tr > td.title a")
for i, v in enumerate(result):
 print(i+1, v.text)

1 스파이더맨: 노 웨이 홈
2 매트릭스: 리저렉션
3 킹스맨: 퍼스트 에이전트
4 돈 룩 업
5 드라이브 마이 카
6 유체이탈자
7 엔칸토: 마법의 세계
8 레지던트 이블: 라쿤시티
9 해피 뉴 이어
10 너에게 가는 길
11 연애 빠진 로맨스
12 램
13 경관의 피
14 해피 아워
15 신데렐라 2: 마법에 걸린 왕자
16 간호중
17 라임크라임
18 티탄
19 타이거마스크
20 하나 그리고 둘
21 기적
22 메모리: 조작살인
23 모가디슈
24 닥터 스트레인지: 대혼돈의 멀티버스
25 매트릭스
26 특송
27 여타짜
28 씽2게더
29 프렌치 디스패치
30 이터널스
31 듄
32 코다
33 나 홀로 집에
34 러브 액츄얼리
35 베놈 2: 렛 데어 비 카니지
36 해적: 도깨비 깃발
37 장르만 로맨스
38 스파이더맨: 파 프롬 홈
39 끝없음에 관하여
40 피부를 판 남자
41 노웨어 스페셜
42 창애: 짐승 잡는 덫
43 필로포비아
44 기억의 시간
45 하우스 오브 구찌
46 블랙 위도우
47 카페 뤼미에르
48 마이 뉴욕 다이어리
49 태일이
50 웨스트 사이드 스토리

In [230]:
import requests
from bs4 import BeautifulSoup
URL = "https://weather.com/ko-KR/weather/monthly/l/b757e0078b0b1350973ea8930d24ef111c7b8457939f4e2046fc8bbe48119f17"
response = requests.get(URL)
soup = BeautifulSoup(response.text, "html.parser")
result = soup.select(".title")

In [235]:
URL = 'https://weather.com/ko-KR/weather/monthly/l/b757e0078b0b1350973ea8930d24ef111c7b8457939f4e2046fc8bbe48119f17'
response = requests.get(URL)
html = BeautifulSoup(response.text, 'html.parser')
date = html.select('.Calendar--gridWrapper--1oa1f button')
date[0].select('.CalendarDateCell--date--3Fw3h')[0].text

'28'

In [236]:
tempHigh = html.select('.CalendarDateCell--tempHigh--2VBba')
tempHigh = html.select('.CalendarDateCell--tempLow--2Cs14')

In [237]:
URL = "https://scrapying-study.firebaseapp.com/03/"
response=requests.get(URL)
html=BeautifulSoup(response.text,"html.parser")
user = []
lis= html.select("div.sale_box")

for div in lis:
    temp = {}
    temp["이름"] = div.select_one("a").text
    temp["분양가"] = div.select("dd")[0].select_one("strong").text.replace(",","")
    temp["유형"] = div.select("dd")[1].text
    temp["분양유형"] = div.select("dd")[1].select_one("span").text
    temp["세대수"] = div.select("dd")[2].text
    temp["평형"] = div.select("dd")[2].select_one("span").text    
    user.append(temp)
user

[{'이름': 'H하우스장위',
  '분양가': '16000',
  '유형': '아파트|일반민간임대',
  '분양유형': '|',
  '세대수': '분양 134세대|45㎡~65㎡',
  '평형': '|'},
 {'이름': '고덕리엔파크2단지 장기전세',
  '분양가': '38400',
  '유형': '아파트|장기전세주택',
  '분양유형': '|',
  '세대수': '분양 1세대|149㎡',
  '평형': '|'},
 {'이름': '신정이펜하우스3단지 장기전세',
  '분양가': '39040',
  '유형': '아파트|장기전세주택',
  '분양유형': '|',
  '세대수': '분양 1세대|148㎡',
  '평형': '|'},
 {'이름': '천왕이펜하우스2단지 장기전세',
  '분양가': '38240',
  '유형': '아파트|장기전세주택',
  '분양유형': '|',
  '세대수': '분양 1세대|142㎡',
  '평형': '|'},
 {'이름': '송파파크데일2단지 장기전세',
  '분양가': '45600',
  '유형': '아파트|장기전세주택',
  '분양유형': '|',
  '세대수': '분양 1세대|150㎡',
  '평형': '|'}]

In [241]:
URL = 'https://weather.com/ko-KR/weather/monthly/l/b757e0078b0b1350973ea8930d24ef111c7b8457939f4e2046fc8bbe48119f17'
response = requests.get(URL)
html = BeautifulSoup(response.text, 'html.parser')
date = html.select('.Calendar--gridWrapper--1oa1f button')
date[0].select('.CalendarDateCell--date--3Fw3h')[0].text
tempHigh = html.select('.CalendarDateCell--tempHigh--2VBba')
tempHigh = html.select('.CalendarDateCell--tempLow--2Cs14')

In [244]:
print()

In [245]:
URL = 'https://weather.com/ko-KR/weather/monthly/l/b757e0078b0b1350973ea8930d24ef111c7b8457939f4e2046fc8bbe48119f17'
response = requests.get(URL)
html = BeautifulSoup(response.text, 'html.parser')
btns = html.select('.Calendar--gridWrapper--1oa1f > button')
len(btns)

35

In [253]:
titles = ["날짜", "최고기온", "최저기온"]

for btn in btns:
    spans = btn.select('span') 
    if spans[1].text != "--":
        print(f"날짜 {spans[0].text}")
        print(f"최고기온 {spans[1].text}")
        print(f"최저기온 {spans[2].text}")

날짜 30
최고기온 8°
최저기온 -2°
날짜 1
최고기온 1°
최저기온 -7°
날짜 2
최고기온 6°
최저기온 1°
날짜 3
최고기온 4°
최저기온 -5°
날짜 4
최고기온 7°
최저기온 -5°
날짜 5
최고기온 10°
최저기온 -4°
날짜 6
최고기온 12°
최저기온 0°
날짜 7
최고기온 13°
최저기온 -1°
날짜 8
최고기온 13°
최저기온 -1°
날짜 9
최고기온 10°
최저기온 2°
날짜 10
최고기온 8°
최저기온 1°
날짜 11
최고기온 9°
최저기온 -1°
날짜 12
최고기온 5°
최저기온 -7°
날짜 13
최고기온 2°
최저기온 -3°
날짜 14
최고기온 9°
최저기온 4°
날짜 15
최고기온 11°
최저기온 0°
날짜 16
최고기온 10°
최저기온 -4°
날짜 17
최고기온 -2°
최저기온 -12°
날짜 18
최고기온 -1°
최저기온 -6°
날짜 19
최고기온 4°
최저기온 -3°
날짜 20
최고기온 11°
최저기온 0°
날짜 21
최고기온 9°
최저기온 -5°
날짜 22
최고기온 8°
최저기온 -6°
날짜 23
최고기온 9°
최저기온 -1°
날짜 24
최고기온 3°
최저기온 -12°
날짜 25
최고기온 -7°
최저기온 -15°
날짜 26
최고기온 -6°
최저기온 -15°
날짜 27
최고기온 -2°
최저기온 -11°
날짜 28
최고기온 0°
최저기온 -7°
날짜 30
최고기온 -1°
최저기온 -12°
날짜 31
최고기온 -3°
최저기온 -11°
날짜 1
최고기온 1°
최저기온 -4°