In [1]:
print("Hello World")

Hello World

In [3]:
data = "15.79"
data = float(data)
print(data, type(data))

15.79 <class 'float'>

In [5]:
license_plate = "24가 2210"
print(license_plate[-4:])

2

In [9]:
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [13]:
letters = 'python'
print(letters[0], letters[2])

p t

In [14]:
string = "PYTHON"
print(replace)

NameError: name 'replace' is not defined

In [15]:
string = "PYTHON"
print(string[::-1])

NOHTYP

In [19]:
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", "")
print(phone_number1)

01011112222

In [21]:
url = "http://sharebook.kr"
url_split = url.split('.')
print(url_split[-1])

kr

In [22]:
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [23]:
string = 'abcdfe2a354a32a'
string = string.replace('a', 'A')
print(string)

Abcdfe2A354A32A

In [25]:
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [26]:
a = "3"
b = "4"
print(a + b)

34

In [27]:
print("Hi" * 3)

HiHiHi

In [28]:
print("-" * 80)

--------------------------------------------------------------------------------

In [34]:
t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

python java python java python java python java

In [38]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름:"" name1 "나이" age1)

SyntaxError: invalid syntax (Temp/ipykernel_8840/18648544.py, line 5)

In [39]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [40]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [41]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [42]:
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",", "")

In [43]:
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",", "")
타입변환 = int(컴마제거)
print(타입변환, type(타입변환))

5969782550 <class 'int'>

In [47]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [49]:
data = "   삼성전자    "
data = data.replace("   ", "")
print(data)

삼성전자

In [50]:
data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자

In [51]:
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",", "")
타입변환 = 
print(int(상장주식수))

ValueError: invalid literal for int() with base 10: '5,969,782,550'

In [52]:
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",", "")
타입변환 = int(컴마제거)
print(타입변환, type(타입변환))

5969782550 <class 'int'>