In [4]:
print("Hello World")

Hello World

In [5]:
print("Mary's cosmetics")

Mary's cosmetics

In [13]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [16]:
print( "C:|Windows")

C:|Windows

In [21]:
print("안녕하세요. \n만나서\t\t반갑습니다")

안녕하세요.
만나서		반갑습니다

In [22]:
print ("오늘은", "일요일")

오늘은 일요일

In [25]:
print("naver", "kakao", "samsung", sep=";")

naver;kakao;samsung

In [26]:
print("naver;kakao;samsung")

naver;kakao;samsung

In [28]:
print("naver", "kakao", "sk", "samsung", sep="/")

naver/kakao/sk/samsung

In [29]:
print("first");print("second")

first
second

In [30]:
print("first", end=""); print("second")

firstsecond

In [31]:
print("first", end="")

first

In [32]:
print("first")

first

In [33]:
print("5\3")

5

In [37]:
print("5/3")

5/3

In [47]:
삼성전자 = 50000
총평가금액 = 50000 * 10
print(총평가금액)

500000

In [51]:
삼성전자 = "298", "50000", "15.79" 
시가총액 = 298
현재가 = 50000
PER = "15.70"
print(시가총액, 현재가, PER, sep="\n")

298
50000
15.70

In [53]:
시가총액 = 298000000000000
현재가 = 5000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER)

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_17640/886078918.py, line 6)

In [57]:
s = "hello"
t = "python"
print("hello! python")

hello! python

In [63]:
s = "hello"
t = "python"
print(s+"!", t)

hello! python

In [68]:
2 + (2 * 3)

8

In [70]:
a = "132"
print(type(a))

<class 'str'>

In [71]:
num_str = "720"
replace("")

In [72]:
num_str = "720"  #형변환
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [73]:
num = 100
result = str(num)
print(result, type(result))

100 <class 'str'>

In [75]:
num = "15.79"
result = float
print(result)

<class 'float'>

In [76]:
data = "15.79"
data = float(data)
print(data, type(data))

15.79 <class 'float'>

In [78]:
year = "2020"
year = int(year)
print(year, type(int))

2020 <class 'type'>

In [80]:
year = "2020"
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2017
2018
2019

In [81]:
48584 * 36

1749024

In [85]:
월 = 48584
총금액 = 월 * 36
print(총금액)

1749024

In [87]:
a = 132
print(type(a))

<class 'int'>

In [88]:
num_str = "720"
num_str = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [90]:
num_str = "720"
num_str = int(num_str)
print(int(num_str))

720

In [92]:
num = 100
num = str(100)
print(num +1, str(100))

TypeError: can only concatenate str (not "int") to str

In [93]:
num = 100
result = str(num)
print(result, type(result))

100 <class 'str'>

In [94]:
str = "15,79"
result = float("15,79")
print(result, type(result))

ValueError: could not convert string to float: '15,79'

In [96]:
str = "15,79"
str = float("15,79")
print("str)

ValueError: could not convert string to float: '15,79'

In [97]:
data = "15.79"
data = float(data)
print(data, type(data))

15.79 <class 'float'>

In [101]:
num_str = "720"  #형변환
num_int = int(num_str)
print(num_int, type(num_int))

720 <class 'int'>

In [104]:
num = 100
result = str(100)
print(result, type(result))

TypeError: 'str' object is not callable

In [106]:
num = 100
result = str(num)
print(result, type(result))

TypeError: 'str' object is not callable

In [1]:
num = 100
result = str(num)
print(result, type(result))

100 <class 'str'>

In [2]:
num = 100
result = str(num)
print(result, type(result))

100 <class 'str'>

In [2]:
data = "15,79"
data = float(data)
print(data, type(data))

ValueError: could not convert string to float: '15,79'

In [3]:
data = "15.79"
data = float(data)
print(data, type(data))

15.79 <class 'float'>

In [7]:
data = "15,79"
data = float(data)
print(data, type(data))

ValueError: could not convert string to float: '15,79'