In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("titanic_train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [21]:
Age_avg=df['Age'].sum()/891
Age_avg

23.79929292929293

In [67]:
df.groupby('Pclass')

In [60]:
df.groupby("Sex")['Survived'].sum()

Sex
female    233
male      109
Name: Survived, dtype: int64

In [71]:
df.groupby('Pclass')['Servived'].sum()

KeyError: 'Column not found: Servived'

In [62]:
def set_age_range(a):
    if a < 10:
        return "유아"
    elif a < 20:
        return "10대"
    elif a < 30:
        return "20대"
    elif a < 40:
        return "30대"
    elif a < 50:
        return "40대"
    elif a < 60:
        return "50대"
    elif a < 70:
        return "60대"
    else: 
        return "노인"

In [70]:
df.groupby('Age_Range')['Servived'].sum()

KeyError: 'Age_Range'