In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [20]:
df = pd.read_csv('kr_daily.csv')
df.head()

       date  confirmed  death  released  candidate  negative
0  20200121          1      0         0          0         0
1  20200122          1      0         0          0         0
2  20200123          1      0         0          0         0
3  20200124          2      0         0          0         0
4  20200125          2      0         0          0         0

In [18]:
plt.bar('10대', '20대', '30대', '40대', '50대', '60대', '노인'), [np.df]

TypeError: bar() takes from 2 to 4 positional arguments but 7 were given

In [ ]:
def set_age_range(a):
    if a < 10:
        return "유아"
    elif a < 20:
        return "10대"
    elif a < 30:
        return "20대"
    elif a < 40:
        return "30대"
    elif a < 50:
        return "40대"
    elif a < 60:
        return "50대"
    elif a < 70:
        return "60대"
    else:
        return "노인"