In [1]:
import pandas as pd

In [5]:
x = [1, 2, "Three", 4, 5]
x = pd.Series(x)
x

0        1
1        2
2    Three
3        4
4        5
dtype: object

In [6]:
x[0]

1

In [8]:
type(x[1:3])

pandas.core.series.Series

In [10]:
x = x[::-1]
x

4        5
3        4
2    Three
1        2
0        1
dtype: object

In [12]:
x = [1, 2, 3, 4, 5]
x = pd.Series(x)
x

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [14]:
x[x > 3]

3    4
4    5
dtype: int64

In [15]:
x + 1

0    2
1    3
2    4
3    5
4    6
dtype: int64

In [16]:
x * 10

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [17]:
x + x

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [19]:
x = [1, 2, 3, 4, 5]
x = pd.Series(x)
x[::-1]

4    5
3    4
2    3
1    2
0    1
dtype: int64

In [20]:
x.index

RangeIndex(start=0, stop=5, step=1)

In [21]:
x.values

array([1, 2, 3, 4, 5], dtype=int64)

In [23]:
x = [1, 2, 3, 4, 5]
x = pd.Series(x, index=['a', 'b', 'c', 'd', 'e'])
x

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [24]:
x['a']

1

In [25]:
x[0]

1

In [27]:
sub = x[[0, 1]]
print(sub)
print(type(sub))

a    1
b    2
dtype: int64
<class 'pandas.core.series.Series'>

In [28]:
x[['c', 'e']]

c    3
e    5
dtype: int64

In [29]:
x.a

1

In [30]:
x = {"수학":90, "영어":80, "과학":95, "미술":80}
x = pd.Series(x)
x

수학    90
영어    80
과학    95
미술    80
dtype: int64

In [31]:
x.index

Index(['수학', '영어', '과학', '미술'], dtype='object')

In [33]:
x.수학

90

In [36]:
x['수학']

90

In [37]:
x[0]

90

In [38]:
x['영어':]

영어    80
과학    95
미술    80
dtype: int64

In [39]:
x['영어':'미술']

영어    80
과학    95
미술    80
dtype: int64

In [40]:
x[1:3]

영어    80
과학    95
dtype: int64

In [41]:
x['미술']

80

In [42]:
type(x)

pandas.core.series.Series

In [46]:
x = pd.Series(x, index=['수학', '영어', '과학'])
x

수학    <property object at 0x000001A2FC5A7360>
영어    <property object at 0x000001A2FC5A7360>
과학                                        NaN
Name: <property object at 0x000001A2FC5A7310>, dtype: object

In [47]:
student_1 = {"수학":90,"영어":80,"과학":95,"미술":80}
student_2 = {"수학":70,"영어":90,"과학":100,"미술":70}

In [53]:
index_1 = ["홍길동" for i in range(len(student_1))] + ["이몽룡" for i in range(len(student_2))]

In [62]:
index_2 = [i for iinstudent_1] + [i for iinstudent_2]

SyntaxError: invalid syntax (Temp/ipykernel_29052/2487622148.py, line 1)

In [58]:
value+all = list(student_1.values()) + list(student_2.values())

SyntaxError: cannot assign to operator (Temp/ipykernel_29052/1044465964.py, line 1)

In [59]:
index_1

['홍길동', '홍길동', '홍길동', '홍길동', '이몽룡', '이몽룡', '이몽룡', '이몽룡']

In [64]:
student_1={"수학":90,"영어":80,"과학":95,"미술":80}
student_2={"수학":70,"영어":90,"과학":100,"미술":70}

In [96]:
ndex_1 = ["홍길동" for i in range(len(student_1))]+["이몽룡" for i in range(len(student_2))]

In [98]:
index_2 = [i for i in student_1]+[i for i in student_2]

In [90]:
value_all = list(student_1.values()) + list(student_2.values())

In [97]:
students = pd.Series(value_all,index = [index_1,index_2])

In [92]:
index_1

['홍길동', '홍길동', '홍길동', '홍길동', '이몽룡', '이몽룡', '이몽룡', '이몽룡']

In [93]:
index_2

['수학', '영어', '과학', '미술', '수학', '영어', '과학', '미술']

In [94]:
value_all

[90, 80, 95, 80, 70, 90, 100, 70]

In [95]:
students

홍길동  수학     90
     영어     80
     과학     95
     미술     80
이몽룡  수학     70
     영어     90
     과학    100
     미술     70
dtype: int64

In [80]:
students.index

MultiIndex([('홍길동', '수학'),
            ('홍길동', '영어'),
            ('홍길동', '과학'),
            ('홍길동', '미술'),
            ('이몽룡', '수학'),
            ('이몽룡', '영어'),
            ('이몽룡', '과학'),
            ('이몽룡', '미술')],
           )

In [101]:
import numpy as np

In [104]:
x = [1, None, 2, None, 3, 4, None]
x = np.array(x)
x = pd.Series(x)
x

0       1
1    None
2       2
3    None
4       3
5       4
6    None
dtype: object

In [105]:
print(x.isnull().sum())

3

In [106]:
x.notnull().sum()

4

In [109]:
x.dropna()

0    1
2    2
4    3
5    4
dtype: object

In [114]:
x.dropna(inplace=True)

In [115]:
x

0    1
2    2
4    3
5    4
dtype: object

In [116]:
x = [1, None, 2, None, 3, 4, None]
x = np.array(x)
x = pd.Series(x)
x

0       1
1    None
2       2
3    None
4       3
5       4
6    None
dtype: object

In [118]:
x = pd.Series([1, 2, 3])
y = pd.Series([4, 5, 6])
z = pd.Series([7, 8, 9])
print(x)
print(y)
print(z)

0    1
1    2
2    3
dtype: int64
0    4
1    5
2    6
dtype: int64
0    7
1    8
2    9
dtype: int64

In [119]:
pd.concat([x, y, z])

0    1
1    2
2    3
0    4
1    5
2    6
0    7
1    8
2    9
dtype: int64

In [120]:
pd.concat([x, y, z], verify_integrity=True)

ValueError: Indexes have overlapping values: Int64Index([0, 1, 2], dtype='int64')

In [121]:
pd.concat([x, y, z], ignore_index=True)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [126]:
df = pd.concat([x, y, z], ignore_index=True, axis=1)
print(df)
print(type(df))

   0  1  2
0  1  4  7
1  2  5  8
2  3  6  9
<class 'pandas.core.frame.DataFrame'>

In [127]:
x = pd.Series([1, 2, 3, 4])
y = pd.Series([4, 5, 6])
z = pd.Series([7, 8, 9])

In [128]:
pd.concat([x, y, z], axis=1)

   0    1    2
0  1  4.0  7.0
1  2  5.0  8.0
2  3  6.0  9.0
3  4  NaN  NaN

In [130]:
pd.concat([x, y, z]), axis=1, join="inner"

SyntaxError: cannot assign to function call (Temp/ipykernel_29052/4240214020.py, line 1)

In [131]:
x = pd.Series([1, 2, 3, 4, 5])
y = pd.Series([6, 7, 8, 9, 0])

In [133]:
x.add(10)

0    11
1    12
2    13
3    14
4    15
dtype: int64

In [140]:
x.mod(3)

0    1
1    2
2    0
3    1
4    2
dtype: int64

In [136]:
x.div(3)

0    0.333333
1    0.666667
2    1.000000
3    1.333333
4    1.666667
dtype: float64

In [139]:
x.floordiv(3)

0    0
1    0
2    1
3    1
4    1
dtype: int64

In [142]:
x.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [146]:
x = pd.Series([26, 10, 25, 27, 29, 1, 2])
x.describe()

count     7.000000
mean     17.142857
std      12.375090
min       1.000000
25%       6.000000
50%      25.000000
75%      26.500000
max      29.000000
dtype: float64

In [148]:
x.head(3)

0    26
1    10
2    25
dtype: int64

In [149]:
x.tail()

2    25
3    27
4    29
5     1
6     2
dtype: int64

In [150]:
pd.date_range(start='2022-01-01', end='2022-01-07')

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07'],
              dtype='datetime64[ns]', freq='D')

In [151]:
pd.date_range(start='2022-01-01', periods=7)

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07'],
              dtype='datetime64[ns]', freq='D')

In [152]:
pd.date_range(start='2022-01-01', periods=7, freq='2D')

DatetimeIndex(['2022-01-01', '2022-01-03', '2022-01-05', '2022-01-07',
               '2022-01-09', '2022-01-11', '2022-01-13'],
              dtype='datetime64[ns]', freq='2D')

In [155]:
pd.date_range(start='2022-01-01', periods=7, freq='W')

DatetimeIndex(['2022-01-02', '2022-01-09', '2022-01-16', '2022-01-23',
               '2022-01-30', '2022-02-06', '2022-02-13'],
              dtype='datetime64[ns]', freq='W-SUN')

In [157]:
x = pd.Series(['2020-01-02 03:45', '2021-12-24 23:59'])
x

0    2020-01-02 03:45
1    2021-12-24 23:59
dtype: object

In [158]:
x = pd.to_datetime(['2020-01-02 03:45', '2021-12-24 23:59'])

In [160]:
x + pd.DateOffset(1)

DatetimeIndex(['2020-01-03 03:45:00', '2021-12-25 23:59:00'], dtype='datetime64[ns]', freq=None)

In [161]:
x.year

Int64Index([2020, 2021], dtype='int64')

In [162]:
x.year

Int64Index([2020, 2021], dtype='int64')

In [163]:
x.weekday

Int64Index([3, 4], dtype='int64')

In [164]:
x.month

Int64Index([1, 12], dtype='int64')

In [165]:
x - pd.to_datetime("2020-02-12 15:39")

TimedeltaIndex(['-42 days +12:06:00', '681 days 08:20:00'], dtype='timedelta64[ns]', freq=None)

In [184]:
x = [np.nan,1,2,3,4,5]
y = pd.Series([x[np.random.randint(0,6)]for i in range(20)])

In [181]:
x

DatetimeIndex(['2020-01-02 03:45:00', '2021-12-24 23:59:00'], dtype='datetime64[ns]', freq=None)

In [189]:
y

0     4.0
1     2.0
2     2.0
3     2.0
4     5.0
5     4.0
6     2.0
7     3.0
8     4.0
9     5.0
10    1.0
11    5.0
12    NaN
13    5.0
14    1.0
15    1.0
16    3.0
17    5.0
18    NaN
19    2.0
dtype: float64

In [190]:
y.dropna()

0     4.0
1     2.0
2     2.0
3     2.0
4     5.0
5     4.0
6     2.0
7     3.0
8     4.0
9     5.0
10    1.0
11    5.0
13    5.0
14    1.0
15    1.0
16    3.0
17    5.0
19    2.0
dtype: float64

In [193]:
y.isnull().sum()

2

In [194]:
y.dropna()

0     4.0
1     2.0
2     2.0
3     2.0
4     5.0
5     4.0
6     2.0
7     3.0
8     4.0
9     5.0
10    1.0
11    5.0
13    5.0
14    1.0
15    1.0
16    3.0
17    5.0
19    2.0
dtype: float64

In [195]:
y.mean()

3.111111111111111

In [197]:
y.fillna(y.mean())

0     4.000000
1     2.000000
2     2.000000
3     2.000000
4     5.000000
5     4.000000
6     2.000000
7     3.000000
8     4.000000
9     5.000000
10    1.000000
11    5.000000
12    3.111111
13    5.000000
14    1.000000
15    1.000000
16    3.000000
17    5.000000
18    3.111111
19    2.000000
dtype: float64

In [204]:
a = pd.Series([103, 500000, 370000], ['판매량', '매출', '순이익'])
b = pd.Series([70, 300000, 190000], ['판매량', '매출', '순이익'])
c = pd.Series([130, 400000, 190000], ['판매량', '매출', '순이익'])
df = pd.DataFrame([a, b, c], index=[2015, 2016, 2017])

In [207]:
x = pd.to_datetime(['2020-01-02 03:45', '2021-12-24 23:59'])
x

DatetimeIndex(['2020-01-02 03:45:00', '2021-12-24 23:59:00'], dtype='datetime64[ns]', freq=None)