In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame(np.random.randint(1,100, size=(4, 4), index=[['A', 'A', 'B', 'B'],['a', 'a', 'b', 'b'],['a', 'b', 'a', 'b']], 
                  columns=[['가가', '가가', '나나', '나나'],['가','나','가','나']])

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_9716/3673250915.py, line 2)

In [4]:
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 4)), index=[['A','A','B','B'],['a','b','a','b']],

columns=[['가가','가가','나나','나나'],['가','나','가','나']])

In [5]:
df

     가가      나나
      가   나   가   나
A a  56  63  58  30
  b  83  38  34  77
B a  12  78  29  95
  b  38  77  99   4

In [6]:
df['가가']

      가   나
A a  56  63
  b  83  38
B a  12  78
  b  38  77

In [7]:
df.loc['A']

   가가      나나
    가   나   가   나
a  56  63  58  30
b  83  38  34  77

In [10]:
df = pd.DataFrame(np.random.randint(1, 100, size=(8, 2)),
index=[['A창고','A창고','A창고','A창고','B창고','B창고','B창고','B창
고'],
 ['사과','배','바나나','사과','사과','배','바나나','배']],
columns=['판매','재고'])

SyntaxError: EOL while scanning string literal (Temp/ipykernel_9716/3696643985.py, line 2)

In [12]:
df.index.names = ['창고명','상품명']

In [13]:
df

         가가      나나
          가   나   가   나
창고명 상품명
A   a    56  63  58  30
    b    83  38  34  77
B   a    12  78  29  95
    b    38  77  99   4

In [14]:
df.groupby('창고명').sum()

      가가        나나
       가    나    가    나
창고명
A    139  101   92  107
B     50  155  128   99

In [19]:
for sub_df in df.groupby('창고명'):
    print(sub_df)

('A',          가가      나나
          가   나   가   나
창고명 상품명
A   a    56  63  58  30
    b    83  38  34  77)
('B',          가가      나나
          가   나   가   나
창고명 상품명
B   a    12  78  29  95
    b    38  77  99   4)

In [18]:
df.groupby ('상품명').sum()

      가가        나나
       가    나    가    나
상품명
a     68  141   87  125
b    121  115  133   81

In [20]:
df.groupby(['창고명', '상품명'])

In [23]:
for sub in df.groupby(['창고명', '상품명']):
    print(sub)

(('A', 'a'),          가가      나나
          가   나   가   나
창고명 상품명
A   a    56  63  58  30)
(('A', 'b'),          가가      나나
          가   나   가   나
창고명 상품명
A   b    83  38  34  77)
(('B', 'a'),          가가      나나
          가   나   가   나
창고명 상품명
B   a    12  78  29  95)
(('B', 'b'),          가가      나나
          가   나   가  나
창고명 상품명
B   b    38  77  99  4)

In [51]:
df = pd.DataFrame(np.random.randint{1, 100, size=(15, 3),
                  index=[['1학년' for i in range(5)] + ['2학년' for i in range(5)] + ['3학년' for i in range(5)]],
                         [f"{i}반" for i in range(1, 6)] +  [f"{i}반" for i in range(1, 6)] +  [f"{i}반" for i in range(1, 6)],
                  colums=['국어', '영어', '화학']}

SyntaxError: invalid syntax (Temp/ipykernel_9716/889577831.py, line 1)

In [30]:
df = pd.DataFrame(np.random.randint(1, 100 size=(15, 3)

SyntaxError: invalid syntax (Temp/ipykernel_9716/2589796242.py, line 1)

In [36]:
df["총점"] = df["국어"] + df["국어"] + df["과학"]

KeyError: '국어'

In [1]:
df = pd.DataFrame(np.random.randint((1, 100, size=(15, 3)),
                  index=[['1학년' for i in range(5)] + ['2학년' for i in range(5)] + ['3학년' for i in range(5)]],
                         [f"{i}반" for i in range(1, 6)] +  [f"{i}반" for i in range(1, 6)] +  [f"{i}반" for i in range(1, 6)],
                  colums=['국어', '영어', '화학'])

SyntaxError: invalid syntax (Temp/ipykernel_2776/2546438627.py, line 1)

In [7]:
df = pd.read_tsv(workspace/chipotle.tsv)

NameError: name 'pd' is not defined

In [ ]:
df = pd.read_csv("titanic_train.csv")
df.info()