In [8]:
docs = ["오늘 동물원에서 원숭이를 봤어", 
       "오늘 동물원에서 코끼리를 봤어 봤어",
       "동물원에서 원숭이에게 바나나를 줬어 바나나를"]

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vect = TfidfVectorizer()
tfidf = tfidf_vect.fit_transform(docs)
tfidf

<3x8 sparse matrix of type '<class 'numpy.float64'>'
	with 12 stored elements in Compressed Sparse Row format>

In [10]:
type(tfidf)

scipy.sparse.csr.csr_matrix

In [11]:
tfidf.todense()

matrix([[0.37311881, 0.        , 0.4804584 , 0.4804584 , 0.63174505,
         0.        , 0.        , 0.        ],
        [0.28680065, 0.        , 0.73861611, 0.36930805, 0.        ,
         0.        , 0.        , 0.48559571],
        [0.2344005 , 0.79374908, 0.        , 0.        , 0.        ,
         0.39687454, 0.39687454, 0.        ]])

In [12]:
tfidf_vect.get_feature_names_out()

array(['동물원에서', '바나나를', '봤어', '오늘', '원숭이를', '원숭이에게', '줬어', '코끼리를'],
      dtype=object)

In [13]:
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer

count_vect = CountVectorizer()
BoW = count_vect.fit_transform(docs)
BoW.todense()
tfidf_vect = TfidfTransformer()
tfidf = tfidf_vect.fit_transform(BoW)
tfidf.todense()

matrix([[0.37311881, 0.        , 0.4804584 , 0.4804584 , 0.63174505,
         0.        , 0.        , 0.        ],
        [0.28680065, 0.        , 0.73861611, 0.36930805, 0.        ,
         0.        , 0.        , 0.48559571],
        [0.2344005 , 0.79374908, 0.        , 0.        , 0.        ,
         0.39687454, 0.39687454, 0.        ]])

In [14]:
import pandas as pd

vocab = count_vect.get_feature_names_out()
pd.DataFrame(tfidf.todense(), columns=vocab)
model = TfidfModel(TDM)
tfidf = model[TDM]
tfidf[0]

NameError: name 'TfidfModel' is not defined

In [15]:
import gensim
from gensim import corpora
from gensim.models import TfidfModel

doc_ls = [doc.split() for doc in docs]
id2word = corpora.Dictionary(doc_ls)
TDM = [id2word.doc2bow(doc) for doc in doc_ls]
TDM

[[(0, 1), (1, 1), (2, 1), (3, 1)],
 [(0, 1), (1, 2), (2, 1), (4, 1)],
 [(0, 1), (5, 2), (6, 1), (7, 1)]]

In [16]:
for key in id2word.keys():
    print("{} : {}".format(key, id2word[key]))

0 : 동물원에서
1 : 봤어
2 : 오늘
3 : 원숭이를
4 : 코끼리를
5 : 바나나를
6 : 원숭이에게
7 : 줬어

In [17]:
type(tfidf)

scipy.sparse.csr.csr_matrix

In [18]:
from gensim.matutils import sparse2full

vocab = [id2word[key] for key in id2word.keys()]
DTM_matrix = [sparse2full(doc, len(vocab)).tolist() for doc in tfidf]
pd.DataFrame(DTM_matrix, columns=vocab)

ValueError: not enough values to unpack (expected 2, got 1)

In [19]:
import re

import requests
from bs4 import BeautifulSoup
from konlpy.tag import Hannanum, Kkma, Komoran, Mecab, Okt
hannanum = Hannanum()
kkma = Kkma()
komoran = Komoran()
mecab = Mecab()
okt = Okt()

In [20]:
url = "https://news.naver.com/main/read.naver?mode=LSD&mid=sec&sid1=105&oid=018&aid=0004430108"
headers = {"user-agent":"Mozilla/5.0"}
response = requests.get(url, headers=headers)
html = BeautifulSoup(response.text, 'html.parser')

In [21]:
article = html.select_one("#articleBodyContents").text
article

'\n\n\n\n\n과기정통부, 22일 유영민 장관 등 참석해 기념행사2021년까지 1516억원 투입, 5100여종 데이터 구축민간 클라우드 통한 외부연계체계도.."개방성 강화"[이데일리 이재운 기자] 국가 차원의 빅데이터 활용 시대가 열린다. 새로운 산업 창출과 기존 산업의 변화에 이르는 ‘혁신성장’을 위한 센터가 문을 연다. 10개 분야에 걸쳐 ‘데이터 경제’의 발전을 위한 정부의 청사진을 현실로 구현하는데 앞장선다는 계획이다.22일 과학기술정보통신부는 서울 중구 대한상공회의소에서 데이터 생태계 조성과 혁신 성장의 기반 마련을 위한 ‘빅데이터 플랫폼 및 센터’ 출범식 행사를 개최했다. 유영민 과기정통부 장관을 비롯해 노웅래 국회 과학기술정보방송통신위원회 위원장 등 300여명이 참가했다.◇10개 분야 100개 센터..3년간 1516억원 투입이미지: 픽사베이빅데이터는 데이터 활용을 통해 혁신성장을 이루자는 문재인 정부의 경제 성장 핵심 요소중 하나다. 문재인 대통령이 직접 올 들어 데이터 활용과 이에 따른 정보보호(보안)에 대한 중요성을 강조하기도 했다.이런 맥락 속에서 빅데이터센터는 공공과 민간이 협업해 활용도 높은 양질의 데이터를 생산·구축하고, 플랫폼은 이를 수집·분석·유통하는 역할을 담당한다. 과기정통부는 분야별 플랫폼 10개소와 이와 연계된 기관별 센터 100개소를 구축하는데 3년간 총 1516억원을 투입할 계획이며, 올해 우선 640억원 규모의 사업을 추진하고 있다.대상 분야는 △금융(BC카드) △환경(한국수자원공사) △문화(한국문화정보원) △교통(한국교통연구원) △헬스케어(국립암센터) △유통·소비(매일방송) △통신(KT) △중소기업(더존비즈온) △지역경제(경기도청) △산림(한국임업진흥원) 등으로 현재 1차 공모를 통해 72개 빅데이터 센터를 선정했고, 다음달 8일까지 2차 공모를 통해 28개를 추가 선정해 총 100개를 지원, 운영할 계획이다. 이를 통해 데이터 생태계를 혁신하고 기업의 경쟁력을 제고하는 역할을 수행한다.주요 활용 전략·사례를 보면 빅데이터 활용을 통해 ‘신(新) 시장’을 창출하는 방안을 담고 있다. 금융 플랫폼의 경우 소상공인 신용평가 고도화 등을 통해 금융 취약 계층 대상 중금리 대출이자를 2%p 절감해 연간 1조원의 신규대출을 창출할 전망이다. 유통·소비와 중소기업 플랫폼은 소상공인이나 중소기업의 폐업률 감소를, 문화 플랫폼은 문화·예술 관람률과 생활체육 참여율을 높이는 방안을 모색한다. 의료비 절감(헬스케어)과 기업의 매출 향상을 통한 산업 육성(통신·산림) 등도 눈길을 끈다.과기정통부 제공◇2021년까지 5100여종 데이터 구축..AI 알고리즘 제공도센터는 우선 분야별 데이터 부족 문제를 해소하기 위해 올해 말까지 시장 수요가 높은 1400여종 신규 데이터를 생산ㆍ구축하고, 사업이 완료되는 2021년까지 총 5100여종 양질의 풍부한 데이터를 생산·구축해 시장에 공급할 계획이다.특히 공공과 민간 사이 데이터 파일형식 등이 달라 호환이 제대로 이뤄지지 못한 문제를 해소하기 위해 개방형 표준을 적용하고, 품질관리기준도 마련해 운영한다.기업들이 실제 활용 가능한 최신 데이터를 확보하는데도 수개월이 소요된다는 문제점을 개선하기 위한 방안도 추진한다. 센터와 플랫폼 간 연계체계에는 민간 클라우드를 기반으로 활용하고, 센터에 축적된 데이터도 계속 외부와 개방·공유하며 최신·연속성을 확보한다는 계획이다.100개 센터에서 수집된 데이터를 융합·분석한 뒤 맞춤형 데이터 제작 등 양질의 데이터로 재생산하고, 기업들이 필요로 하는 데이터를 원하는 형태로 즉시 활용할 수 있도록 제공할 계획이다. 다양한 분석 도구는 물론 인공지능(AI) 학습 알고리즘도 제공해 이용자가 보다 사용하기 편리한 환경을 제공한다.이밖에 필요한 데이터를 쉽게 등록하고 검색할 수 있도록 기준을 마련하고, 데이터 보유와 관리에 대한 체계(거버넌스)를 논의하는 ‘데이터 얼라이언스’를 구성해 보다 안전하게 이용하는 방안도 마련했다.유영민 과기정통부 장관은 “오늘 출범식은 대한민국이 데이터 강국으로 가기 위한 초석을 놓은 자리”라며 “세계 주요국들보다 데이터 경제로 나아가는 발걸음이 다소 늦었지만, 빅데이터 플랫폼과 센터를 지렛대로 우리나라의 낙후된 데이터 생태계를 혁신하고 기업의 경쟁력을 한 단계 제고할 수 있도록 정책적 역량을 집중하겠다”고 밝혔다.이재운 (jwlee@edaily.co.kr)네이버 홈에서 ‘이데일리’ 뉴스 [구독하기▶]꿀잼가득 [영상보기▶] , 청춘뉘우스~ [스냅타임▶]＜ⓒ종합 경제정보 미디어 이데일리 - 무단전재 & 재배포 금지＞\n\n'

In [22]:
from nltk import sent_tokenize

sentences = sent_tokenize(article)
len(sentences)

12

In [23]:
sentence = sentences[0].strip()
sentence

'과기정통부, 22일 유영민 장관 등 참석해 기념행사2021년까지 1516억원 투입, 5100여종 데이터 구축민간 클라우드 통한 외부연계체계도.."개방성 강화"[이데일리 이재운 기자] 국가 차원의 빅데이터 활용 시대가 열린다.'

In [24]:
word2id = {}

for i in range(len(sentences)):
    sentence = sentences[i].strip()
    docs = mecab.morphs(sentence)
    doc_ls = [doc.split() for doc in docs]
    pos_tagged = mecab.pos(sentence)
    nouns = []
    for word, pos in pos_tagged:
        if pos[0] == 'N':
            nouns.append(word)
    for doc in doc_ls:
        for token in doc:
            if token not in word2id:
                word2id[token]=len(word2id)
    print(nouns)
print(word2id)

['과기', '정통부', '일', '유영민', '장관', '등', '참석', '기념행사', '년', '억', '원', '투입', '여종', '데이터', '구축', '민간', '클라우드', '외부', '연계', '체계', '개방', '강화', '데일리', '이재운', '기자', '국가', '차원', '빅', '데이터', '활용', '시대']
['산업', '창출', '기존', '산업', '변화', '혁신', '장', '센터', '문']
['개', '분야', '데이터', '경제', '발전', '정부', '청사진', '현실', '구현', '데', '계획', '일', '과학', '기술', '정보', '통신부', '서울', '중구', '대한', '상공', '회의소', '데이터', '생태', '조성', '혁신', '성장', '기반', '마련', '빅', '데이터', '플랫', '폼', '센터', '출범식', '행사', '개최']
['유영민', '과기', '정통부', '장관', '노웅래', '국회', '과학', '기술', '정보', '방송', '통신', '위원회', '위원장', '등', '명', '참가', '개', '분야', '개', '센터', '년', '간', '억', '원', '투입', '이미지', '픽사', '베이', '빅', '데이터', '데이터', '활용', '혁신', '장', '문재', '정부', '경제', '성장', '핵심', '요소', '중', '하나']
['문재인', '대통령', '데이터', '활용', '이', '정보', '보호', '보안', '중요', '강조', '맥락', '속', '빅', '데이터', '센터', '공공', '민간', '협업', '활용', '양질', '데이터', '생산', '구축', '플랫', '폼', '이', '수집', '분석', '유통', '역할', '담당']
['과기', '정통부', '분야', '플랫', '폼', '개소', '이', '연계', '기관', '센터', '개소', '구축', '데', '년', '억', '원', '투입', '계획', '올해', '억', '원', '규모', '사업', '추진', '대상', '분야', '금융', '카드', '환경', '한국', '수자원', '공사', '문화', '한국', '문화', '정보원', '교통', '한국', '교통', '연구원', '헬', '스케어', '국립암센터', '유통', '소비', '매일', '방송', '통신', '중소기업', '비즈', '지역', '경제', '경기도', '청', '산림', '한국', '임업', '흥원', '등', '차', '공모', '개', '빅', '데이터', '센터', '선정', '다음', '달', '일', '차', '공모', '개', '추가', '선정', '개', '지원', '운영', '계획']
['이', '데이터', '생태계', '혁신', '기업', '경쟁력', '제고', '역할', '수행', '주요', '활용', '전략', '사례', '빅', '데이터', '활용', '신', '新', '시장', '창출', '방안']
['금융', '플랫', '폼', '경우', '소', '상공', '신용', '평가', '고도', '등', '금융', '취약', '계층', '대상', '중', '금리', '대출', '절감', '연간', '조', '원', '신규', '대출', '창출', '전망']
['유통', '소비', '중소기업', '플랫', '폼', '소상', '공인', '중소기업', '폐업', '감소', '문화', '플랫', '폼', '문화', '예술', '관람', '생활', '체육', '참여', '방안', '모색']
['의료비', '절감', '헬스', '케어', '기업', '매출', '향상', '산업', '육성', '통신', '산림', '등', '눈길', '과기', '정통부', '제공', '년', '여종', '데이터', '구축', '알고리즘', '제공', '센터', '분야', '데이터', '부족', '문제', '해소', '올해', '말', '시장', '수요', '여종', '신규', '데이터', '생산', '구축', '사업', '완료', '년', '여종', '양질', '데이터', '생산', '구축', '시장', '공급', '계획', '공공', '민간', '사이', '데이터', '파일', '형식', '등', '호환', '문제', '해소', '개방', '표준', '적용', '품질', '관리', '기준', '마련', '운영', '기업', '실제', '활용', '가능', '최신', '데이터', '확보', '데', '수개월', '소요', '문제점', '개선', '방안', '추진']
['센터', '플랫폼', '간', '연계', '체계', '민간', '클라우드', '기반', '활용', '센터', '축적', '데이터', '외부', '개방', '공유', '최신', '연속', '확보', '계획', '개', '센터', '수집', '데이터', '융합', '분석', '뒤', '맞춤', '데이터', '제작', '등', '양질', '데이터', '생산', '기업', '필요', '데이터', '형태', '활용', '수', '제공', '계획']
['분석', '도구', '인공지능', '학습', '알고리즘', '제공', '이용자', '사용', '편리', '환경', '제공', '밖', '필요', '데이터', '등록', '검색', '수', '기준', '마련', '데이터', '보유', '관리', '체계', '거버넌스', '논의', '데이터', '얼라이언스', '구성', '이용', '방안', '마련', '유영민', '과기', '정통부', '장관', '오늘', '출범식', '대한민국', '데이터', '강국', '초석', '자리', '세계', '주요', '국', '데이터', '경제', '발걸음', '빅', '데이터', '플랫', '폼', '센터', '지렛대', '우리나라', '낙후', '데이터', '생태계', '혁신', '기업', '경쟁력', '단계', '제고', '수', '정책', '역량', '집중', '이재운', '네이버', '홈', '데일리', '뉴스', '구독', '꿀', '잼', '영상', '청춘', '뉘', '우스', '스냅', '타임', '종합', '경제', '정보', '미디어', '데일리', '무단', '전재', '배포', '금지']
{'과기': 0, '정통부': 1, ',': 2, '22': 3, '일': 4, '유영민': 5, '장관': 6, '등': 7, '참석': 8, '해': 9, '기념행사': 10, '2021': 11, '년': 12, '까지': 13, '1516': 14, '억': 15, '원': 16, '투입': 17, '5100': 18, '여종': 19, '데이터': 20, '구축': 21, '민간': 22, '클라우드': 23, '통한': 24, '외부': 25, '연계': 26, '체계': 27, '도': 28, '.': 29, '."': 30, '개방': 31, '성': 32, '강화': 33, '"[': 34, '이': 35, '데일리': 36, '이재운': 37, '기자': 38, ']': 39, '국가': 40, '차원': 41, '의': 42, '빅': 43, '활용': 44, '시대': 45, '가': 46, '열린다': 47, '새로운': 48, '산업': 49, '창출': 50, '과': 51, '기존': 52, '변화': 53, '에': 54, '이르': 55, '는': 56, '‘': 57, '혁신': 58, '장': 59, '’': 60, '을': 61, '위한': 62, '센터': 63, '문': 64, '연다': 65, '10': 66, '개': 67, '분야': 68, '걸쳐': 69, '경제': 70, '발전': 71, '정부': 72, '청사진': 73, '현실': 74, '로': 75, '구현': 76, '하': 77, '데': 78, '앞장선다는': 79, '계획': 80, '다': 81, '과학': 82, '기술': 83, '정보': 84, '통신부': 85, '서울': 86, '중구': 87, '대한': 88, '상공': 89, '회의소': 90, '에서': 91, '생태': 92, '계': 93, '조성': 94, '성장': 95, '기반': 96, '마련': 97, '플랫': 98, '폼': 99, '및': 100, '출범식': 101, '행사': 102, '를': 103, '개최': 104, '했': 105, '비롯': 106, '노웅래': 107, '국회': 108, '방송': 109, '통신': 110, '위원회': 111, '위원장': 112, '300': 113, '여': 114, '명': 115, '참가': 116, '◇': 117, '100': 118, '3': 119, '간': 120, '이미지': 121, ':': 122, '픽사': 123, '베이': 124, '통해': 125, '이루': 126, '자는': 127, '문재': 128, '인': 129, '핵심': 130, '요소': 131, '중': 132, '하나': 133, '문재인': 134, '대통령': 135, '직접': 136, '올': 137, '들': 138, '어': 139, '따른': 140, '보호': 141, '(': 142, '보안': 143, ')': 144, '중요': 145, '강조': 146, '기': 147, '이런': 148, '맥락': 149, '속': 150, '공공': 151, '협업': 152, '높': 153, '은': 154, '양질': 155, '생산': 156, '·': 157, '고': 158, '수집': 159, '분석': 160, '유통': 161, '역할': 162, '담당': 163, '한다': 164, '별': 165, '개소': 166, '와': 167, '된': 168, '기관': 169, '총': 170, '할': 171, '며': 172, '올해': 173, '우선': 174, '640': 175, '규모': 176, '사업': 177, '추진': 178, '있': 179, '대상': 180, '△': 181, '금융': 182, 'BC': 183, '카드': 184, '환경': 185, '한국': 186, '수자원': 187, '공사': 188, '문화': 189, '정보원': 190, '교통': 191, '연구원': 192, '헬': 193, '스케어': 194, '국립암센터': 195, '소비': 196, '매일': 197, 'KT': 198, '중소기업': 199, '더': 200, '존': 201, '비즈': 202, '온': 203, '지역': 204, '경기도': 205, '청': 206, '산림': 207, '임업': 208, '진': 209, '흥원': 210, '으로': 211, '현재': 212, '1': 213, '차': 214, '공모': 215, '72': 216, '선정': 217, '다음': 218, '달': 219, '8': 220, '2': 221, '28': 222, '추가': 223, '지원': 224, '운영': 225, '생태계': 226, '기업': 227, '경쟁력': 228, '제고': 229, '수행': 230, '주요': 231, '전략': 232, '사례': 233, '보': 234, '면': 235, '신': 236, '新': 237, '시장': 238, '방안': 239, '담': 240, '경우': 241, '소': 242, '신용': 243, '평가': 244, '고도': 245, '화': 246, '취약': 247, '계층': 248, '금리': 249, '대출': 250, '자를': 251, '%': 252, 'p': 253, '절감': 254, '연간': 255, '조': 256, '신규': 257, '전망': 258, '소상': 259, '공인': 260, '이나': 261, '폐업': 262, '률': 263, '감소': 264, '예술': 265, '관람': 266, '생활': 267, '체육': 268, '참여': 269, '율': 270, '높이': 271, '모색': 272, '의료비': 273, '헬스': 274, '케어': 275, '매출': 276, '향상': 277, '육성': 278, '눈길': 279, '끈다': 280, '제공': 281, 'AI': 282, '알고리즘': 283, '부족': 284, '문제': 285, '해소': 286, '위해': 287, '말': 288, '수요': 289, '1400': 290, 'ㆍ': 291, '완료': 292, '되': 293, '풍부': 294, '한': 295, '공급': 296, '특히': 297, '사이': 298, '파일': 299, '형식': 300, '달라': 301, '호환': 302, '제대로': 303, '이뤄지지': 304, '못한': 305, '형': 306, '표준': 307, '적용': 308, '품질': 309, '관리': 310, '기준': 311, '실제': 312, '가능': 313, '최신': 314, '확보': 315, '수개월': 316, '소요': 317, '된다는': 318, '문제점': 319, '개선': 320, '플랫폼': 321, '축적': 322, '계속': 323, '공유': 324, '연속': 325, '한다는': 326, '융합': 327, '뒤': 328, '맞춤': 329, '제작': 330, '재': 331, '필요': 332, '원하': 333, '형태': 334, '즉시': 335, '수': 336, '도록': 337, '다양': 338, '도구': 339, '물론': 340, '인공지능': 341, '학습': 342, '이용자': 343, '보다': 344, '사용': 345, '편리': 346, '밖': 347, '쉽': 348, '게': 349, '등록': 350, '검색': 351, '보유': 352, '거버넌스': 353, '논의': 354, '얼라이언스': 355, '구성': 356, '안': 357, '전하': 358, '이용': 359, '“': 360, '오늘': 361, '대한민국': 362, '강국': 363, '초석': 364, '놓': 365, '자리': 366, '”': 367, '라며': 368, '세계': 369, '국': 370, '나아가': 371, '발걸음': 372, '다소': 373, '늦': 374, '었': 375, '지만': 376, '지렛대': 377, '우리나라': 378, '낙후': 379, '단계': 380, '정책': 381, '적': 382, '역량': 383, '집중': 384, '겠': 385, '밝혔': 386, 'jwlee': 387, '@': 388, 'edaily': 389, 'co': 390, 'kr': 391, '네이버': 392, '홈': 393, '뉴스': 394, '[': 395, '구독': 396, '▶]': 397, '꿀': 398, '잼': 399, '가득': 400, '영상': 401, '청춘': 402, '뉘': 403, '우스': 404, '~': 405, '스냅': 406, '타임': 407, '▶]＜ⓒ': 408, '종합': 409, '미디어': 410, '-': 411, '무단': 412, '전재': 413, '&': 414, '배포': 415, '금지': 416, '＞': 417}

In [25]:
DTM = np.zeros((len(doc_ls), len(word2id)), dtype=int)
DTM

NameError: name 'np' is not defined

In [ ]:
mecab.morphs(sentence)

In [26]:
words = mecab.pos(sentence)
words

[('다양', 'XR'),
 ('한', 'XSA+ETM'),
 ('분석', 'NNG'),
 ('도구', 'NNG'),
 ('는', 'JX'),
 ('물론', 'MAG'),
 ('인공지능', 'NNP'),
 ('(', 'SSO'),
 ('AI', 'SL'),
 (')', 'SSC'),
 ('학습', 'NNG'),
 ('알고리즘', 'NNG'),
 ('도', 'JX'),
 ('제공', 'NNG'),
 ('해', 'XSV+EC'),
 ('이용자', 'NNP'),
 ('가', 'JKS'),
 ('보다', 'MAG'),
 ('사용', 'NNG'),
 ('하', 'XSV'),
 ('기', 'ETN'),
 ('편리', 'NNG'),
 ('한', 'XSA+ETM'),
 ('환경', 'NNG'),
 ('을', 'JKO'),
 ('제공', 'NNG'),
 ('한다', 'XSV+EF'),
 ('.', 'SF'),
 ('이', 'MM'),
 ('밖', 'NNG'),
 ('에', 'JKB'),
 ('필요', 'NNG'),
 ('한', 'XSA+ETM'),
 ('데이터', 'NNG'),
 ('를', 'JKO'),
 ('쉽', 'VA'),
 ('게', 'EC'),
 ('등록', 'NNG'),
 ('하', 'XSV'),
 ('고', 'EC'),
 ('검색', 'NNG'),
 ('할', 'XSV+ETM'),
 ('수', 'NNB'),
 ('있', 'VV'),
 ('도록', 'EC'),
 ('기준', 'NNG'),
 ('을', 'JKO'),
 ('마련', 'NNG'),
 ('하', 'XSV'),
 ('고', 'EC'),
 (',', 'SC'),
 ('데이터', 'NNG'),
 ('보유', 'NNG'),
 ('와', 'JC'),
 ('관리', 'NNG'),
 ('에', 'JKB'),
 ('대한', 'VV+ETM'),
 ('체계', 'NNG'),
 ('(', 'SSO'),
 ('거버넌스', 'NNP'),
 (')', 'SSC'),
 ('를', 'JKO'),
 ('논의', 'NNG'),
 ('하', 'XSV'),
 ('는', 'ETM'),
 ('‘', 'SY'),
 ('데이터', 'NNG'),
 ('얼라이언스', 'NNP'),
 ('’', 'SY'),
 ('를', 'JKO'),
 ('구성', 'NNG'),
 ('해', 'XSV+EC'),
 ('보다', 'MAG'),
 ('안', 'MAG'),
 ('전하', 'VV'),
 ('게', 'EC'),
 ('이용', 'NNG'),
 ('하', 'XSV'),
 ('는', 'ETM'),
 ('방안', 'NNG'),
 ('도', 'JX'),
 ('마련', 'NNG'),
 ('했', 'XSV+EP'),
 ('다', 'EF'),
 ('.', 'SF'),
 ('유영민', 'NNP'),
 ('과기', 'NNG'),
 ('정통부', 'NNG'),
 ('장관', 'NNG'),
 ('은', 'JX'),
 ('“', 'SSO'),
 ('오늘', 'NNG'),
 ('출범식', 'NNG'),
 ('은', 'JX'),
 ('대한민국', 'NNP'),
 ('이', 'JKS'),
 ('데이터', 'NNG'),
 ('강국', 'NNG'),
 ('으로', 'JKB'),
 ('가', 'VV'),
 ('기', 'ETN'),
 ('위한', 'VV+ETM'),
 ('초석', 'NNG'),
 ('을', 'JKO'),
 ('놓', 'VV'),
 ('은', 'ETM'),
 ('자리', 'NNG'),
 ('”', 'SSC'),
 ('라며', 'VCP+EC'),
 ('“', 'SSO'),
 ('세계', 'NNG'),
 ('주요', 'NNG'),
 ('국', 'NNG'),
 ('들', 'XSN'),
 ('보다', 'JKB'),
 ('데이터', 'NNG'),
 ('경제', 'NNG'),
 ('로', 'JKB'),
 ('나아가', 'VV'),
 ('는', 'ETM'),
 ('발걸음', 'NNG'),
 ('이', 'JKS'),
 ('다소', 'MAG'),
 ('늦', 'VA'),
 ('었', 'EP'),
 ('지만', 'EC'),
 (',', 'SC'),
 ('빅', 'NNG'),
 ('데이터', 'NNG'),
 ('플랫', 'NNG'),
 ('폼', 'NNG'),
 ('과', 'JC'),
 ('센터', 'NNG'),
 ('를', 'JKO'),
 ('지렛대', 'NNG'),
 ('로', 'JKB'),
 ('우리나라', 'NNG'),
 ('의', 'JKG'),
 ('낙후', 'NNG'),
 ('된', 'XSV+ETM'),
 ('데이터', 'NNG'),
 ('생태계', 'NNG'),
 ('를', 'JKO'),
 ('혁신', 'NNG'),
 ('하', 'XSV'),
 ('고', 'EC'),
 ('기업', 'NNG'),
 ('의', 'JKG'),
 ('경쟁력', 'NNG'),
 ('을', 'JKO'),
 ('한', 'VV+ETM'),
 ('단계', 'NNG'),
 ('제고', 'NNG'),
 ('할', 'XSV+ETM'),
 ('수', 'NNB'),
 ('있', 'VV'),
 ('도록', 'EC'),
 ('정책', 'NNG'),
 ('적', 'XSN'),
 ('역량', 'NNG'),
 ('을', 'JKO'),
 ('집중', 'NNG'),
 ('하', 'XSV'),
 ('겠', 'EP'),
 ('다', 'EC'),
 ('”', 'SSC'),
 ('고', 'JKQ'),
 ('밝혔', 'VV+EP'),
 ('다', 'EF'),
 ('.', 'SF'),
 ('이재운', 'NNP'),
 ('(', 'SSO'),
 ('jwlee', 'SL'),
 ('@', 'SY'),
 ('edaily', 'SL'),
 ('.', 'SY'),
 ('co', 'SL'),
 ('.', 'SY'),
 ('kr', 'SL'),
 (')', 'SSC'),
 ('네이버', 'NNP'),
 ('홈', 'NNG'),
 ('에서', 'JKB'),
 ('‘', 'SY'),
 ('이', 'JKS'),
 ('데일리', 'NNP'),
 ('’', 'SY'),
 ('뉴스', 'NNG'),
 ('[', 'SSO'),
 ('구독', 'NNG'),
 ('하', 'XSV'),
 ('기', 'ETN'),
 ('▶]', 'SY'),
 ('꿀', 'NNG'),
 ('잼', 'NNG'),
 ('가득', 'MAG'),
 ('[', 'SSO'),
 ('영상', 'NNG'),
 ('보', 'VV'),
 ('기', 'ETN'),
 ('▶]', 'SY'),
 (',', 'SC'),
 ('청춘', 'NNG'),
 ('뉘', 'NNG'),
 ('우스', 'NNG'),
 ('~', 'SY'),
 ('[', 'SSO'),
 ('스냅', 'NNG'),
 ('타임', 'NNG'),
 ('▶]＜ⓒ', 'SY'),
 ('종합', 'NNG'),
 ('경제', 'NNG'),
 ('정보', 'NNG'),
 ('미디어', 'NNG'),
 ('이', 'MM'),
 ('데일리', 'NNP'),
 ('-', 'SY'),
 ('무단', 'NNG'),
 ('전재', 'NNG'),
 ('&', 'SY'),
 ('재', 'XPN'),
 ('배포', 'NNG'),
 ('금지', 'NNG'),
 ('＞', 'SY')]

In [27]:
nv_word = []
for n in words:
    if n[1] == 'NNP' or n[1] == 'NNG':
        print(n[0])
        nv_word.append(n[0])
print(nv_word)

분석
도구
인공지능
학습
알고리즘
제공
이용자
사용
편리
환경
제공
밖
필요
데이터
등록
검색
기준
마련
데이터
보유
관리
체계
거버넌스
논의
데이터
얼라이언스
구성
이용
방안
마련
유영민
과기
정통부
장관
오늘
출범식
대한민국
데이터
강국
초석
자리
세계
주요
국
데이터
경제
발걸음
빅
데이터
플랫
폼
센터
지렛대
우리나라
낙후
데이터
생태계
혁신
기업
경쟁력
단계
제고
정책
역량
집중
이재운
네이버
홈
데일리
뉴스
구독
꿀
잼
영상
청춘
뉘
우스
스냅
타임
종합
경제
정보
미디어
데일리
무단
전재
배포
금지
['분석', '도구', '인공지능', '학습', '알고리즘', '제공', '이용자', '사용', '편리', '환경', '제공', '밖', '필요', '데이터', '등록', '검색', '기준', '마련', '데이터', '보유', '관리', '체계', '거버넌스', '논의', '데이터', '얼라이언스', '구성', '이용', '방안', '마련', '유영민', '과기', '정통부', '장관', '오늘', '출범식', '대한민국', '데이터', '강국', '초석', '자리', '세계', '주요', '국', '데이터', '경제', '발걸음', '빅', '데이터', '플랫', '폼', '센터', '지렛대', '우리나라', '낙후', '데이터', '생태계', '혁신', '기업', '경쟁력', '단계', '제고', '정책', '역량', '집중', '이재운', '네이버', '홈', '데일리', '뉴스', '구독', '꿀', '잼', '영상', '청춘', '뉘', '우스', '스냅', '타임', '종합', '경제', '정보', '미디어', '데일리', '무단', '전재', '배포', '금지']

In [28]:
import nltk
from nltk import bigrams, word_tokenize
from nltk.util import ngrams

In [29]:
bigram_list = bigrams(mecab.morphs(sentence))
bigram_list

In [30]:
for token in bigram_list:
    print(token)

('다양', '한')
('한', '분석')
('분석', '도구')
('도구', '는')
('는', '물론')
('물론', '인공지능')
('인공지능', '(')
('(', 'AI')
('AI', ')')
(')', '학습')
('학습', '알고리즘')
('알고리즘', '도')
('도', '제공')
('제공', '해')
('해', '이용자')
('이용자', '가')
('가', '보다')
('보다', '사용')
('사용', '하')
('하', '기')
('기', '편리')
('편리', '한')
('한', '환경')
('환경', '을')
('을', '제공')
('제공', '한다')
('한다', '.')
('.', '이')
('이', '밖')
('밖', '에')
('에', '필요')
('필요', '한')
('한', '데이터')
('데이터', '를')
('를', '쉽')
('쉽', '게')
('게', '등록')
('등록', '하')
('하', '고')
('고', '검색')
('검색', '할')
('할', '수')
('수', '있')
('있', '도록')
('도록', '기준')
('기준', '을')
('을', '마련')
('마련', '하')
('하', '고')
('고', ',')
(',', '데이터')
('데이터', '보유')
('보유', '와')
('와', '관리')
('관리', '에')
('에', '대한')
('대한', '체계')
('체계', '(')
('(', '거버넌스')
('거버넌스', ')')
(')', '를')
('를', '논의')
('논의', '하')
('하', '는')
('는', '‘')
('‘', '데이터')
('데이터', '얼라이언스')
('얼라이언스', '’')
('’', '를')
('를', '구성')
('구성', '해')
('해', '보다')
('보다', '안')
('안', '전하')
('전하', '게')
('게', '이용')
('이용', '하')
('하', '는')
('는', '방안')
('방안', '도')
('도', '마련')
('마련', '했')
('했', '다')
('다', '.')
('.', '유영민')
('유영민', '과기')
('과기', '정통부')
('정통부', '장관')
('장관', '은')
('은', '“')
('“', '오늘')
('오늘', '출범식')
('출범식', '은')
('은', '대한민국')
('대한민국', '이')
('이', '데이터')
('데이터', '강국')
('강국', '으로')
('으로', '가')
('가', '기')
('기', '위한')
('위한', '초석')
('초석', '을')
('을', '놓')
('놓', '은')
('은', '자리')
('자리', '”')
('”', '라며')
('라며', '“')
('“', '세계')
('세계', '주요')
('주요', '국')
('국', '들')
('들', '보다')
('보다', '데이터')
('데이터', '경제')
('경제', '로')
('로', '나아가')
('나아가', '는')
('는', '발걸음')
('발걸음', '이')
('이', '다소')
('다소', '늦')
('늦', '었')
('었', '지만')
('지만', ',')
(',', '빅')
('빅', '데이터')
('데이터', '플랫')
('플랫', '폼')
('폼', '과')
('과', '센터')
('센터', '를')
('를', '지렛대')
('지렛대', '로')
('로', '우리나라')
('우리나라', '의')
('의', '낙후')
('낙후', '된')
('된', '데이터')
('데이터', '생태계')
('생태계', '를')
('를', '혁신')
('혁신', '하')
('하', '고')
('고', '기업')
('기업', '의')
('의', '경쟁력')
('경쟁력', '을')
('을', '한')
('한', '단계')
('단계', '제고')
('제고', '할')
('할', '수')
('수', '있')
('있', '도록')
('도록', '정책')
('정책', '적')
('적', '역량')
('역량', '을')
('을', '집중')
('집중', '하')
('하', '겠')
('겠', '다')
('다', '”')
('”', '고')
('고', '밝혔')
('밝혔', '다')
('다', '.')
('.', '이재운')
('이재운', '(')
('(', 'jwlee')
('jwlee', '@')
('@', 'edaily')
('edaily', '.')
('.', 'co')
('co', '.')
('.', 'kr')
('kr', ')')
(')', '네이버')
('네이버', '홈')
('홈', '에서')
('에서', '‘')
('‘', '이')
('이', '데일리')
('데일리', '’')
('’', '뉴스')
('뉴스', '[')
('[', '구독')
('구독', '하')
('하', '기')
('기', '▶]')
('▶]', '꿀')
('꿀', '잼')
('잼', '가득')
('가득', '[')
('[', '영상')
('영상', '보')
('보', '기')
('기', '▶]')
('▶]', ',')
(',', '청춘')
('청춘', '뉘')
('뉘', '우스')
('우스', '~')
('~', '[')
('[', '스냅')
('스냅', '타임')
('타임', '▶]＜ⓒ')
('▶]＜ⓒ', '종합')
('종합', '경제')
('경제', '정보')
('정보', '미디어')
('미디어', '이')
('이', '데일리')
('데일리', '-')
('-', '무단')
('무단', '전재')
('전재', '&')
('&', '재')
('재', '배포')
('배포', '금지')
('금지', '＞')

In [31]:
trigram_list = ngrams(mecab.morphs(sentence), 3)
trigram_list

In [32]:
for token in trigram_list:
    print(token)

('다양', '한', '분석')
('한', '분석', '도구')
('분석', '도구', '는')
('도구', '는', '물론')
('는', '물론', '인공지능')
('물론', '인공지능', '(')
('인공지능', '(', 'AI')
('(', 'AI', ')')
('AI', ')', '학습')
(')', '학습', '알고리즘')
('학습', '알고리즘', '도')
('알고리즘', '도', '제공')
('도', '제공', '해')
('제공', '해', '이용자')
('해', '이용자', '가')
('이용자', '가', '보다')
('가', '보다', '사용')
('보다', '사용', '하')
('사용', '하', '기')
('하', '기', '편리')
('기', '편리', '한')
('편리', '한', '환경')
('한', '환경', '을')
('환경', '을', '제공')
('을', '제공', '한다')
('제공', '한다', '.')
('한다', '.', '이')
('.', '이', '밖')
('이', '밖', '에')
('밖', '에', '필요')
('에', '필요', '한')
('필요', '한', '데이터')
('한', '데이터', '를')
('데이터', '를', '쉽')
('를', '쉽', '게')
('쉽', '게', '등록')
('게', '등록', '하')
('등록', '하', '고')
('하', '고', '검색')
('고', '검색', '할')
('검색', '할', '수')
('할', '수', '있')
('수', '있', '도록')
('있', '도록', '기준')
('도록', '기준', '을')
('기준', '을', '마련')
('을', '마련', '하')
('마련', '하', '고')
('하', '고', ',')
('고', ',', '데이터')
(',', '데이터', '보유')
('데이터', '보유', '와')
('보유', '와', '관리')
('와', '관리', '에')
('관리', '에', '대한')
('에', '대한', '체계')
('대한', '체계', '(')
('체계', '(', '거버넌스')
('(', '거버넌스', ')')
('거버넌스', ')', '를')
(')', '를', '논의')
('를', '논의', '하')
('논의', '하', '는')
('하', '는', '‘')
('는', '‘', '데이터')
('‘', '데이터', '얼라이언스')
('데이터', '얼라이언스', '’')
('얼라이언스', '’', '를')
('’', '를', '구성')
('를', '구성', '해')
('구성', '해', '보다')
('해', '보다', '안')
('보다', '안', '전하')
('안', '전하', '게')
('전하', '게', '이용')
('게', '이용', '하')
('이용', '하', '는')
('하', '는', '방안')
('는', '방안', '도')
('방안', '도', '마련')
('도', '마련', '했')
('마련', '했', '다')
('했', '다', '.')
('다', '.', '유영민')
('.', '유영민', '과기')
('유영민', '과기', '정통부')
('과기', '정통부', '장관')
('정통부', '장관', '은')
('장관', '은', '“')
('은', '“', '오늘')
('“', '오늘', '출범식')
('오늘', '출범식', '은')
('출범식', '은', '대한민국')
('은', '대한민국', '이')
('대한민국', '이', '데이터')
('이', '데이터', '강국')
('데이터', '강국', '으로')
('강국', '으로', '가')
('으로', '가', '기')
('가', '기', '위한')
('기', '위한', '초석')
('위한', '초석', '을')
('초석', '을', '놓')
('을', '놓', '은')
('놓', '은', '자리')
('은', '자리', '”')
('자리', '”', '라며')
('”', '라며', '“')
('라며', '“', '세계')
('“', '세계', '주요')
('세계', '주요', '국')
('주요', '국', '들')
('국', '들', '보다')
('들', '보다', '데이터')
('보다', '데이터', '경제')
('데이터', '경제', '로')
('경제', '로', '나아가')
('로', '나아가', '는')
('나아가', '는', '발걸음')
('는', '발걸음', '이')
('발걸음', '이', '다소')
('이', '다소', '늦')
('다소', '늦', '었')
('늦', '었', '지만')
('었', '지만', ',')
('지만', ',', '빅')
(',', '빅', '데이터')
('빅', '데이터', '플랫')
('데이터', '플랫', '폼')
('플랫', '폼', '과')
('폼', '과', '센터')
('과', '센터', '를')
('센터', '를', '지렛대')
('를', '지렛대', '로')
('지렛대', '로', '우리나라')
('로', '우리나라', '의')
('우리나라', '의', '낙후')
('의', '낙후', '된')
('낙후', '된', '데이터')
('된', '데이터', '생태계')
('데이터', '생태계', '를')
('생태계', '를', '혁신')
('를', '혁신', '하')
('혁신', '하', '고')
('하', '고', '기업')
('고', '기업', '의')
('기업', '의', '경쟁력')
('의', '경쟁력', '을')
('경쟁력', '을', '한')
('을', '한', '단계')
('한', '단계', '제고')
('단계', '제고', '할')
('제고', '할', '수')
('할', '수', '있')
('수', '있', '도록')
('있', '도록', '정책')
('도록', '정책', '적')
('정책', '적', '역량')
('적', '역량', '을')
('역량', '을', '집중')
('을', '집중', '하')
('집중', '하', '겠')
('하', '겠', '다')
('겠', '다', '”')
('다', '”', '고')
('”', '고', '밝혔')
('고', '밝혔', '다')
('밝혔', '다', '.')
('다', '.', '이재운')
('.', '이재운', '(')
('이재운', '(', 'jwlee')
('(', 'jwlee', '@')
('jwlee', '@', 'edaily')
('@', 'edaily', '.')
('edaily', '.', 'co')
('.', 'co', '.')
('co', '.', 'kr')
('.', 'kr', ')')
('kr', ')', '네이버')
(')', '네이버', '홈')
('네이버', '홈', '에서')
('홈', '에서', '‘')
('에서', '‘', '이')
('‘', '이', '데일리')
('이', '데일리', '’')
('데일리', '’', '뉴스')
('’', '뉴스', '[')
('뉴스', '[', '구독')
('[', '구독', '하')
('구독', '하', '기')
('하', '기', '▶]')
('기', '▶]', '꿀')
('▶]', '꿀', '잼')
('꿀', '잼', '가득')
('잼', '가득', '[')
('가득', '[', '영상')
('[', '영상', '보')
('영상', '보', '기')
('보', '기', '▶]')
('기', '▶]', ',')
('▶]', ',', '청춘')
(',', '청춘', '뉘')
('청춘', '뉘', '우스')
('뉘', '우스', '~')
('우스', '~', '[')
('~', '[', '스냅')
('[', '스냅', '타임')
('스냅', '타임', '▶]＜ⓒ')
('타임', '▶]＜ⓒ', '종합')
('▶]＜ⓒ', '종합', '경제')
('종합', '경제', '정보')
('경제', '정보', '미디어')
('정보', '미디어', '이')
('미디어', '이', '데일리')
('이', '데일리', '-')
('데일리', '-', '무단')
('-', '무단', '전재')
('무단', '전재', '&')
('전재', '&', '재')
('&', '재', '배포')
('재', '배포', '금지')
('배포', '금지', '＞')

In [33]:
doc_ls = [doc.split() for doc in docs]
doc_ls

[['다양'],
 ['한'],
 ['분석'],
 ['도구'],
 ['는'],
 ['물론'],
 ['인공지능'],
 ['('],
 ['AI'],
 [')'],
 ['학습'],
 ['알고리즘'],
 ['도'],
 ['제공'],
 ['해'],
 ['이용자'],
 ['가'],
 ['보다'],
 ['사용'],
 ['하'],
 ['기'],
 ['편리'],
 ['한'],
 ['환경'],
 ['을'],
 ['제공'],
 ['한다'],
 ['.'],
 ['이'],
 ['밖'],
 ['에'],
 ['필요'],
 ['한'],
 ['데이터'],
 ['를'],
 ['쉽'],
 ['게'],
 ['등록'],
 ['하'],
 ['고'],
 ['검색'],
 ['할'],
 ['수'],
 ['있'],
 ['도록'],
 ['기준'],
 ['을'],
 ['마련'],
 ['하'],
 ['고'],
 [','],
 ['데이터'],
 ['보유'],
 ['와'],
 ['관리'],
 ['에'],
 ['대한'],
 ['체계'],
 ['('],
 ['거버넌스'],
 [')'],
 ['를'],
 ['논의'],
 ['하'],
 ['는'],
 ['‘'],
 ['데이터'],
 ['얼라이언스'],
 ['’'],
 ['를'],
 ['구성'],
 ['해'],
 ['보다'],
 ['안'],
 ['전하'],
 ['게'],
 ['이용'],
 ['하'],
 ['는'],
 ['방안'],
 ['도'],
 ['마련'],
 ['했'],
 ['다'],
 ['.'],
 ['유영민'],
 ['과기'],
 ['정통부'],
 ['장관'],
 ['은'],
 ['“'],
 ['오늘'],
 ['출범식'],
 ['은'],
 ['대한민국'],
 ['이'],
 ['데이터'],
 ['강국'],
 ['으로'],
 ['가'],
 ['기'],
 ['위한'],
 ['초석'],
 ['을'],
 ['놓'],
 ['은'],
 ['자리'],
 ['”'],
 ['라며'],
 ['“'],
 ['세계'],
 ['주요'],
 ['국'],
 ['들'],
 ['보다'],
 ['데이터'],
 ['경제'],
 ['로'],
 ['나아가'],
 ['는'],
 ['발걸음'],
 ['이'],
 ['다소'],
 ['늦'],
 ['었'],
 ['지만'],
 [','],
 ['빅'],
 ['데이터'],
 ['플랫'],
 ['폼'],
 ['과'],
 ['센터'],
 ['를'],
 ['지렛대'],
 ['로'],
 ['우리나라'],
 ['의'],
 ['낙후'],
 ['된'],
 ['데이터'],
 ['생태계'],
 ['를'],
 ['혁신'],
 ['하'],
 ['고'],
 ['기업'],
 ['의'],
 ['경쟁력'],
 ['을'],
 ['한'],
 ['단계'],
 ['제고'],
 ['할'],
 ['수'],
 ['있'],
 ['도록'],
 ['정책'],
 ['적'],
 ['역량'],
 ['을'],
 ['집중'],
 ['하'],
 ['겠'],
 ['다'],
 ['”'],
 ['고'],
 ['밝혔'],
 ['다'],
 ['.'],
 ['이재운'],
 ['('],
 ['jwlee'],
 ['@'],
 ['edaily'],
 ['.'],
 ['co'],
 ['.'],
 ['kr'],
 [')'],
 ['네이버'],
 ['홈'],
 ['에서'],
 ['‘'],
 ['이'],
 ['데일리'],
 ['’'],
 ['뉴스'],
 ['['],
 ['구독'],
 ['하'],
 ['기'],
 ['▶]'],
 ['꿀'],
 ['잼'],
 ['가득'],
 ['['],
 ['영상'],
 ['보'],
 ['기'],
 ['▶]'],
 [','],
 ['청춘'],
 ['뉘'],
 ['우스'],
 ['~'],
 ['['],
 ['스냅'],
 ['타임'],
 ['▶]＜ⓒ'],
 ['종합'],
 ['경제'],
 ['정보'],
 ['미디어'],
 ['이'],
 ['데일리'],
 ['-'],
 ['무단'],
 ['전재'],
 ['&'],
 ['재'],
 ['배포'],
 ['금지'],
 ['＞']]

In [34]:
word2id = {}

index = 0
for doc in doc_ls:
    for token in doc:
        if token not in word2id:
            word2id[token] = index
            index += 1

word2id

{'다양': 0,
 '한': 1,
 '분석': 2,
 '도구': 3,
 '는': 4,
 '물론': 5,
 '인공지능': 6,
 '(': 7,
 'AI': 8,
 ')': 9,
 '학습': 10,
 '알고리즘': 11,
 '도': 12,
 '제공': 13,
 '해': 14,
 '이용자': 15,
 '가': 16,
 '보다': 17,
 '사용': 18,
 '하': 19,
 '기': 20,
 '편리': 21,
 '환경': 22,
 '을': 23,
 '한다': 24,
 '.': 25,
 '이': 26,
 '밖': 27,
 '에': 28,
 '필요': 29,
 '데이터': 30,
 '를': 31,
 '쉽': 32,
 '게': 33,
 '등록': 34,
 '고': 35,
 '검색': 36,
 '할': 37,
 '수': 38,
 '있': 39,
 '도록': 40,
 '기준': 41,
 '마련': 42,
 ',': 43,
 '보유': 44,
 '와': 45,
 '관리': 46,
 '대한': 47,
 '체계': 48,
 '거버넌스': 49,
 '논의': 50,
 '‘': 51,
 '얼라이언스': 52,
 '’': 53,
 '구성': 54,
 '안': 55,
 '전하': 56,
 '이용': 57,
 '방안': 58,
 '했': 59,
 '다': 60,
 '유영민': 61,
 '과기': 62,
 '정통부': 63,
 '장관': 64,
 '은': 65,
 '“': 66,
 '오늘': 67,
 '출범식': 68,
 '대한민국': 69,
 '강국': 70,
 '으로': 71,
 '위한': 72,
 '초석': 73,
 '놓': 74,
 '자리': 75,
 '”': 76,
 '라며': 77,
 '세계': 78,
 '주요': 79,
 '국': 80,
 '들': 81,
 '경제': 82,
 '로': 83,
 '나아가': 84,
 '발걸음': 85,
 '다소': 86,
 '늦': 87,
 '었': 88,
 '지만': 89,
 '빅': 90,
 '플랫': 91,
 '폼': 92,
 '과': 93,
 '센터': 94,
 '지렛대': 95,
 '우리나라': 96,
 '의': 97,
 '낙후': 98,
 '된': 99,
 '생태계': 100,
 '혁신': 101,
 '기업': 102,
 '경쟁력': 103,
 '단계': 104,
 '제고': 105,
 '정책': 106,
 '적': 107,
 '역량': 108,
 '집중': 109,
 '겠': 110,
 '밝혔': 111,
 '이재운': 112,
 'jwlee': 113,
 '@': 114,
 'edaily': 115,
 'co': 116,
 'kr': 117,
 '네이버': 118,
 '홈': 119,
 '에서': 120,
 '데일리': 121,
 '뉴스': 122,
 '[': 123,
 '구독': 124,
 '▶]': 125,
 '꿀': 126,
 '잼': 127,
 '가득': 128,
 '영상': 129,
 '보': 130,
 '청춘': 131,
 '뉘': 132,
 '우스': 133,
 '~': 134,
 '스냅': 135,
 '타임': 136,
 '▶]＜ⓒ': 137,
 '종합': 138,
 '정보': 139,
 '미디어': 140,
 '-': 141,
 '무단': 142,
 '전재': 143,
 '&': 144,
 '재': 145,
 '배포': 146,
 '금지': 147,
 '＞': 148}

In [35]:
word2id = {}


for doc in doc_ls:
    for token in doc:
        if token not in word2id:
            word2id[token] = len(word2id)


word2id

{'다양': 0,
 '한': 1,
 '분석': 2,
 '도구': 3,
 '는': 4,
 '물론': 5,
 '인공지능': 6,
 '(': 7,
 'AI': 8,
 ')': 9,
 '학습': 10,
 '알고리즘': 11,
 '도': 12,
 '제공': 13,
 '해': 14,
 '이용자': 15,
 '가': 16,
 '보다': 17,
 '사용': 18,
 '하': 19,
 '기': 20,
 '편리': 21,
 '환경': 22,
 '을': 23,
 '한다': 24,
 '.': 25,
 '이': 26,
 '밖': 27,
 '에': 28,
 '필요': 29,
 '데이터': 30,
 '를': 31,
 '쉽': 32,
 '게': 33,
 '등록': 34,
 '고': 35,
 '검색': 36,
 '할': 37,
 '수': 38,
 '있': 39,
 '도록': 40,
 '기준': 41,
 '마련': 42,
 ',': 43,
 '보유': 44,
 '와': 45,
 '관리': 46,
 '대한': 47,
 '체계': 48,
 '거버넌스': 49,
 '논의': 50,
 '‘': 51,
 '얼라이언스': 52,
 '’': 53,
 '구성': 54,
 '안': 55,
 '전하': 56,
 '이용': 57,
 '방안': 58,
 '했': 59,
 '다': 60,
 '유영민': 61,
 '과기': 62,
 '정통부': 63,
 '장관': 64,
 '은': 65,
 '“': 66,
 '오늘': 67,
 '출범식': 68,
 '대한민국': 69,
 '강국': 70,
 '으로': 71,
 '위한': 72,
 '초석': 73,
 '놓': 74,
 '자리': 75,
 '”': 76,
 '라며': 77,
 '세계': 78,
 '주요': 79,
 '국': 80,
 '들': 81,
 '경제': 82,
 '로': 83,
 '나아가': 84,
 '발걸음': 85,
 '다소': 86,
 '늦': 87,
 '었': 88,
 '지만': 89,
 '빅': 90,
 '플랫': 91,
 '폼': 92,
 '과': 93,
 '센터': 94,
 '지렛대': 95,
 '우리나라': 96,
 '의': 97,
 '낙후': 98,
 '된': 99,
 '생태계': 100,
 '혁신': 101,
 '기업': 102,
 '경쟁력': 103,
 '단계': 104,
 '제고': 105,
 '정책': 106,
 '적': 107,
 '역량': 108,
 '집중': 109,
 '겠': 110,
 '밝혔': 111,
 '이재운': 112,
 'jwlee': 113,
 '@': 114,
 'edaily': 115,
 'co': 116,
 'kr': 117,
 '네이버': 118,
 '홈': 119,
 '에서': 120,
 '데일리': 121,
 '뉴스': 122,
 '[': 123,
 '구독': 124,
 '▶]': 125,
 '꿀': 126,
 '잼': 127,
 '가득': 128,
 '영상': 129,
 '보': 130,
 '청춘': 131,
 '뉘': 132,
 '우스': 133,
 '~': 134,
 '스냅': 135,
 '타임': 136,
 '▶]＜ⓒ': 137,
 '종합': 138,
 '정보': 139,
 '미디어': 140,
 '-': 141,
 '무단': 142,
 '전재': 143,
 '&': 144,
 '재': 145,
 '배포': 146,
 '금지': 147,
 '＞': 148}

In [36]:
from collections import defaultdict

word2id = defaultdict(lambda : len(word2id))
print(word2id)
[word2id[token] for doc in doc_ls for token in doc]
print(word2id)

defaultdict(<function <lambda> at 0x00000213F9E26558>, {})
defaultdict(<function <lambda> at 0x00000213F9E26558>, {'다양': 0, '한': 1, '분석': 2, '도구': 3, '는': 4, '물론': 5, '인공지능': 6, '(': 7, 'AI': 8, ')': 9, '학습': 10, '알고리즘': 11, '도': 12, '제공': 13, '해': 14, '이용자': 15, '가': 16, '보다': 17, '사용': 18, '하': 19, '기': 20, '편리': 21, '환경': 22, '을': 23, '한다': 24, '.': 25, '이': 26, '밖': 27, '에': 28, '필요': 29, '데이터': 30, '를': 31, '쉽': 32, '게': 33, '등록': 34, '고': 35, '검색': 36, '할': 37, '수': 38, '있': 39, '도록': 40, '기준': 41, '마련': 42, ',': 43, '보유': 44, '와': 45, '관리': 46, '대한': 47, '체계': 48, '거버넌스': 49, '논의': 50, '‘': 51, '얼라이언스': 52, '’': 53, '구성': 54, '안': 55, '전하': 56, '이용': 57, '방안': 58, '했': 59, '다': 60, '유영민': 61, '과기': 62, '정통부': 63, '장관': 64, '은': 65, '“': 66, '오늘': 67, '출범식': 68, '대한민국': 69, '강국': 70, '으로': 71, '위한': 72, '초석': 73, '놓': 74, '자리': 75, '”': 76, '라며': 77, '세계': 78, '주요': 79, '국': 80, '들': 81, '경제': 82, '로': 83, '나아가': 84, '발걸음': 85, '다소': 86, '늦': 87, '었': 88, '지만': 89, '빅': 90, '플랫': 91, '폼': 92, '과': 93, '센터': 94, '지렛대': 95, '우리나라': 96, '의': 97, '낙후': 98, '된': 99, '생태계': 100, '혁신': 101, '기업': 102, '경쟁력': 103, '단계': 104, '제고': 105, '정책': 106, '적': 107, '역량': 108, '집중': 109, '겠': 110, '밝혔': 111, '이재운': 112, 'jwlee': 113, '@': 114, 'edaily': 115, 'co': 116, 'kr': 117, '네이버': 118, '홈': 119, '에서': 120, '데일리': 121, '뉴스': 122, '[': 123, '구독': 124, '▶]': 125, '꿀': 126, '잼': 127, '가득': 128, '영상': 129, '보': 130, '청춘': 131, '뉘': 132, '우스': 133, '~': 134, '스냅': 135, '타임': 136, '▶]＜ⓒ': 137, '종합': 138, '정보': 139, '미디어': 140, '-': 141, '무단': 142, '전재': 143, '&': 144, '재': 145, '배포': 146, '금지': 147, '＞': 148})

In [37]:
word2id={}
for doc in doc_ls:
    for token in doc:
        if token not in word2id:
            word2id[token]=len(word2id)
word2id

{'다양': 0,
 '한': 1,
 '분석': 2,
 '도구': 3,
 '는': 4,
 '물론': 5,
 '인공지능': 6,
 '(': 7,
 'AI': 8,
 ')': 9,
 '학습': 10,
 '알고리즘': 11,
 '도': 12,
 '제공': 13,
 '해': 14,
 '이용자': 15,
 '가': 16,
 '보다': 17,
 '사용': 18,
 '하': 19,
 '기': 20,
 '편리': 21,
 '환경': 22,
 '을': 23,
 '한다': 24,
 '.': 25,
 '이': 26,
 '밖': 27,
 '에': 28,
 '필요': 29,
 '데이터': 30,
 '를': 31,
 '쉽': 32,
 '게': 33,
 '등록': 34,
 '고': 35,
 '검색': 36,
 '할': 37,
 '수': 38,
 '있': 39,
 '도록': 40,
 '기준': 41,
 '마련': 42,
 ',': 43,
 '보유': 44,
 '와': 45,
 '관리': 46,
 '대한': 47,
 '체계': 48,
 '거버넌스': 49,
 '논의': 50,
 '‘': 51,
 '얼라이언스': 52,
 '’': 53,
 '구성': 54,
 '안': 55,
 '전하': 56,
 '이용': 57,
 '방안': 58,
 '했': 59,
 '다': 60,
 '유영민': 61,
 '과기': 62,
 '정통부': 63,
 '장관': 64,
 '은': 65,
 '“': 66,
 '오늘': 67,
 '출범식': 68,
 '대한민국': 69,
 '강국': 70,
 '으로': 71,
 '위한': 72,
 '초석': 73,
 '놓': 74,
 '자리': 75,
 '”': 76,
 '라며': 77,
 '세계': 78,
 '주요': 79,
 '국': 80,
 '들': 81,
 '경제': 82,
 '로': 83,
 '나아가': 84,
 '발걸음': 85,
 '다소': 86,
 '늦': 87,
 '었': 88,
 '지만': 89,
 '빅': 90,
 '플랫': 91,
 '폼': 92,
 '과': 93,
 '센터': 94,
 '지렛대': 95,
 '우리나라': 96,
 '의': 97,
 '낙후': 98,
 '된': 99,
 '생태계': 100,
 '혁신': 101,
 '기업': 102,
 '경쟁력': 103,
 '단계': 104,
 '제고': 105,
 '정책': 106,
 '적': 107,
 '역량': 108,
 '집중': 109,
 '겠': 110,
 '밝혔': 111,
 '이재운': 112,
 'jwlee': 113,
 '@': 114,
 'edaily': 115,
 'co': 116,
 'kr': 117,
 '네이버': 118,
 '홈': 119,
 '에서': 120,
 '데일리': 121,
 '뉴스': 122,
 '[': 123,
 '구독': 124,
 '▶]': 125,
 '꿀': 126,
 '잼': 127,
 '가득': 128,
 '영상': 129,
 '보': 130,
 '청춘': 131,
 '뉘': 132,
 '우스': 133,
 '~': 134,
 '스냅': 135,
 '타임': 136,
 '▶]＜ⓒ': 137,
 '종합': 138,
 '정보': 139,
 '미디어': 140,
 '-': 141,
 '무단': 142,
 '전재': 143,
 '&': 144,
 '재': 145,
 '배포': 146,
 '금지': 147,
 '＞': 148}

In [38]:
import numpy as np

BoW_ls = []

for doc in doc_ls:
    bow = np.zeros(len(word2id), dtype=int)
    for token in doc:
        bow[word2id[token]] += 1
    BoW_ls.append(bow.tolist())
    
print(BoW_ls)

[[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,

In [39]:
from IPython.core import display as ICD

sorted_vocab = sorted((value, key) for key, value in word2id.items())
vocab = [v[1] for v in sorted_vocab]
for i in range(len(docs)):
    print("문서 {} : {}".format(i, docs[i]))
    ICD.display(pd.DataFrame([BoW_ls[i]], columns=vocab))
    print("\n")

문서 0 : 다양

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 1 : 한

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 2 : 분석

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 3 : 도구

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 4 : 는

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 5 : 물론

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 6 : 인공지능

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 7 : (

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 8 : AI

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

문서 9 : )

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

문서 10 : 학습

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 11 : 알고리즘

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 12 : 도

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 13 : 제공

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 14 : 해

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 15 : 이용자

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 16 : 가

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 17 : 보다

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 18 : 사용

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 19 : 하

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 20 : 기

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 21 : 편리

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 22 : 한

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 23 : 환경

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 24 : 을

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 25 : 제공

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 26 : 한다

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 27 : .

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 28 : 이

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 29 : 밖

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 30 : 에

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 31 : 필요

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 32 : 한

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 33 : 데이터

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 34 : 를

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 35 : 쉽

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 36 : 게

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 37 : 등록

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 38 : 하

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 39 : 고

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 40 : 검색

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 41 : 할

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 42 : 수

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 43 : 있

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 44 : 도록

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 45 : 기준

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 46 : 을

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 47 : 마련

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 48 : 하

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 49 : 고

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 50 : ,

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 51 : 데이터

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 52 : 보유

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 53 : 와

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 54 : 관리

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 55 : 에

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 56 : 대한

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 57 : 체계

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 58 : (

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 59 : 거버넌스

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 60 : )

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

문서 61 : 를

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 62 : 논의

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 63 : 하

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 64 : 는

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 65 : ‘

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 66 : 데이터

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 67 : 얼라이언스

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 68 : ’

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 69 : 를

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 70 : 구성

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 71 : 해

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 72 : 보다

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 73 : 안

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 74 : 전하

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 75 : 게

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 76 : 이용

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 77 : 하

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 78 : 는

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 79 : 방안

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 80 : 도

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 81 : 마련

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 82 : 했

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 83 : 다

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 84 : .

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 85 : 유영민

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 86 : 과기

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 87 : 정통부

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 88 : 장관

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 89 : 은

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 90 : “

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 91 : 오늘

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 92 : 출범식

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 93 : 은

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 94 : 대한민국

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 95 : 이

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 96 : 데이터

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 97 : 강국

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 98 : 으로

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 99 : 가

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 100 : 기

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 101 : 위한

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 102 : 초석

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 103 : 을

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 104 : 놓

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 105 : 은

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 106 : 자리

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 107 : ”

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 108 : 라며

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 109 : “

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 110 : 세계

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 111 : 주요

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 112 : 국

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 113 : 들

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 114 : 보다

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 115 : 데이터

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 116 : 경제

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 117 : 로

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 118 : 나아가

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 119 : 는

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 120 : 발걸음

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 121 : 이

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 122 : 다소

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 123 : 늦

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 124 : 었

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 125 : 지만

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 126 : ,

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 127 : 빅

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 128 : 데이터

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 129 : 플랫

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 130 : 폼

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 131 : 과

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 132 : 센터

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 133 : 를

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 134 : 지렛대

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 135 : 로

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 136 : 우리나라

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 137 : 의

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 138 : 낙후

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 139 : 된

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 140 : 데이터

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 141 : 생태계

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 142 : 를

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 143 : 혁신

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 144 : 하

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 145 : 고

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 146 : 기업

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 147 : 의

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 148 : 경쟁력

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 149 : 을

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 150 : 한

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 151 : 단계

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 152 : 제고

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 153 : 할

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 154 : 수

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 155 : 있

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 156 : 도록

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 157 : 정책

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 158 : 적

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 159 : 역량

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 160 : 을

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 161 : 집중

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 162 : 하

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 163 : 겠

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 164 : 다

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 165 : ”

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 166 : 고

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 167 : 밝혔

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 168 : 다

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 169 : .

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 170 : 이재운

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 171 : (

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 172 : jwlee

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 173 : @

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 174 : edaily

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 175 : .

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 176 : co

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 177 : .

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 178 : kr

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 179 : )

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

문서 180 : 네이버

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 181 : 홈

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 182 : 에서

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 183 : ‘

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 184 : 이

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 185 : 데일리

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 186 : ’

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 187 : 뉴스

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 188 : [

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 189 : 구독

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 190 : 하

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 191 : 기

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 192 : ▶]

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 193 : 꿀

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 194 : 잼

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 195 : 가득

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 196 : [

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 197 : 영상

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 198 : 보

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 199 : 기

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 200 : ▶]

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 201 : ,

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 202 : 청춘

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 203 : 뉘

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 204 : 우스

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 205 : ~

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 206 : [

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 207 : 스냅

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 208 : 타임

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 209 : ▶]＜ⓒ

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 210 : 종합

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 211 : 경제

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 212 : 정보

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

문서 213 : 미디어

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

문서 214 : 이

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 215 : 데일리

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 216 : -

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

문서 217 : 무단

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

문서 218 : 전재

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

문서 219 : &

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

문서 220 : 재

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

문서 221 : 배포

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

문서 222 : 금지

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

문서 223 : ＞

,다양,한,분석,도구,는,물론,인공지능,(,AI,),...,정보,미디어,-,무단,전재,&,재,배포,금지,＞
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [40]:
from sklearn.feature_extraction.text import CountVectorizer

count_vect = CountVectorizer()
BoW = count_vect.fit_transform(docs)
BoW.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [41]:
from IPython.core import display as ICD

vocab = count_vect.get_feature_names_out()
vocab

array(['ai', 'co', 'edaily', 'jwlee', 'kr', '가득', '강국', '거버넌스', '검색',
       '경쟁력', '경제', '과기', '관리', '구독', '구성', '금지', '기업', '기준', '나아가', '낙후',
       '네이버', '논의', '뉴스', '다소', '다양', '단계', '대한', '대한민국', '데이터', '데일리',
       '도구', '도록', '등록', '라며', '마련', '무단', '물론', '미디어', '발걸음', '밝혔', '방안',
       '배포', '보다', '보유', '분석', '사용', '생태계', '세계', '센터', '스냅', '알고리즘',
       '얼라이언스', '에서', '역량', '영상', '오늘', '우리나라', '우스', '위한', '유영민', '으로',
       '이용', '이용자', '이재운', '인공지능', '자리', '장관', '전재', '전하', '정보', '정책',
       '정통부', '제고', '제공', '종합', '주요', '지렛대', '지만', '집중', '청춘', '체계', '초석',
       '출범식', '타임', '편리', '플랫', '필요', '학습', '한다', '혁신', '환경'],
      dtype=object)

In [42]:
for i in range(len(docs)):
    print("문서 {} : {}".format(i, docs[i]))
    ICD.display(pd.DataFrame([BoW.toarray()[i]], columns=vocab))
    print("\n")

문서 0 : 다양

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 1 : 한

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 2 : 분석

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 3 : 도구

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 4 : 는

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 5 : 물론

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 6 : 인공지능

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 7 : (

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 8 : AI

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 9 : )

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 10 : 학습

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

문서 11 : 알고리즘

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 12 : 도

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 13 : 제공

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 14 : 해

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 15 : 이용자

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 16 : 가

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 17 : 보다

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 18 : 사용

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 19 : 하

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 20 : 기

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 21 : 편리

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

문서 22 : 한

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 23 : 환경

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

문서 24 : 을

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 25 : 제공

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 26 : 한다

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

문서 27 : .

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 28 : 이

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 29 : 밖

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 30 : 에

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 31 : 필요

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

문서 32 : 한

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 33 : 데이터

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 34 : 를

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 35 : 쉽

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 36 : 게

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 37 : 등록

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 38 : 하

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 39 : 고

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 40 : 검색

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

문서 41 : 할

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 42 : 수

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 43 : 있

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 44 : 도록

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 45 : 기준

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 46 : 을

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 47 : 마련

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 48 : 하

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 49 : 고

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 50 : ,

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 51 : 데이터

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 52 : 보유

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 53 : 와

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 54 : 관리

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 55 : 에

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 56 : 대한

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 57 : 체계

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 58 : (

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 59 : 거버넌스

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 60 : )

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 61 : 를

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 62 : 논의

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 63 : 하

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 64 : 는

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 65 : ‘

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 66 : 데이터

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 67 : 얼라이언스

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 68 : ’

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 69 : 를

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 70 : 구성

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 71 : 해

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 72 : 보다

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 73 : 안

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 74 : 전하

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 75 : 게

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 76 : 이용

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 77 : 하

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 78 : 는

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 79 : 방안

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 80 : 도

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 81 : 마련

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 82 : 했

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 83 : 다

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 84 : .

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 85 : 유영민

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 86 : 과기

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 87 : 정통부

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 88 : 장관

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 89 : 은

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 90 : “

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 91 : 오늘

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 92 : 출범식

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

문서 93 : 은

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 94 : 대한민국

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 95 : 이

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 96 : 데이터

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 97 : 강국

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 98 : 으로

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 99 : 가

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 100 : 기

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 101 : 위한

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 102 : 초석

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

문서 103 : 을

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 104 : 놓

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 105 : 은

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 106 : 자리

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 107 : ”

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 108 : 라며

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 109 : “

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 110 : 세계

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 111 : 주요

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 112 : 국

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 113 : 들

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 114 : 보다

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 115 : 데이터

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 116 : 경제

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 117 : 로

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 118 : 나아가

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 119 : 는

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 120 : 발걸음

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 121 : 이

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 122 : 다소

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 123 : 늦

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 124 : 었

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 125 : 지만

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 126 : ,

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 127 : 빅

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 128 : 데이터

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 129 : 플랫

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

문서 130 : 폼

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 131 : 과

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 132 : 센터

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 133 : 를

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 134 : 지렛대

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 135 : 로

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 136 : 우리나라

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 137 : 의

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 138 : 낙후

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 139 : 된

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 140 : 데이터

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 141 : 생태계

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 142 : 를

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 143 : 혁신

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

문서 144 : 하

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 145 : 고

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 146 : 기업

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 147 : 의

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 148 : 경쟁력

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

문서 149 : 을

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 150 : 한

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 151 : 단계

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 152 : 제고

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 153 : 할

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 154 : 수

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 155 : 있

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 156 : 도록

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 157 : 정책

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 158 : 적

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 159 : 역량

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 160 : 을

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 161 : 집중

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 162 : 하

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 163 : 겠

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 164 : 다

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 165 : ”

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 166 : 고

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 167 : 밝혔

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 168 : 다

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 169 : .

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 170 : 이재운

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 171 : (

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 172 : jwlee

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 173 : @

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 174 : edaily

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 175 : .

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 176 : co

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 177 : .

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 178 : kr

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 179 : )

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 180 : 네이버

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 181 : 홈

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 182 : 에서

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 183 : ‘

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 184 : 이

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 185 : 데일리

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 186 : ’

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 187 : 뉴스

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 188 : [

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 189 : 구독

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 190 : 하

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 191 : 기

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 192 : ▶]

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 193 : 꿀

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 194 : 잼

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 195 : 가득

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 196 : [

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 197 : 영상

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 198 : 보

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 199 : 기

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 200 : ▶]

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 201 : ,

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 202 : 청춘

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 203 : 뉘

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 204 : 우스

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 205 : ~

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 206 : [

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 207 : 스냅

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 208 : 타임

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

문서 209 : ▶]＜ⓒ

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 210 : 종합

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 211 : 경제

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 212 : 정보

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 213 : 미디어

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 214 : 이

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 215 : 데일리

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 216 : -

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 217 : 무단

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 218 : 전재

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 219 : &

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 220 : 재

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 221 : 배포

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 222 : 금지

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

문서 223 : ＞

,ai,co,edaily,jwlee,kr,가득,강국,거버넌스,검색,경쟁력,...,초석,출범식,타임,편리,플랫,필요,학습,한다,혁신,환경
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [43]:
TDM = np.zeros((len(word2id), len(doc_ls)), dtype=int)
TDM

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [44]:
for i, doc in enumerate(doc_ls):
    for token in doc:
        TDM[word2id[token], i] += 1
TDM

array([[1, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 1]])

In [45]:
doc_names = ['문서'+str(i) for i in range(len(doc_ls))]
sorted_vocab = sorted((value, key) for key, value in word2id.items())
vocab = [v[1] for v in sorted_vocab]
df_TDM = pd.DataFrame(TDM, columns=doc_names)
df_TDM['단어'] = vocab
df_TDM.set_index('단어', inplace=True)
df_TDM

,문서0,문서1,문서2,문서3,문서4,문서5,문서6,문서7,문서8,문서9,...,문서214,문서215,문서216,문서217,문서218,문서219,문서220,문서221,문서222,문서223
단어,,,,,,,,,,,,,,,,,,,,,
다양,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
한,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
분석,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
도구,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
는,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
&,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
재,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
배포,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
금지,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
＞,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [46]:
from sklearn.feature_extraction.text import CountVectorizer

count_vect = CountVectorizer()
DTM = count_vect.fit_transform(docs)
DTM.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [47]:
from gensim.matutils import sparse2full

vocab = [id2word[key] for key in id2word.keys()]
DTM_matrix = [sparse2full(doc, len(vocab)).tolist() for doc in tfidf]
pd.DataFrame(DTM_matrix, columns=vocab)

ValueError: not enough values to unpack (expected 2, got 1)

실습

In [48]:
import  requests
from bs4 import BeautifulSoup

from konlpy.tag import Mecab
mecab = Mecab()

def get_news(url):
    headrs={"user-agent" : "Mozilla/5.0"}
    headers = {"user-agent":"Mozilla/5.0"}
    response = requests.get(url, headers=headers)
    html = BeautifulSoup(response.text, 'html.parser')
    
    article = html.select_one("#articleBodyContents").text
    
    print(mecab.pos(article))
    
    return article


urls = ["https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=105&oid=018&aid=0004430108",
"https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=101&oid=001&aid=0011614790",
"https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=102&oid=014&aid=0004424362",
"https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=101&oid=119&aid=0002402191",
"https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=101&oid=030&aid=0002882728"]

docs = []
for url in urls:
    get_news(url)
    break

[('과기', 'NNG'), ('정통부', 'NNG'), (',', 'SC'), ('22', 'SN'), ('일', 'NNBC'), ('유영민', 'NNP'), ('장관', 'NNG'), ('등', 'NNB'), ('참석', 'NNG'), ('해', 'XSV+EC'), ('기념행사', 'NNG'), ('2021', 'SN'), ('년', 'NNBC'), ('까지', 'JX'), ('1516', 'SN'), ('억', 'NR'), ('원', 'NNBC'), ('투입', 'NNG'), (',', 'SC'), ('5100', 'SN'), ('여종', 'NNG'), ('데이터', 'NNG'), ('구축', 'NNG'), ('민간', 'NNG'), ('클라우드', 'NNP'), ('통한', 'VV+ETM'), ('외부', 'NNG'), ('연계', 'NNG'), ('체계', 'NNG'), ('도', 'JX'), ('.', 'SF'), ('."', 'SY'), ('개방', 'NNG'), ('성', 'XSN'), ('강화', 'NNG'), ('"[', 'SY'), ('이', 'JKS'), ('데일리', 'NNP'), ('이재운', 'NNP'), ('기자', 'NNG'), (']', 'SSC'), ('국가', 'NNG'), ('차원', 'NNG'), ('의', 'JKG'), ('빅', 'NNG'), ('데이터', 'NNG'), ('활용', 'NNG'), ('시대', 'NNG'), ('가', 'JKS'), ('열린다', 'VV+EF'), ('.', 'SF'), ('새로운', 'VA+ETM'), ('산업', 'NNG'), ('창출', 'NNG'), ('과', 'JC'), ('기존', 'NNG'), ('산업', 'NNG'), ('의', 'JKG'), ('변화', 'NNG'), ('에', 'JKB'), ('이르', 'VV'), ('는', 'ETM'), ('‘', 'SY'), ('혁신', 'NNG'), ('성', 'XSN'), ('장', 'NNG'), ('’', 'SY'), ('을', 'JKO'), ('위한', 'VV+ETM'), ('센터', 'NNG'), ('가', 'JKS'), ('문', 'NNG'), ('을', 'JKO'), ('연다', 'VV+EC'), ('.', 'SY'), ('10', 'SN'), ('개', 'NNBC'), ('분야', 'NNG'), ('에', 'JKB'), ('걸쳐', 'VV+EC'), ('‘', 'SY'), ('데이터', 'NNG'), ('경제', 'NNG'), ('’', 'SY'), ('의', 'JKG'), ('발전', 'NNG'), ('을', 'JKO'), ('위한', 'VV+ETM'), ('정부', 'NNG'), ('의', 'JKG'), ('청사진', 'NNG'), ('을', 'JKO'), ('현실', 'NNG'), ('로', 'JKB'), ('구현', 'NNG'), ('하', 'XSV'), ('는', 'ETM'), ('데', 'NNB'), ('앞장선다는', 'VV+ETM'), ('계획', 'NNG'), ('이', 'VCP'), ('다', 'EF'), ('.', 'SF'), ('22', 'SN'), ('일', 'NNBC'), ('과학', 'NNG'), ('기술', 'NNG'), ('정보', 'NNG'), ('통신부', 'NNG'), ('는', 'JX'), ('서울', 'NNP'), ('중구', 'NNP'), ('대한', 'NNP'), ('상공', 'NNG'), ('회의소', 'NNG'), ('에서', 'JKB'), ('데이터', 'NNG'), ('생태', 'NNG'), ('계', 'XSN'), ('조성', 'NNG'), ('과', 'JC'), ('혁신', 'NNG'), ('성장', 'NNG'), ('의', 'JKG'), ('기반', 'NNG'), ('마련', 'NNG'), ('을', 'JKO'), ('위한', 'VV+ETM'), ('‘', 'SY'), ('빅', 'NNG'), ('데이터', 'NNG'), ('플랫', 'NNG'), ('폼', 'NNG'), ('및', 'MAJ'), ('센터', 'NNG'), ('’', 'SY'), ('출범식', 'NNG'), ('행사', 'NNG'), ('를', 'JKO'), ('개최', 'NNG'), ('했', 'XSV+EP'), ('다', 'EF'), ('.', 'SF'), ('유영민', 'NNP'), ('과기', 'NNG'), ('정통부', 'NNG'), ('장관', 'NNG'), ('을', 'JKO'), ('비롯', 'XR'), ('해', 'XSA+EC'), ('노웅래', 'NNP'), ('국회', 'NNG'), ('과학', 'NNG'), ('기술', 'NNG'), ('정보', 'NNG'), ('방송', 'NNG'), ('통신', 'NNG'), ('위원회', 'NNG'), ('위원장', 'NNG'), ('등', 'NNB'), ('300', 'SN'), ('여', 'XSN'), ('명', 'NNBC'), ('이', 'JKS'), ('참가', 'NNG'), ('했', 'XSV+EP'), ('다', 'EF'), ('.', 'SF'), ('◇', 'SY'), ('10', 'SN'), ('개', 'NNBC'), ('분야', 'NNG'), ('100', 'SN'), ('개', 'NNBC'), ('센터', 'NNG'), ('.', 'SF'), ('.', 'SY'), ('3', 'SN'), ('년', 'NNBC'), ('간', 'NNG'), ('1516', 'SN'), ('억', 'NR'), ('원', 'NNBC'), ('투입', 'NNG'), ('이미지', 'NNG'), (':', 'SC'), ('픽사', 'NNP'), ('베이', 'NNP'), ('빅', 'NNP'), ('데이터', 'NNG'), ('는', 'JX'), ('데이터', 'NNG'), ('활용', 'NNG'), ('을', 'JKO'), ('통해', 'VV+EC'), ('혁신', 'NNG'), ('성', 'XSN'), ('장', 'NNG'), ('을', 'JKO'), ('이루', 'VV'), ('자는', 'ETM'), ('문재', 'NNG'), ('인', 'VCP+ETM'), ('정부', 'NNG'), ('의', 'JKG'), ('경제', 'NNG'), ('성장', 'NNG'), ('핵심', 'NNG'), ('요소', 'NNG'), ('중', 'NNB'), ('하나', 'NR'), ('다', 'VCP+EF'), ('.', 'SF'), ('문재인', 'NNP'), ('대통령', 'NNG'), ('이', 'JKS'), ('직접', 'MAG'), ('올', 'VV+ETM'), ('들', 'VV'), ('어', 'EC'), ('데이터', 'NNG'), ('활용', 'NNG'), ('과', 'JC'), ('이', 'NP'), ('에', 'JKB'), ('따른', 'VV+ETM'), ('정보', 'NNG'), ('보호', 'NNG'), ('(', 'SSO'), ('보안', 'NNP'), (')', 'SSC'), ('에', 'JKB'), ('대한', 'VV+ETM'), ('중요', 'NNG'), ('성', 'XSN'), ('을', 'JKO'), ('강조', 'NNG'), ('하', 'XSV'), ('기', 'ETN'), ('도', 'JX'), ('했', 'VV+EP'), ('다', 'EF'), ('.', 'SF'), ('이런', 'MM'), ('맥락', 'NNG'), ('속', 'NNG'), ('에서', 'JKB'), ('빅', 'NNG'), ('데이터', 'NNG'), ('센터', 'NNG'), ('는', 'JX'), ('공공', 'NNG'), ('과', 'JC'), ('민간', 'NNG'), ('이', 'JKS'), ('협업', 'NNG'), ('해', 'XSV+EC'), ('활용', 'NNG'), ('도', 'JX'), ('높', 'VA'), ('은', 'ETM'), ('양질', 'NNG'), ('의', 'JKG'), ('데이터', 'NNG'), ('를', 'JKO'), ('생산', 'NNG'), ('·', 'SC'), ('구축', 'NNG'), ('하', 'XSV'), ('고', 'EC'), (',', 'SC'), ('플랫', 'NNG'), ('폼', 'NNG'), ('은', 'JX'), ('이', 'NP'), ('를', 'JKO'), ('수집', 'NNG'), ('·', 'SC'), ('분석', 'NNG'), ('·', 'SC'), ('유통', 'NNG'), ('하', 'XSV'), ('는', 'ETM'), ('역할', 'NNG'), ('을', 'JKO'), ('담당', 'NNG'), ('한다', 'XSV+EF'), ('.', 'SF'), ('과기', 'NNG'), ('정통부', 'NNG'), ('는', 'JX'), ('분야', 'NNG'), ('별', 'XSN'), ('플랫', 'NNG'), ('폼', 'NNG'), ('10', 'SN'), ('개소', 'NNBC'), ('와', 'JC'), ('이', 'NP'), ('와', 'JKB'), ('연계', 'NNG'), ('된', 'XSV+ETM'), ('기관', 'NNG'), ('별', 'XSN'), ('센터', 'NNG'), ('100', 'SN'), ('개소', 'NNBC'), ('를', 'JKO'), ('구축', 'NNG'), ('하', 'XSV'), ('는', 'ETM'), ('데', 'NNB'), ('3', 'SN'), ('년', 'NNBC'), ('간', 'XSN'), ('총', 'MM'), ('1516', 'SN'), ('억', 'NR'), ('원', 'NNBC'), ('을', 'JKO'), ('투입', 'NNG'), ('할', 'XSV+ETM'), ('계획', 'NNG'), ('이', 'VCP'), ('며', 'EC'), (',', 'SC'), ('올해', 'NNG'), ('우선', 'MAG'), ('640', 'SN'), ('억', 'NR'), ('원', 'NNBC'), ('규모', 'NNG'), ('의', 'JKG'), ('사업', 'NNG'), ('을', 'JKO'), ('추진', 'NNG'), ('하', 'XSV'), ('고', 'EC'), ('있', 'VX'), ('다', 'EF'), ('.', 'SF'), ('대상', 'NNG'), ('분야', 'NNG'), ('는', 'JX'), ('△', 'SY'), ('금융', 'NNG'), ('(', 'SSO'), ('BC', 'SL'), ('카드', 'NNG'), (')', 'SSC'), ('△', 'SY'), ('환경', 'NNG'), ('(', 'SSO'), ('한국', 'NNP'), ('수자원', 'NNG'), ('공사', 'NNG'), (')', 'SSC'), ('△', 'SY'), ('문화', 'NNG'), ('(', 'SSO'), ('한국', 'NNP'), ('문화', 'NNG'), ('정보원', 'NNG'), (')', 'SSC'), ('△', 'SY'), ('교통', 'NNG'), ('(', 'SSO'), ('한국', 'NNP'), ('교통', 'NNG'), ('연구원', 'NNG'), (')', 'SSC'), ('△', 'SY'), ('헬', 'NNP'), ('스케어', 'NNP'), ('(', 'SSO'), ('국립암센터', 'NNP'), (')', 'SSC'), ('△', 'SY'), ('유통', 'NNG'), ('·', 'SC'), ('소비', 'NNG'), ('(', 'SSO'), ('매일', 'NNG'), ('방송', 'NNG'), (')', 'SSC'), ('△', 'SY'), ('통신', 'NNG'), ('(', 'SSO'), ('KT', 'SL'), (')', 'SSC'), ('△', 'SY'), ('중소기업', 'NNG'), ('(', 'SSO'), ('더', 'MAG'), ('존', 'VA+ETM'), ('비즈', 'NNG'), ('온', 'VV+ETM'), (')', 'SSC'), ('△', 'SY'), ('지역', 'NNG'), ('경제', 'NNG'), ('(', 'SSO'), ('경기도', 'NNP'), ('청', 'NNG'), (')', 'SSC'), ('△', 'SY'), ('산림', 'NNG'), ('(', 'SSO'), ('한국', 'NNP'), ('임업', 'NNG'), ('진', 'XSA+ETM'), ('흥원', 'NNP'), (')', 'SSC'), ('등', 'NNB'), ('으로', 'JKB'), ('현재', 'MAG'), ('1', 'SN'), ('차', 'NNBC'), ('공모', 'NNG'), ('를', 'JKO'), ('통해', 'VV+EC'), ('72', 'SN'), ('개', 'NNBC'), ('빅', 'NNG'), ('데이터', 'NNG'), ('센터', 'NNG'), ('를', 'JKO'), ('선정', 'NNG'), ('했', 'XSV+EP'), ('고', 'EC'), (',', 'SC'), ('다음', 'NNG'), ('달', 'NNG'), ('8', 'SN'), ('일', 'NNBC'), ('까지', 'JX'), ('2', 'SN'), ('차', 'NNBC'), ('공모', 'NNG'), ('를', 'JKO'), ('통해', 'VV+EC'), ('28', 'SN'), ('개', 'NNBC'), ('를', 'JKO'), ('추가', 'NNG'), ('선정', 'NNG'), ('해', 'XSV+EC'), ('총', 'MM'), ('100', 'SN'), ('개', 'NNBC'), ('를', 'JKO'), ('지원', 'NNG'), (',', 'SC'), ('운영', 'NNG'), ('할', 'XSV+ETM'), ('계획', 'NNG'), ('이', 'VCP'), ('다', 'EF'), ('.', 'SF'), ('이', 'NP'), ('를', 'JKO'), ('통해', 'VV+EC'), ('데이터', 'NNG'), ('생태계', 'NNG'), ('를', 'JKO'), ('혁신', 'NNG'), ('하', 'XSV'), ('고', 'EC'), ('기업', 'NNG'), ('의', 'JKG'), ('경쟁력', 'NNG'), ('을', 'JKO'), ('제고', 'NNG'), ('하', 'XSV'), ('는', 'ETM'), ('역할', 'NNG'), ('을', 'JKO'), ('수행', 'NNG'), ('한다', 'XSV+EF'), ('.', 'SF'), ('주요', 'NNG'), ('활용', 'NNG'), ('전략', 'NNG'), ('·', 'SC'), ('사례', 'NNG'), ('를', 'JKO'), ('보', 'VV'), ('면', 'EC'), ('빅', 'NNG'), ('데이터', 'NNG'), ('활용', 'NNG'), ('을', 'JKO'), ('통해', 'VV+EC'), ('‘', 'SY'), ('신', 'NNG'), ('(', 'SSO'), ('新', 'NNG'), (')', 'SSC'), ('시장', 'NNG'), ('’', 'SY'), ('을', 'JKO'), ('창출', 'NNG'), ('하', 'XSV'), ('는', 'ETM'), ('방안', 'NNG'), ('을', 'JKO'), ('담', 'VV'), ('고', 'EC'), ('있', 'VX'), ('다', 'EF'), ('.', 'SF'), ('금융', 'NNG'), ('플랫', 'NNG'), ('폼', 'NNG'), ('의', 'JKG'), ('경우', 'NNG'), ('소', 'NNG'), ('상공', 'NNG'), ('인', 'VCP+ETM'), ('신용', 'NNG'), ('평가', 'NNG'), ('고도', 'NNG'), ('화', 'XSN'), ('등', 'NNB'), ('을', 'JKO'), ('통해', 'VV+EC'), ('금융', 'NNG'), ('취약', 'NNG'), ('계층', 'NNG'), ('대상', 'NNG'), ('중', 'NNB'), ('금리', 'NNG'), ('대출', 'NNG'), ('이', 'JKS'), ('자를', 'VV+ETM'), ('2', 'SN'), ('%', 'SY'), ('p', 'SL'), ('절감', 'NNG'), ('해', 'XSV+EC'), ('연간', 'NNG'), ('1', 'SN'), ('조', 'NR'), ('원', 'NNBC'), ('의', 'JKG'), ('신규', 'NNG'), ('대출', 'NNG'), ('을', 'JKO'), ('창출', 'NNG'), ('할', 'XSV+ETM'), ('전망', 'NNG'), ('이', 'VCP'), ('다', 'EF'), ('.', 'SF'), ('유통', 'NNG'), ('·', 'SC'), ('소비', 'NNG'), ('와', 'JC'), ('중소기업', 'NNG'), ('플랫', 'NNG'), ('폼', 'NNG'), ('은', 'JX'), ('소상', 'NNG'), ('공인', 'NNG'), ('이나', 'JC'), ('중소기업', 'NNG'), ('의', 'JKG'), ('폐업', 'NNG'), ('률', 'XSN'), ('감소', 'NNG'), ('를', 'JKO'), (',', 'SC'), ('문화', 'NNG'), ('플랫', 'NNG'), ('폼', 'NNG'), ('은', 'JX'), ('문화', 'NNG'), ('·', 'SC'), ('예술', 'NNG'), ('관람', 'NNG'), ('률', 'XSN'), ('과', 'JC'), ('생활', 'NNG'), ('체육', 'NNG'), ('참여', 'NNG'), ('율', 'XSN'), ('을', 'JKO'), ('높이', 'VV'), ('는', 'ETM'), ('방안', 'NNG'), ('을', 'JKO'), ('모색', 'NNG'), ('한다', 'XSV+EF'), ('.', 'SF'), ('의료비', 'NNG'), ('절감', 'NNG'), ('(', 'SSO'), ('헬스', 'NNG'), ('케어', 'NNG'), (')', 'SSC'), ('과', 'JC'), ('기업', 'NNG'), ('의', 'JKG'), ('매출', 'NNG'), ('향상', 'NNG'), ('을', 'JKO'), ('통한', 'VV+ETM'), ('산업', 'NNG'), ('육성', 'NNG'), ('(', 'SSO'), ('통신', 'NNG'), ('·', 'SC'), ('산림', 'NNG'), (')', 'SSC'), ('등', 'NNB'), ('도', 'JX'), ('눈길', 'NNG'), ('을', 'JKO'), ('끈다', 'VV+EF'), ('.', 'SF'), ('과기', 'NNG'), ('정통부', 'NNG'), ('제공', 'NNG'), ('◇', 'SY'), ('2021', 'SN'), ('년', 'NNBC'), ('까지', 'JX'), ('5100', 'SN'), ('여종', 'NNG'), ('데이터', 'NNG'), ('구축', 'NNG'), ('.', 'SF'), ('.', 'SY'), ('AI', 'SL'), ('알고리즘', 'NNG'), ('제공', 'NNG'), ('도', 'JX'), ('센터', 'NNG'), ('는', 'JX'), ('우선', 'MAG'), ('분야', 'NNG'), ('별', 'XSN'), ('데이터', 'NNG'), ('부족', 'NNG'), ('문제', 'NNG'), ('를', 'JKO'), ('해소', 'NNG'), ('하', 'XSV'), ('기', 'ETN'), ('위해', 'VV+EC'), ('올해', 'NNG'), ('말', 'NNB'), ('까지', 'JX'), ('시장', 'NNG'), ('수요', 'NNG'), ('가', 'JKS'), ('높', 'VA'), ('은', 'ETM'), ('1400', 'SN'), ('여종', 'NNG'), ('신규', 'NNG'), ('데이터', 'NNG'), ('를', 'JKO'), ('생산', 'NNG'), ('ㆍ', 'UNKNOWN'), ('구축', 'NNG'), ('하', 'XSV'), ('고', 'EC'), (',', 'SC'), ('사업', 'NNG'), ('이', 'JKS'), ('완료', 'NNG'), ('되', 'XSV'), ('는', 'ETM'), ('2021', 'SN'), ('년', 'NNBC'), ('까지', 'JX'), ('총', 'MM'), ('5100', 'SN'), ('여종', 'NNG'), ('양질', 'NNG'), ('의', 'JKG'), ('풍부', 'XR'), ('한', 'XSA+ETM'), ('데이터', 'NNG'), ('를', 'JKO'), ('생산', 'NNG'), ('·', 'SC'), ('구축', 'NNG'), ('해', 'XSV+EC'), ('시장', 'NNG'), ('에', 'JKB'), ('공급', 'NNG'), ('할', 'XSV+ETM'), ('계획', 'NNG'), ('이', 'VCP'), ('다', 'EF'), ('.', 'SF'), ('특히', 'MAG'), ('공공', 'NNG'), ('과', 'JC'), ('민간', 'NNG'), ('사이', 'NNG'), ('데이터', 'NNG'), ('파일', 'NNG'), ('형식', 'NNG'), ('등', 'NNB'), ('이', 'JKS'), ('달라', 'VA+EC'), ('호환', 'NNG'), ('이', 'JKS'), ('제대로', 'MAG'), ('이뤄지지', 'VV+EC'), ('못한', 'VX+ETM'), ('문제', 'NNG'), ('를', 'JKO'), ('해소', 'NNG'), ('하', 'XSV'), ('기', 'ETN'), ('위해', 'VV+EC'), ('개방', 'NNG'), ('형', 'XSN'), ('표준', 'NNG'), ('을', 'JKO'), ('적용', 'NNG'), ('하', 'XSV'), ('고', 'EC'), (',', 'SC'), ('품질', 'NNG'), ('관리', 'NNG'), ('기준', 'NNG'), ('도', 'JX'), ('마련', 'NNG'), ('해', 'XSV+EC'), ('운영', 'NNG'), ('한다', 'XSV+EF'), ('.', 'SF'), ('기업', 'NNG'), ('들', 'XSN'), ('이', 'JKS'), ('실제', 'NNG'), ('활용', 'NNG'), ('가능', 'NNG'), ('한', 'XSA+ETM'), ('최신', 'NNG'), ('데이터', 'NNG'), ('를', 'JKO'), ('확보', 'NNG'), ('하', 'XSV'), ('는', 'ETM'), ('데', 'NNB'), ('도', 'JX'), ('수개월', 'NNG'), ('이', 'JKS'), ('소요', 'NNG'), ('된다는', 'XSV+ETM'), ('문제점', 'NNG'), ('을', 'JKO'), ('개선', 'NNG'), ('하', 'XSV'), ('기', 'ETN'), ('위한', 'VV+ETM'), ('방안', 'NNG'), ('도', 'JX'), ('추진', 'NNG'), ('한다', 'XSV+EF'), ('.', 'SF'), ('센터', 'NNG'), ('와', 'JC'), ('플랫폼', 'NNG'), ('간', 'NNB'), ('연계', 'NNG'), ('체계', 'NNG'), ('에', 'JKB'), ('는', 'JX'), ('민간', 'NNG'), ('클라우드', 'NNP'), ('를', 'JKO'), ('기반', 'NNG'), ('으로', 'JKB'), ('활용', 'NNG'), ('하', 'XSV'), ('고', 'EC'), (',', 'SC'), ('센터', 'NNG'), ('에', 'JKB'), ('축적', 'NNG'), ('된', 'XSV+ETM'), ('데이터', 'NNG'), ('도', 'JX'), ('계속', 'MAG'), ('외부', 'NNG'), ('와', 'JC'), ('개방', 'NNG'), ('·', 'SC'), ('공유', 'NNG'), ('하', 'XSV'), ('며', 'EC'), ('최신', 'NNG'), ('·', 'SC'), ('연속', 'NNG'), ('성', 'XSN'), ('을', 'JKO'), ('확보', 'NNG'), ('한다는', 'XSV+ETM'), ('계획', 'NNG'), ('이', 'VCP'), ('다', 'EF'), ('.', 'SF'), ('100', 'SN'), ('개', 'NNBC'), ('센터', 'NNG'), ('에서', 'JKB'), ('수집', 'NNG'), ('된', 'XSV+ETM'), ('데이터', 'NNG'), ('를', 'JKO'), ('융합', 'NNG'), ('·', 'SC'), ('분석', 'NNG'), ('한', 'XSV+ETM'), ('뒤', 'NNG'), ('맞춤', 'NNG'), ('형', 'XSN'), ('데이터', 'NNG'), ('제작', 'NNG'), ('등', 'NNB'), ('양질', 'NNG'), ('의', 'JKG'), ('데이터', 'NNG'), ('로', 'JKB'), ('재', 'XPN'), ('생산', 'NNG'), ('하', 'XSV'), ('고', 'EC'), (',', 'SC'), ('기업', 'NNG'), ('들', 'XSN'), ('이', 'JKS'), ('필요', 'NNG'), ('로', 'JKB'), ('하', 'VV'), ('는', 'ETM'), ('데이터', 'NNG'), ('를', 'JKO'), ('원하', 'VV'), ('는', 'ETM'), ('형태', 'NNG'), ('로', 'JKB'), ('즉시', 'MAG'), ('활용', 'NNG'), ('할', 'XSV+ETM'), ('수', 'NNB'), ('있', 'VV'), ('도록', 'EC'), ('제공', 'NNG'), ('할', 'XSV+ETM'), ('계획', 'NNG'), ('이', 'VCP'), ('다', 'EF'), ('.', 'SF'), ('다양', 'XR'), ('한', 'XSA+ETM'), ('분석', 'NNG'), ('도구', 'NNG'), ('는', 'JX'), ('물론', 'MAG'), ('인공지능', 'NNP'), ('(', 'SSO'), ('AI', 'SL'), (')', 'SSC'), ('학습', 'NNG'), ('알고리즘', 'NNG'), ('도', 'JX'), ('제공', 'NNG'), ('해', 'XSV+EC'), ('이용자', 'NNP'), ('가', 'JKS'), ('보다', 'MAG'), ('사용', 'NNG'), ('하', 'XSV'), ('기', 'ETN'), ('편리', 'NNG'), ('한', 'XSA+ETM'), ('환경', 'NNG'), ('을', 'JKO'), ('제공', 'NNG'), ('한다', 'XSV+EF'), ('.', 'SF'), ('이', 'MM'), ('밖', 'NNG'), ('에', 'JKB'), ('필요', 'NNG'), ('한', 'XSA+ETM'), ('데이터', 'NNG'), ('를', 'JKO'), ('쉽', 'VA'), ('게', 'EC'), ('등록', 'NNG'), ('하', 'XSV'), ('고', 'EC'), ('검색', 'NNG'), ('할', 'XSV+ETM'), ('수', 'NNB'), ('있', 'VV'), ('도록', 'EC'), ('기준', 'NNG'), ('을', 'JKO'), ('마련', 'NNG'), ('하', 'XSV'), ('고', 'EC'), (',', 'SC'), ('데이터', 'NNG'), ('보유', 'NNG'), ('와', 'JC'), ('관리', 'NNG'), ('에', 'JKB'), ('대한', 'VV+ETM'), ('체계', 'NNG'), ('(', 'SSO'), ('거버넌스', 'NNP'), (')', 'SSC'), ('를', 'JKO'), ('논의', 'NNG'), ('하', 'XSV'), ('는', 'ETM'), ('‘', 'SY'), ('데이터', 'NNG'), ('얼라이언스', 'NNP'), ('’', 'SY'), ('를', 'JKO'), ('구성', 'NNG'), ('해', 'XSV+EC'), ('보다', 'MAG'), ('안', 'MAG'), ('전하', 'VV'), ('게', 'EC'), ('이용', 'NNG'), ('하', 'XSV'), ('는', 'ETM'), ('방안', 'NNG'), ('도', 'JX'), ('마련', 'NNG'), ('했', 'XSV+EP'), ('다', 'EF'), ('.', 'SF'), ('유영민', 'NNP'), ('과기', 'NNG'), ('정통부', 'NNG'), ('장관', 'NNG'), ('은', 'JX'), ('“', 'SSO'), ('오늘', 'NNG'), ('출범식', 'NNG'), ('은', 'JX'), ('대한민국', 'NNP'), ('이', 'JKS'), ('데이터', 'NNG'), ('강국', 'NNG'), ('으로', 'JKB'), ('가', 'VV'), ('기', 'ETN'), ('위한', 'VV+ETM'), ('초석', 'NNG'), ('을', 'JKO'), ('놓', 'VV'), ('은', 'ETM'), ('자리', 'NNG'), ('”', 'SSC'), ('라며', 'VCP+EC'), ('“', 'SSO'), ('세계', 'NNG'), ('주요', 'NNG'), ('국', 'NNG'), ('들', 'XSN'), ('보다', 'JKB'), ('데이터', 'NNG'), ('경제', 'NNG'), ('로', 'JKB'), ('나아가', 'VV'), ('는', 'ETM'), ('발걸음', 'NNG'), ('이', 'JKS'), ('다소', 'MAG'), ('늦', 'VA'), ('었', 'EP'), ('지만', 'EC'), (',', 'SC'), ('빅', 'NNG'), ('데이터', 'NNG'), ('플랫', 'NNG'), ('폼', 'NNG'), ('과', 'JC'), ('센터', 'NNG'), ('를', 'JKO'), ('지렛대', 'NNG'), ('로', 'JKB'), ('우리나라', 'NNG'), ('의', 'JKG'), ('낙후', 'NNG'), ('된', 'XSV+ETM'), ('데이터', 'NNG'), ('생태계', 'NNG'), ('를', 'JKO'), ('혁신', 'NNG'), ('하', 'XSV'), ('고', 'EC'), ('기업', 'NNG'), ('의', 'JKG'), ('경쟁력', 'NNG'), ('을', 'JKO'), ('한', 'VV+ETM'), ('단계', 'NNG'), ('제고', 'NNG'), ('할', 'XSV+ETM'), ('수', 'NNB'), ('있', 'VV'), ('도록', 'EC'), ('정책', 'NNG'), ('적', 'XSN'), ('역량', 'NNG'), ('을', 'JKO'), ('집중', 'NNG'), ('하', 'XSV'), ('겠', 'EP'), ('다', 'EC'), ('”', 'SSC'), ('고', 'JKQ'), ('밝혔', 'VV+EP'), ('다', 'EF'), ('.', 'SF'), ('이재운', 'NNP'), ('(', 'SSO'), ('jwlee', 'SL'), ('@', 'SY'), ('edaily', 'SL'), ('.', 'SY'), ('co', 'SL'), ('.', 'SY'), ('kr', 'SL'), (')', 'SSC'), ('네이버', 'NNP'), ('홈', 'NNG'), ('에서', 'JKB'), ('‘', 'SY'), ('이', 'JKS'), ('데일리', 'NNP'), ('’', 'SY'), ('뉴스', 'NNG'), ('[', 'SSO'), ('구독', 'NNG'), ('하', 'XSV'), ('기', 'ETN'), ('▶]', 'SY'), ('꿀', 'NNG'), ('잼', 'NNG'), ('가득', 'MAG'), ('[', 'SSO'), ('영상', 'NNG'), ('보', 'VV'), ('기', 'ETN'), ('▶]', 'SY'), (',', 'SC'), ('청춘', 'NNG'), ('뉘', 'NNG'), ('우스', 'NNG'), ('~', 'SY'), ('[', 'SSO'), ('스냅', 'NNG'), ('타임', 'NNG'), ('▶]＜ⓒ', 'SY'), ('종합', 'NNG'), ('경제', 'NNG'), ('정보', 'NNG'), ('미디어', 'NNG'), ('이', 'MM'), ('데일리', 'NNP'), ('-', 'SY'), ('무단', 'NNG'), ('전재', 'NNG'), ('&', 'SY'), ('재', 'XPN'), ('배포', 'NNG'), ('금지', 'NNG'), ('＞', 'SY')]

In [49]:
docs = []
for url in urls:
    docs.append(get_news(url))
    print(get_news(url))
    break

[('과기', 'NNG'), ('정통부', 'NNG'), (',', 'SC'), ('22', 'SN'), ('일', 'NNBC'), ('유영민', 'NNP'), ('장관', 'NNG'), ('등', 'NNB'), ('참석', 'NNG'), ('해', 'XSV+EC'), ('기념행사', 'NNG'), ('2021', 'SN'), ('년', 'NNBC'), ('까지', 'JX'), ('1516', 'SN'), ('억', 'NR'), ('원', 'NNBC'), ('투입', 'NNG'), (',', 'SC'), ('5100', 'SN'), ('여종', 'NNG'), ('데이터', 'NNG'), ('구축', 'NNG'), ('민간', 'NNG'), ('클라우드', 'NNP'), ('통한', 'VV+ETM'), ('외부', 'NNG'), ('연계', 'NNG'), ('체계', 'NNG'), ('도', 'JX'), ('.', 'SF'), ('."', 'SY'), ('개방', 'NNG'), ('성', 'XSN'), ('강화', 'NNG'), ('"[', 'SY'), ('이', 'JKS'), ('데일리', 'NNP'), ('이재운', 'NNP'), ('기자', 'NNG'), (']', 'SSC'), ('국가', 'NNG'), ('차원', 'NNG'), ('의', 'JKG'), ('빅', 'NNG'), ('데이터', 'NNG'), ('활용', 'NNG'), ('시대', 'NNG'), ('가', 'JKS'), ('열린다', 'VV+EF'), ('.', 'SF'), ('새로운', 'VA+ETM'), ('산업', 'NNG'), ('창출', 'NNG'), ('과', 'JC'), ('기존', 'NNG'), ('산업', 'NNG'), ('의', 'JKG'), ('변화', 'NNG'), ('에', 'JKB'), ('이르', 'VV'), ('는', 'ETM'), ('‘', 'SY'), ('혁신', 'NNG'), ('성', 'XSN'), ('장', 'NNG'), ('’', 'SY'), ('을', 'JKO'), ('위한', 'VV+ETM'), ('센터', 'NNG'), ('가', 'JKS'), ('문', 'NNG'), ('을', 'JKO'), ('연다', 'VV+EC'), ('.', 'SY'), ('10', 'SN'), ('개', 'NNBC'), ('분야', 'NNG'), ('에', 'JKB'), ('걸쳐', 'VV+EC'), ('‘', 'SY'), ('데이터', 'NNG'), ('경제', 'NNG'), ('’', 'SY'), ('의', 'JKG'), ('발전', 'NNG'), ('을', 'JKO'), ('위한', 'VV+ETM'), ('정부', 'NNG'), ('의', 'JKG'), ('청사진', 'NNG'), ('을', 'JKO'), ('현실', 'NNG'), ('로', 'JKB'), ('구현', 'NNG'), ('하', 'XSV'), ('는', 'ETM'), ('데', 'NNB'), ('앞장선다는', 'VV+ETM'), ('계획', 'NNG'), ('이', 'VCP'), ('다', 'EF'), ('.', 'SF'), ('22', 'SN'), ('일', 'NNBC'), ('과학', 'NNG'), ('기술', 'NNG'), ('정보', 'NNG'), ('통신부', 'NNG'), ('는', 'JX'), ('서울', 'NNP'), ('중구', 'NNP'), ('대한', 'NNP'), ('상공', 'NNG'), ('회의소', 'NNG'), ('에서', 'JKB'), ('데이터', 'NNG'), ('생태', 'NNG'), ('계', 'XSN'), ('조성', 'NNG'), ('과', 'JC'), ('혁신', 'NNG'), ('성장', 'NNG'), ('의', 'JKG'), ('기반', 'NNG'), ('마련', 'NNG'), ('을', 'JKO'), ('위한', 'VV+ETM'), ('‘', 'SY'), ('빅', 'NNG'), ('데이터', 'NNG'), ('플랫', 'NNG'), ('폼', 'NNG'), ('및', 'MAJ'), ('센터', 'NNG'), ('’', 'SY'), ('출범식', 'NNG'), ('행사', 'NNG'), ('를', 'JKO'), ('개최', 'NNG'), ('했', 'XSV+EP'), ('다', 'EF'), ('.', 'SF'), ('유영민', 'NNP'), ('과기', 'NNG'), ('정통부', 'NNG'), ('장관', 'NNG'), ('을', 'JKO'), ('비롯', 'XR'), ('해', 'XSA+EC'), ('노웅래', 'NNP'), ('국회', 'NNG'), ('과학', 'NNG'), ('기술', 'NNG'), ('정보', 'NNG'), ('방송', 'NNG'), ('통신', 'NNG'), ('위원회', 'NNG'), ('위원장', 'NNG'), ('등', 'NNB'), ('300', 'SN'), ('여', 'XSN'), ('명', 'NNBC'), ('이', 'JKS'), ('참가', 'NNG'), ('했', 'XSV+EP'), ('다', 'EF'), ('.', 'SF'), ('◇', 'SY'), ('10', 'SN'), ('개', 'NNBC'), ('분야', 'NNG'), ('100', 'SN'), ('개', 'NNBC'), ('센터', 'NNG'), ('.', 'SF'), ('.', 'SY'), ('3', 'SN'), ('년', 'NNBC'), ('간', 'NNG'), ('1516', 'SN'), ('억', 'NR'), ('원', 'NNBC'), ('투입', 'NNG'), ('이미지', 'NNG'), (':', 'SC'), ('픽사', 'NNP'), ('베이', 'NNP'), ('빅', 'NNP'), ('데이터', 'NNG'), ('는', 'JX'), ('데이터', 'NNG'), ('활용', 'NNG'), ('을', 'JKO'), ('통해', 'VV+EC'), ('혁신', 'NNG'), ('성', 'XSN'), ('장', 'NNG'), ('을', 'JKO'), ('이루', 'VV'), ('자는', 'ETM'), ('문재', 'NNG'), ('인', 'VCP+ETM'), ('정부', 'NNG'), ('의', 'JKG'), ('경제', 'NNG'), ('성장', 'NNG'), ('핵심', 'NNG'), ('요소', 'NNG'), ('중', 'NNB'), ('하나', 'NR'), ('다', 'VCP+EF'), ('.', 'SF'), ('문재인', 'NNP'), ('대통령', 'NNG'), ('이', 'JKS'), ('직접', 'MAG'), ('올', 'VV+ETM'), ('들', 'VV'), ('어', 'EC'), ('데이터', 'NNG'), ('활용', 'NNG'), ('과', 'JC'), ('이', 'NP'), ('에', 'JKB'), ('따른', 'VV+ETM'), ('정보', 'NNG'), ('보호', 'NNG'), ('(', 'SSO'), ('보안', 'NNP'), (')', 'SSC'), ('에', 'JKB'), ('대한', 'VV+ETM'), ('중요', 'NNG'), ('성', 'XSN'), ('을', 'JKO'), ('강조', 'NNG'), ('하', 'XSV'), ('기', 'ETN'), ('도', 'JX'), ('했', 'VV+EP'), ('다', 'EF'), ('.', 'SF'), ('이런', 'MM'), ('맥락', 'NNG'), ('속', 'NNG'), ('에서', 'JKB'), ('빅', 'NNG'), ('데이터', 'NNG'), ('센터', 'NNG'), ('는', 'JX'), ('공공', 'NNG'), ('과', 'JC'), ('민간', 'NNG'), ('이', 'JKS'), ('협업', 'NNG'), ('해', 'XSV+EC'), ('활용', 'NNG'), ('도', 'JX'), ('높', 'VA'), ('은', 'ETM'), ('양질', 'NNG'), ('의', 'JKG'), ('데이터', 'NNG'), ('를', 'JKO'), ('생산', 'NNG'), ('·', 'SC'), ('구축', 'NNG'), ('하', 'XSV'), ('고', 'EC'), (',', 'SC'), ('플랫', 'NNG'), ('폼', 'NNG'), ('은', 'JX'), ('이', 'NP'), ('를', 'JKO'), ('수집', 'NNG'), ('·', 'SC'), ('분석', 'NNG'), ('·', 'SC'), ('유통', 'NNG'), ('하', 'XSV'), ('는', 'ETM'), ('역할', 'NNG'), ('을', 'JKO'), ('담당', 'NNG'), ('한다', 'XSV+EF'), ('.', 'SF'), ('과기', 'NNG'), ('정통부', 'NNG'), ('는', 'JX'), ('분야', 'NNG'), ('별', 'XSN'), ('플랫', 'NNG'), ('폼', 'NNG'), ('10', 'SN'), ('개소', 'NNBC'), ('와', 'JC'), ('이', 'NP'), ('와', 'JKB'), ('연계', 'NNG'), ('된', 'XSV+ETM'), ('기관', 'NNG'), ('별', 'XSN'), ('센터', 'NNG'), ('100', 'SN'), ('개소', 'NNBC'), ('를', 'JKO'), ('구축', 'NNG'), ('하', 'XSV'), ('는', 'ETM'), ('데', 'NNB'), ('3', 'SN'), ('년', 'NNBC'), ('간', 'XSN'), ('총', 'MM'), ('1516', 'SN'), ('억', 'NR'), ('원', 'NNBC'), ('을', 'JKO'), ('투입', 'NNG'), ('할', 'XSV+ETM'), ('계획', 'NNG'), ('이', 'VCP'), ('며', 'EC'), (',', 'SC'), ('올해', 'NNG'), ('우선', 'MAG'), ('640', 'SN'), ('억', 'NR'), ('원', 'NNBC'), ('규모', 'NNG'), ('의', 'JKG'), ('사업', 'NNG'), ('을', 'JKO'), ('추진', 'NNG'), ('하', 'XSV'), ('고', 'EC'), ('있', 'VX'), ('다', 'EF'), ('.', 'SF'), ('대상', 'NNG'), ('분야', 'NNG'), ('는', 'JX'), ('△', 'SY'), ('금융', 'NNG'), ('(', 'SSO'), ('BC', 'SL'), ('카드', 'NNG'), (')', 'SSC'), ('△', 'SY'), ('환경', 'NNG'), ('(', 'SSO'), ('한국', 'NNP'), ('수자원', 'NNG'), ('공사', 'NNG'), (')', 'SSC'), ('△', 'SY'), ('문화', 'NNG'), ('(', 'SSO'), ('한국', 'NNP'), ('문화', 'NNG'), ('정보원', 'NNG'), (')', 'SSC'), ('△', 'SY'), ('교통', 'NNG'), ('(', 'SSO'), ('한국', 'NNP'), ('교통', 'NNG'), ('연구원', 'NNG'), (')', 'SSC'), ('△', 'SY'), ('헬', 'NNP'), ('스케어', 'NNP'), ('(', 'SSO'), ('국립암센터', 'NNP'), (')', 'SSC'), ('△', 'SY'), ('유통', 'NNG'), ('·', 'SC'), ('소비', 'NNG'), ('(', 'SSO'), ('매일', 'NNG'), ('방송', 'NNG'), (')', 'SSC'), ('△', 'SY'), ('통신', 'NNG'), ('(', 'SSO'), ('KT', 'SL'), (')', 'SSC'), ('△', 'SY'), ('중소기업', 'NNG'), ('(', 'SSO'), ('더', 'MAG'), ('존', 'VA+ETM'), ('비즈', 'NNG'), ('온', 'VV+ETM'), (')', 'SSC'), ('△', 'SY'), ('지역', 'NNG'), ('경제', 'NNG'), ('(', 'SSO'), ('경기도', 'NNP'), ('청', 'NNG'), (')', 'SSC'), ('△', 'SY'), ('산림', 'NNG'), ('(', 'SSO'), ('한국', 'NNP'), ('임업', 'NNG'), ('진', 'XSA+ETM'), ('흥원', 'NNP'), (')', 'SSC'), ('등', 'NNB'), ('으로', 'JKB'), ('현재', 'MAG'), ('1', 'SN'), ('차', 'NNBC'), ('공모', 'NNG'), ('를', 'JKO'), ('통해', 'VV+EC'), ('72', 'SN'), ('개', 'NNBC'), ('빅', 'NNG'), ('데이터', 'NNG'), ('센터', 'NNG'), ('를', 'JKO'), ('선정', 'NNG'), ('했', 'XSV+EP'), ('고', 'EC'), (',', 'SC'), ('다음', 'NNG'), ('달', 'NNG'), ('8', 'SN'), ('일', 'NNBC'), ('까지', 'JX'), ('2', 'SN'), ('차', 'NNBC'), ('공모', 'NNG'), ('를', 'JKO'), ('통해', 'VV+EC'), ('28', 'SN'), ('개', 'NNBC'), ('를', 'JKO'), ('추가', 'NNG'), ('선정', 'NNG'), ('해', 'XSV+EC'), ('총', 'MM'), ('100', 'SN'), ('개', 'NNBC'), ('를', 'JKO'), ('지원', 'NNG'), (',', 'SC'), ('운영', 'NNG'), ('할', 'XSV+ETM'), ('계획', 'NNG'), ('이', 'VCP'), ('다', 'EF'), ('.', 'SF'), ('이', 'NP'), ('를', 'JKO'), ('통해', 'VV+EC'), ('데이터', 'NNG'), ('생태계', 'NNG'), ('를', 'JKO'), ('혁신', 'NNG'), ('하', 'XSV'), ('고', 'EC'), ('기업', 'NNG'), ('의', 'JKG'), ('경쟁력', 'NNG'), ('을', 'JKO'), ('제고', 'NNG'), ('하', 'XSV'), ('는', 'ETM'), ('역할', 'NNG'), ('을', 'JKO'), ('수행', 'NNG'), ('한다', 'XSV+EF'), ('.', 'SF'), ('주요', 'NNG'), ('활용', 'NNG'), ('전략', 'NNG'), ('·', 'SC'), ('사례', 'NNG'), ('를', 'JKO'), ('보', 'VV'), ('면', 'EC'), ('빅', 'NNG'), ('데이터', 'NNG'), ('활용', 'NNG'), ('을', 'JKO'), ('통해', 'VV+EC'), ('‘', 'SY'), ('신', 'NNG'), ('(', 'SSO'), ('新', 'NNG'), (')', 'SSC'), ('시장', 'NNG'), ('’', 'SY'), ('을', 'JKO'), ('창출', 'NNG'), ('하', 'XSV'), ('는', 'ETM'), ('방안', 'NNG'), ('을', 'JKO'), ('담', 'VV'), ('고', 'EC'), ('있', 'VX'), ('다', 'EF'), ('.', 'SF'), ('금융', 'NNG'), ('플랫', 'NNG'), ('폼', 'NNG'), ('의', 'JKG'), ('경우', 'NNG'), ('소', 'NNG'), ('상공', 'NNG'), ('인', 'VCP+ETM'), ('신용', 'NNG'), ('평가', 'NNG'), ('고도', 'NNG'), ('화', 'XSN'), ('등', 'NNB'), ('을', 'JKO'), ('통해', 'VV+EC'), ('금융', 'NNG'), ('취약', 'NNG'), ('계층', 'NNG'), ('대상', 'NNG'), ('중', 'NNB'), ('금리', 'NNG'), ('대출', 'NNG'), ('이', 'JKS'), ('자를', 'VV+ETM'), ('2', 'SN'), ('%', 'SY'), ('p', 'SL'), ('절감', 'NNG'), ('해', 'XSV+EC'), ('연간', 'NNG'), ('1', 'SN'), ('조', 'NR'), ('원', 'NNBC'), ('의', 'JKG'), ('신규', 'NNG'), ('대출', 'NNG'), ('을', 'JKO'), ('창출', 'NNG'), ('할', 'XSV+ETM'), ('전망', 'NNG'), ('이', 'VCP'), ('다', 'EF'), ('.', 'SF'), ('유통', 'NNG'), ('·', 'SC'), ('소비', 'NNG'), ('와', 'JC'), ('중소기업', 'NNG'), ('플랫', 'NNG'), ('폼', 'NNG'), ('은', 'JX'), ('소상', 'NNG'), ('공인', 'NNG'), ('이나', 'JC'), ('중소기업', 'NNG'), ('의', 'JKG'), ('폐업', 'NNG'), ('률', 'XSN'), ('감소', 'NNG'), ('를', 'JKO'), (',', 'SC'), ('문화', 'NNG'), ('플랫', 'NNG'), ('폼', 'NNG'), ('은', 'JX'), ('문화', 'NNG'), ('·', 'SC'), ('예술', 'NNG'), ('관람', 'NNG'), ('률', 'XSN'), ('과', 'JC'), ('생활', 'NNG'), ('체육', 'NNG'), ('참여', 'NNG'), ('율', 'XSN'), ('을', 'JKO'), ('높이', 'VV'), ('는', 'ETM'), ('방안', 'NNG'), ('을', 'JKO'), ('모색', 'NNG'), ('한다', 'XSV+EF'), ('.', 'SF'), ('의료비', 'NNG'), ('절감', 'NNG'), ('(', 'SSO'), ('헬스', 'NNG'), ('케어', 'NNG'), (')', 'SSC'), ('과', 'JC'), ('기업', 'NNG'), ('의', 'JKG'), ('매출', 'NNG'), ('향상', 'NNG'), ('을', 'JKO'), ('통한', 'VV+ETM'), ('산업', 'NNG'), ('육성', 'NNG'), ('(', 'SSO'), ('통신', 'NNG'), ('·', 'SC'), ('산림', 'NNG'), (')', 'SSC'), ('등', 'NNB'), ('도', 'JX'), ('눈길', 'NNG'), ('을', 'JKO'), ('끈다', 'VV+EF'), ('.', 'SF'), ('과기', 'NNG'), ('정통부', 'NNG'), ('제공', 'NNG'), ('◇', 'SY'), ('2021', 'SN'), ('년', 'NNBC'), ('까지', 'JX'), ('5100', 'SN'), ('여종', 'NNG'), ('데이터', 'NNG'), ('구축', 'NNG'), ('.', 'SF'), ('.', 'SY'), ('AI', 'SL'), ('알고리즘', 'NNG'), ('제공', 'NNG'), ('도', 'JX'), ('센터', 'NNG'), ('는', 'JX'), ('우선', 'MAG'), ('분야', 'NNG'), ('별', 'XSN'), ('데이터', 'NNG'), ('부족', 'NNG'), ('문제', 'NNG'), ('를', 'JKO'), ('해소', 'NNG'), ('하', 'XSV'), ('기', 'ETN'), ('위해', 'VV+EC'), ('올해', 'NNG'), ('말', 'NNB'), ('까지', 'JX'), ('시장', 'NNG'), ('수요', 'NNG'), ('가', 'JKS'), ('높', 'VA'), ('은', 'ETM'), ('1400', 'SN'), ('여종', 'NNG'), ('신규', 'NNG'), ('데이터', 'NNG'), ('를', 'JKO'), ('생산', 'NNG'), ('ㆍ', 'UNKNOWN'), ('구축', 'NNG'), ('하', 'XSV'), ('고', 'EC'), (',', 'SC'), ('사업', 'NNG'), ('이', 'JKS'), ('완료', 'NNG'), ('되', 'XSV'), ('는', 'ETM'), ('2021', 'SN'), ('년', 'NNBC'), ('까지', 'JX'), ('총', 'MM'), ('5100', 'SN'), ('여종', 'NNG'), ('양질', 'NNG'), ('의', 'JKG'), ('풍부', 'XR'), ('한', 'XSA+ETM'), ('데이터', 'NNG'), ('를', 'JKO'), ('생산', 'NNG'), ('·', 'SC'), ('구축', 'NNG'), ('해', 'XSV+EC'), ('시장', 'NNG'), ('에', 'JKB'), ('공급', 'NNG'), ('할', 'XSV+ETM'), ('계획', 'NNG'), ('이', 'VCP'), ('다', 'EF'), ('.', 'SF'), ('특히', 'MAG'), ('공공', 'NNG'), ('과', 'JC'), ('민간', 'NNG'), ('사이', 'NNG'), ('데이터', 'NNG'), ('파일', 'NNG'), ('형식', 'NNG'), ('등', 'NNB'), ('이', 'JKS'), ('달라', 'VA+EC'), ('호환', 'NNG'), ('이', 'JKS'), ('제대로', 'MAG'), ('이뤄지지', 'VV+EC'), ('못한', 'VX+ETM'), ('문제', 'NNG'), ('를', 'JKO'), ('해소', 'NNG'), ('하', 'XSV'), ('기', 'ETN'), ('위해', 'VV+EC'), ('개방', 'NNG'), ('형', 'XSN'), ('표준', 'NNG'), ('을', 'JKO'), ('적용', 'NNG'), ('하', 'XSV'), ('고', 'EC'), (',', 'SC'), ('품질', 'NNG'), ('관리', 'NNG'), ('기준', 'NNG'), ('도', 'JX'), ('마련', 'NNG'), ('해', 'XSV+EC'), ('운영', 'NNG'), ('한다', 'XSV+EF'), ('.', 'SF'), ('기업', 'NNG'), ('들', 'XSN'), ('이', 'JKS'), ('실제', 'NNG'), ('활용', 'NNG'), ('가능', 'NNG'), ('한', 'XSA+ETM'), ('최신', 'NNG'), ('데이터', 'NNG'), ('를', 'JKO'), ('확보', 'NNG'), ('하', 'XSV'), ('는', 'ETM'), ('데', 'NNB'), ('도', 'JX'), ('수개월', 'NNG'), ('이', 'JKS'), ('소요', 'NNG'), ('된다는', 'XSV+ETM'), ('문제점', 'NNG'), ('을', 'JKO'), ('개선', 'NNG'), ('하', 'XSV'), ('기', 'ETN'), ('위한', 'VV+ETM'), ('방안', 'NNG'), ('도', 'JX'), ('추진', 'NNG'), ('한다', 'XSV+EF'), ('.', 'SF'), ('센터', 'NNG'), ('와', 'JC'), ('플랫폼', 'NNG'), ('간', 'NNB'), ('연계', 'NNG'), ('체계', 'NNG'), ('에', 'JKB'), ('는', 'JX'), ('민간', 'NNG'), ('클라우드', 'NNP'), ('를', 'JKO'), ('기반', 'NNG'), ('으로', 'JKB'), ('활용', 'NNG'), ('하', 'XSV'), ('고', 'EC'), (',', 'SC'), ('센터', 'NNG'), ('에', 'JKB'), ('축적', 'NNG'), ('된', 'XSV+ETM'), ('데이터', 'NNG'), ('도', 'JX'), ('계속', 'MAG'), ('외부', 'NNG'), ('와', 'JC'), ('개방', 'NNG'), ('·', 'SC'), ('공유', 'NNG'), ('하', 'XSV'), ('며', 'EC'), ('최신', 'NNG'), ('·', 'SC'), ('연속', 'NNG'), ('성', 'XSN'), ('을', 'JKO'), ('확보', 'NNG'), ('한다는', 'XSV+ETM'), ('계획', 'NNG'), ('이', 'VCP'), ('다', 'EF'), ('.', 'SF'), ('100', 'SN'), ('개', 'NNBC'), ('센터', 'NNG'), ('에서', 'JKB'), ('수집', 'NNG'), ('된', 'XSV+ETM'), ('데이터', 'NNG'), ('를', 'JKO'), ('융합', 'NNG'), ('·', 'SC'), ('분석', 'NNG'), ('한', 'XSV+ETM'), ('뒤', 'NNG'), ('맞춤', 'NNG'), ('형', 'XSN'), ('데이터', 'NNG'), ('제작', 'NNG'), ('등', 'NNB'), ('양질', 'NNG'), ('의', 'JKG'), ('데이터', 'NNG'), ('로', 'JKB'), ('재', 'XPN'), ('생산', 'NNG'), ('하', 'XSV'), ('고', 'EC'), (',', 'SC'), ('기업', 'NNG'), ('들', 'XSN'), ('이', 'JKS'), ('필요', 'NNG'), ('로', 'JKB'), ('하', 'VV'), ('는', 'ETM'), ('데이터', 'NNG'), ('를', 'JKO'), ('원하', 'VV'), ('는', 'ETM'), ('형태', 'NNG'), ('로', 'JKB'), ('즉시', 'MAG'), ('활용', 'NNG'), ('할', 'XSV+ETM'), ('수', 'NNB'), ('있', 'VV'), ('도록', 'EC'), ('제공', 'NNG'), ('할', 'XSV+ETM'), ('계획', 'NNG'), ('이', 'VCP'), ('다', 'EF'), ('.', 'SF'), ('다양', 'XR'), ('한', 'XSA+ETM'), ('분석', 'NNG'), ('도구', 'NNG'), ('는', 'JX'), ('물론', 'MAG'), ('인공지능', 'NNP'), ('(', 'SSO'), ('AI', 'SL'), (')', 'SSC'), ('학습', 'NNG'), ('알고리즘', 'NNG'), ('도', 'JX'), ('제공', 'NNG'), ('해', 'XSV+EC'), ('이용자', 'NNP'), ('가', 'JKS'), ('보다', 'MAG'), ('사용', 'NNG'), ('하', 'XSV'), ('기', 'ETN'), ('편리', 'NNG'), ('한', 'XSA+ETM'), ('환경', 'NNG'), ('을', 'JKO'), ('제공', 'NNG'), ('한다', 'XSV+EF'), ('.', 'SF'), ('이', 'MM'), ('밖', 'NNG'), ('에', 'JKB'), ('필요', 'NNG'), ('한', 'XSA+ETM'), ('데이터', 'NNG'), ('를', 'JKO'), ('쉽', 'VA'), ('게', 'EC'), ('등록', 'NNG'), ('하', 'XSV'), ('고', 'EC'), ('검색', 'NNG'), ('할', 'XSV+ETM'), ('수', 'NNB'), ('있', 'VV'), ('도록', 'EC'), ('기준', 'NNG'), ('을', 'JKO'), ('마련', 'NNG'), ('하', 'XSV'), ('고', 'EC'), (',', 'SC'), ('데이터', 'NNG'), ('보유', 'NNG'), ('와', 'JC'), ('관리', 'NNG'), ('에', 'JKB'), ('대한', 'VV+ETM'), ('체계', 'NNG'), ('(', 'SSO'), ('거버넌스', 'NNP'), (')', 'SSC'), ('를', 'JKO'), ('논의', 'NNG'), ('하', 'XSV'), ('는', 'ETM'), ('‘', 'SY'), ('데이터', 'NNG'), ('얼라이언스', 'NNP'), ('’', 'SY'), ('를', 'JKO'), ('구성', 'NNG'), ('해', 'XSV+EC'), ('보다', 'MAG'), ('안', 'MAG'), ('전하', 'VV'), ('게', 'EC'), ('이용', 'NNG'), ('하', 'XSV'), ('는', 'ETM'), ('방안', 'NNG'), ('도', 'JX'), ('마련', 'NNG'), ('했', 'XSV+EP'), ('다', 'EF'), ('.', 'SF'), ('유영민', 'NNP'), ('과기', 'NNG'), ('정통부', 'NNG'), ('장관', 'NNG'), ('은', 'JX'), ('“', 'SSO'), ('오늘', 'NNG'), ('출범식', 'NNG'), ('은', 'JX'), ('대한민국', 'NNP'), ('이', 'JKS'), ('데이터', 'NNG'), ('강국', 'NNG'), ('으로', 'JKB'), ('가', 'VV'), ('기', 'ETN'), ('위한', 'VV+ETM'), ('초석', 'NNG'), ('을', 'JKO'), ('놓', 'VV'), ('은', 'ETM'), ('자리', 'NNG'), ('”', 'SSC'), ('라며', 'VCP+EC'), ('“', 'SSO'), ('세계', 'NNG'), ('주요', 'NNG'), ('국', 'NNG'), ('들', 'XSN'), ('보다', 'JKB'), ('데이터', 'NNG'), ('경제', 'NNG'), ('로', 'JKB'), ('나아가', 'VV'), ('는', 'ETM'), ('발걸음', 'NNG'), ('이', 'JKS'), ('다소', 'MAG'), ('늦', 'VA'), ('었', 'EP'), ('지만', 'EC'), (',', 'SC'), ('빅', 'NNG'), ('데이터', 'NNG'), ('플랫', 'NNG'), ('폼', 'NNG'), ('과', 'JC'), ('센터', 'NNG'), ('를', 'JKO'), ('지렛대', 'NNG'), ('로', 'JKB'), ('우리나라', 'NNG'), ('의', 'JKG'), ('낙후', 'NNG'), ('된', 'XSV+ETM'), ('데이터', 'NNG'), ('생태계', 'NNG'), ('를', 'JKO'), ('혁신', 'NNG'), ('하', 'XSV'), ('고', 'EC'), ('기업', 'NNG'), ('의', 'JKG'), ('경쟁력', 'NNG'), ('을', 'JKO'), ('한', 'VV+ETM'), ('단계', 'NNG'), ('제고', 'NNG'), ('할', 'XSV+ETM'), ('수', 'NNB'), ('있', 'VV'), ('도록', 'EC'), ('정책', 'NNG'), ('적', 'XSN'), ('역량', 'NNG'), ('을', 'JKO'), ('집중', 'NNG'), ('하', 'XSV'), ('겠', 'EP'), ('다', 'EC'), ('”', 'SSC'), ('고', 'JKQ'), ('밝혔', 'VV+EP'), ('다', 'EF'), ('.', 'SF'), ('이재운', 'NNP'), ('(', 'SSO'), ('jwlee', 'SL'), ('@', 'SY'), ('edaily', 'SL'), ('.', 'SY'), ('co', 'SL'), ('.', 'SY'), ('kr', 'SL'), (')', 'SSC'), ('네이버', 'NNP'), ('홈', 'NNG'), ('에서', 'JKB'), ('‘', 'SY'), ('이', 'JKS'), ('데일리', 'NNP'), ('’', 'SY'), ('뉴스', 'NNG'), ('[', 'SSO'), ('구독', 'NNG'), ('하', 'XSV'), ('기', 'ETN'), ('▶]', 'SY'), ('꿀', 'NNG'), ('잼', 'NNG'), ('가득', 'MAG'), ('[', 'SSO'), ('영상', 'NNG'), ('보', 'VV'), ('기', 'ETN'), ('▶]', 'SY'), (',', 'SC'), ('청춘', 'NNG'), ('뉘', 'NNG'), ('우스', 'NNG'), ('~', 'SY'), ('[', 'SSO'), ('스냅', 'NNG'), ('타임', 'NNG'), ('▶]＜ⓒ', 'SY'), ('종합', 'NNG'), ('경제', 'NNG'), ('정보', 'NNG'), ('미디어', 'NNG'), ('이', 'MM'), ('데일리', 'NNP'), ('-', 'SY'), ('무단', 'NNG'), ('전재', 'NNG'), ('&', 'SY'), ('재', 'XPN'), ('배포', 'NNG'), ('금지', 'NNG'), ('＞', 'SY')]

[('과기', 'NNG'), ('정통부', 'NNG'), (',', 'SC'), ('22', 'SN'), ('일', 'NNBC'), ('유영민', 'NNP'), ('장관', 'NNG'), ('등', 'NNB'), ('참석', 'NNG'), ('해', 'XSV+EC'), ('기념행사', 'NNG'), ('2021', 'SN'), ('년', 'NNBC'), ('까지', 'JX'), ('1516', 'SN'), ('억', 'NR'), ('원', 'NNBC'), ('투입', 'NNG'), (',', 'SC'), ('5100', 'SN'), ('여종', 'NNG'), ('데이터', 'NNG'), ('구축', 'NNG'), ('민간', 'NNG'), ('클라우드', 'NNP'), ('통한', 'VV+ETM'), ('외부', 'NNG'), ('연계', 'NNG'), ('체계', 'NNG'), ('도', 'JX'), ('.', 'SF'), ('."', 'SY'), ('개방', 'NNG'), ('성', 'XSN'), ('강화', 'NNG'), ('"[', 'SY'), ('이', 'JKS'), ('데일리', 'NNP'), ('이재운', 'NNP'), ('기자', 'NNG'), (']', 'SSC'), ('국가', 'NNG'), ('차원', 'NNG'), ('의', 'JKG'), ('빅', 'NNG'), ('데이터', 'NNG'), ('활용', 'NNG'), ('시대', 'NNG'), ('가', 'JKS'), ('열린다', 'VV+EF'), ('.', 'SF'), ('새로운', 'VA+ETM'), ('산업', 'NNG'), ('창출', 'NNG'), ('과', 'JC'), ('기존', 'NNG'), ('산업', 'NNG'), ('의', 'JKG'), ('변화', 'NNG'), ('에', 'JKB'), ('이르', 'VV'), ('는', 'ETM'), ('‘', 'SY'), ('혁신', 'NNG'), ('성', 'XSN'), ('장', 'NNG'), ('’', 'SY'), ('을', 'JKO'), ('위한', 'VV+ETM'), ('센터', 'NNG'), ('가', 'JKS'), ('문', 'NNG'), ('을', 'JKO'), ('연다', 'VV+EC'), ('.', 'SY'), ('10', 'SN'), ('개', 'NNBC'), ('분야', 'NNG'), ('에', 'JKB'), ('걸쳐', 'VV+EC'), ('‘', 'SY'), ('데이터', 'NNG'), ('경제', 'NNG'), ('’', 'SY'), ('의', 'JKG'), ('발전', 'NNG'), ('을', 'JKO'), ('위한', 'VV+ETM'), ('정부', 'NNG'), ('의', 'JKG'), ('청사진', 'NNG'), ('을', 'JKO'), ('현실', 'NNG'), ('로', 'JKB'), ('구현', 'NNG'), ('하', 'XSV'), ('는', 'ETM'), ('데', 'NNB'), ('앞장선다는', 'VV+ETM'), ('계획', 'NNG'), ('이', 'VCP'), ('다', 'EF'), ('.', 'SF'), ('22', 'SN'), ('일', 'NNBC'), ('과학', 'NNG'), ('기술', 'NNG'), ('정보', 'NNG'), ('통신부', 'NNG'), ('는', 'JX'), ('서울', 'NNP'), ('중구', 'NNP'), ('대한', 'NNP'), ('상공', 'NNG'), ('회의소', 'NNG'), ('에서', 'JKB'), ('데이터', 'NNG'), ('생태', 'NNG'), ('계', 'XSN'), ('조성', 'NNG'), ('과', 'JC'), ('혁신', 'NNG'), ('성장', 'NNG'), ('의', 'JKG'), ('기반', 'NNG'), ('마련', 'NNG'), ('을', 'JKO'), ('위한', 'VV+ETM'), ('‘', 'SY'), ('빅', 'NNG'), ('데이터', 'NNG'), ('플랫', 'NNG'), ('폼', 'NNG'), ('및', 'MAJ'), ('센터', 'NNG'), ('’', 'SY'), ('출범식', 'NNG'), ('행사', 'NNG'), ('를', 'JKO'), ('개최', 'NNG'), ('했', 'XSV+EP'), ('다', 'EF'), ('.', 'SF'), ('유영민', 'NNP'), ('과기', 'NNG'), ('정통부', 'NNG'), ('장관', 'NNG'), ('을', 'JKO'), ('비롯', 'XR'), ('해', 'XSA+EC'), ('노웅래', 'NNP'), ('국회', 'NNG'), ('과학', 'NNG'), ('기술', 'NNG'), ('정보', 'NNG'), ('방송', 'NNG'), ('통신', 'NNG'), ('위원회', 'NNG'), ('위원장', 'NNG'), ('등', 'NNB'), ('300', 'SN'), ('여', 'XSN'), ('명', 'NNBC'), ('이', 'JKS'), ('참가', 'NNG'), ('했', 'XSV+EP'), ('다', 'EF'), ('.', 'SF'), ('◇', 'SY'), ('10', 'SN'), ('개', 'NNBC'), ('분야', 'NNG'), ('100', 'SN'), ('개', 'NNBC'), ('센터', 'NNG'), ('.', 'SF'), ('.', 'SY'), ('3', 'SN'), ('년', 'NNBC'), ('간', 'NNG'), ('1516', 'SN'), ('억', 'NR'), ('원', 'NNBC'), ('투입', 'NNG'), ('이미지', 'NNG'), (':', 'SC'), ('픽사', 'NNP'), ('베이', 'NNP'), ('빅', 'NNP'), ('데이터', 'NNG'), ('는', 'JX'), ('데이터', 'NNG'), ('활용', 'NNG'), ('을', 'JKO'), ('통해', 'VV+EC'), ('혁신', 'NNG'), ('성', 'XSN'), ('장', 'NNG'), ('을', 'JKO'), ('이루', 'VV'), ('자는', 'ETM'), ('문재', 'NNG'), ('인', 'VCP+ETM'), ('정부', 'NNG'), ('의', 'JKG'), ('경제', 'NNG'), ('성장', 'NNG'), ('핵심', 'NNG'), ('요소', 'NNG'), ('중', 'NNB'), ('하나', 'NR'), ('다', 'VCP+EF'), ('.', 'SF'), ('문재인', 'NNP'), ('대통령', 'NNG'), ('이', 'JKS'), ('직접', 'MAG'), ('올', 'VV+ETM'), ('들', 'VV'), ('어', 'EC'), ('데이터', 'NNG'), ('활용', 'NNG'), ('과', 'JC'), ('이', 'NP'), ('에', 'JKB'), ('따른', 'VV+ETM'), ('정보', 'NNG'), ('보호', 'NNG'), ('(', 'SSO'), ('보안', 'NNP'), (')', 'SSC'), ('에', 'JKB'), ('대한', 'VV+ETM'), ('중요', 'NNG'), ('성', 'XSN'), ('을', 'JKO'), ('강조', 'NNG'), ('하', 'XSV'), ('기', 'ETN'), ('도', 'JX'), ('했', 'VV+EP'), ('다', 'EF'), ('.', 'SF'), ('이런', 'MM'), ('맥락', 'NNG'), ('속', 'NNG'), ('에서', 'JKB'), ('빅', 'NNG'), ('데이터', 'NNG'), ('센터', 'NNG'), ('는', 'JX'), ('공공', 'NNG'), ('과', 'JC'), ('민간', 'NNG'), ('이', 'JKS'), ('협업', 'NNG'), ('해', 'XSV+EC'), ('활용', 'NNG'), ('도', 'JX'), ('높', 'VA'), ('은', 'ETM'), ('양질', 'NNG'), ('의', 'JKG'), ('데이터', 'NNG'), ('를', 'JKO'), ('생산', 'NNG'), ('·', 'SC'), ('구축', 'NNG'), ('하', 'XSV'), ('고', 'EC'), (',', 'SC'), ('플랫', 'NNG'), ('폼', 'NNG'), ('은', 'JX'), ('이', 'NP'), ('를', 'JKO'), ('수집', 'NNG'), ('·', 'SC'), ('분석', 'NNG'), ('·', 'SC'), ('유통', 'NNG'), ('하', 'XSV'), ('는', 'ETM'), ('역할', 'NNG'), ('을', 'JKO'), ('담당', 'NNG'), ('한다', 'XSV+EF'), ('.', 'SF'), ('과기', 'NNG'), ('정통부', 'NNG'), ('는', 'JX'), ('분야', 'NNG'), ('별', 'XSN'), ('플랫', 'NNG'), ('폼', 'NNG'), ('10', 'SN'), ('개소', 'NNBC'), ('와', 'JC'), ('이', 'NP'), ('와', 'JKB'), ('연계', 'NNG'), ('된', 'XSV+ETM'), ('기관', 'NNG'), ('별', 'XSN'), ('센터', 'NNG'), ('100', 'SN'), ('개소', 'NNBC'), ('를', 'JKO'), ('구축', 'NNG'), ('하', 'XSV'), ('는', 'ETM'), ('데', 'NNB'), ('3', 'SN'), ('년', 'NNBC'), ('간', 'XSN'), ('총', 'MM'), ('1516', 'SN'), ('억', 'NR'), ('원', 'NNBC'), ('을', 'JKO'), ('투입', 'NNG'), ('할', 'XSV+ETM'), ('계획', 'NNG'), ('이', 'VCP'), ('며', 'EC'), (',', 'SC'), ('올해', 'NNG'), ('우선', 'MAG'), ('640', 'SN'), ('억', 'NR'), ('원', 'NNBC'), ('규모', 'NNG'), ('의', 'JKG'), ('사업', 'NNG'), ('을', 'JKO'), ('추진', 'NNG'), ('하', 'XSV'), ('고', 'EC'), ('있', 'VX'), ('다', 'EF'), ('.', 'SF'), ('대상', 'NNG'), ('분야', 'NNG'), ('는', 'JX'), ('△', 'SY'), ('금융', 'NNG'), ('(', 'SSO'), ('BC', 'SL'), ('카드', 'NNG'), (')', 'SSC'), ('△', 'SY'), ('환경', 'NNG'), ('(', 'SSO'), ('한국', 'NNP'), ('수자원', 'NNG'), ('공사', 'NNG'), (')', 'SSC'), ('△', 'SY'), ('문화', 'NNG'), ('(', 'SSO'), ('한국', 'NNP'), ('문화', 'NNG'), ('정보원', 'NNG'), (')', 'SSC'), ('△', 'SY'), ('교통', 'NNG'), ('(', 'SSO'), ('한국', 'NNP'), ('교통', 'NNG'), ('연구원', 'NNG'), (')', 'SSC'), ('△', 'SY'), ('헬', 'NNP'), ('스케어', 'NNP'), ('(', 'SSO'), ('국립암센터', 'NNP'), (')', 'SSC'), ('△', 'SY'), ('유통', 'NNG'), ('·', 'SC'), ('소비', 'NNG'), ('(', 'SSO'), ('매일', 'NNG'), ('방송', 'NNG'), (')', 'SSC'), ('△', 'SY'), ('통신', 'NNG'), ('(', 'SSO'), ('KT', 'SL'), (')', 'SSC'), ('△', 'SY'), ('중소기업', 'NNG'), ('(', 'SSO'), ('더', 'MAG'), ('존', 'VA+ETM'), ('비즈', 'NNG'), ('온', 'VV+ETM'), (')', 'SSC'), ('△', 'SY'), ('지역', 'NNG'), ('경제', 'NNG'), ('(', 'SSO'), ('경기도', 'NNP'), ('청', 'NNG'), (')', 'SSC'), ('△', 'SY'), ('산림', 'NNG'), ('(', 'SSO'), ('한국', 'NNP'), ('임업', 'NNG'), ('진', 'XSA+ETM'), ('흥원', 'NNP'), (')', 'SSC'), ('등', 'NNB'), ('으로', 'JKB'), ('현재', 'MAG'), ('1', 'SN'), ('차', 'NNBC'), ('공모', 'NNG'), ('를', 'JKO'), ('통해', 'VV+EC'), ('72', 'SN'), ('개', 'NNBC'), ('빅', 'NNG'), ('데이터', 'NNG'), ('센터', 'NNG'), ('를', 'JKO'), ('선정', 'NNG'), ('했', 'XSV+EP'), ('고', 'EC'), (',', 'SC'), ('다음', 'NNG'), ('달', 'NNG'), ('8', 'SN'), ('일', 'NNBC'), ('까지', 'JX'), ('2', 'SN'), ('차', 'NNBC'), ('공모', 'NNG'), ('를', 'JKO'), ('통해', 'VV+EC'), ('28', 'SN'), ('개', 'NNBC'), ('를', 'JKO'), ('추가', 'NNG'), ('선정', 'NNG'), ('해', 'XSV+EC'), ('총', 'MM'), ('100', 'SN'), ('개', 'NNBC'), ('를', 'JKO'), ('지원', 'NNG'), (',', 'SC'), ('운영', 'NNG'), ('할', 'XSV+ETM'), ('계획', 'NNG'), ('이', 'VCP'), ('다', 'EF'), ('.', 'SF'), ('이', 'NP'), ('를', 'JKO'), ('통해', 'VV+EC'), ('데이터', 'NNG'), ('생태계', 'NNG'), ('를', 'JKO'), ('혁신', 'NNG'), ('하', 'XSV'), ('고', 'EC'), ('기업', 'NNG'), ('의', 'JKG'), ('경쟁력', 'NNG'), ('을', 'JKO'), ('제고', 'NNG'), ('하', 'XSV'), ('는', 'ETM'), ('역할', 'NNG'), ('을', 'JKO'), ('수행', 'NNG'), ('한다', 'XSV+EF'), ('.', 'SF'), ('주요', 'NNG'), ('활용', 'NNG'), ('전략', 'NNG'), ('·', 'SC'), ('사례', 'NNG'), ('를', 'JKO'), ('보', 'VV'), ('면', 'EC'), ('빅', 'NNG'), ('데이터', 'NNG'), ('활용', 'NNG'), ('을', 'JKO'), ('통해', 'VV+EC'), ('‘', 'SY'), ('신', 'NNG'), ('(', 'SSO'), ('新', 'NNG'), (')', 'SSC'), ('시장', 'NNG'), ('’', 'SY'), ('을', 'JKO'), ('창출', 'NNG'), ('하', 'XSV'), ('는', 'ETM'), ('방안', 'NNG'), ('을', 'JKO'), ('담', 'VV'), ('고', 'EC'), ('있', 'VX'), ('다', 'EF'), ('.', 'SF'), ('금융', 'NNG'), ('플랫', 'NNG'), ('폼', 'NNG'), ('의', 'JKG'), ('경우', 'NNG'), ('소', 'NNG'), ('상공', 'NNG'), ('인', 'VCP+ETM'), ('신용', 'NNG'), ('평가', 'NNG'), ('고도', 'NNG'), ('화', 'XSN'), ('등', 'NNB'), ('을', 'JKO'), ('통해', 'VV+EC'), ('금융', 'NNG'), ('취약', 'NNG'), ('계층', 'NNG'), ('대상', 'NNG'), ('중', 'NNB'), ('금리', 'NNG'), ('대출', 'NNG'), ('이', 'JKS'), ('자를', 'VV+ETM'), ('2', 'SN'), ('%', 'SY'), ('p', 'SL'), ('절감', 'NNG'), ('해', 'XSV+EC'), ('연간', 'NNG'), ('1', 'SN'), ('조', 'NR'), ('원', 'NNBC'), ('의', 'JKG'), ('신규', 'NNG'), ('대출', 'NNG'), ('을', 'JKO'), ('창출', 'NNG'), ('할', 'XSV+ETM'), ('전망', 'NNG'), ('이', 'VCP'), ('다', 'EF'), ('.', 'SF'), ('유통', 'NNG'), ('·', 'SC'), ('소비', 'NNG'), ('와', 'JC'), ('중소기업', 'NNG'), ('플랫', 'NNG'), ('폼', 'NNG'), ('은', 'JX'), ('소상', 'NNG'), ('공인', 'NNG'), ('이나', 'JC'), ('중소기업', 'NNG'), ('의', 'JKG'), ('폐업', 'NNG'), ('률', 'XSN'), ('감소', 'NNG'), ('를', 'JKO'), (',', 'SC'), ('문화', 'NNG'), ('플랫', 'NNG'), ('폼', 'NNG'), ('은', 'JX'), ('문화', 'NNG'), ('·', 'SC'), ('예술', 'NNG'), ('관람', 'NNG'), ('률', 'XSN'), ('과', 'JC'), ('생활', 'NNG'), ('체육', 'NNG'), ('참여', 'NNG'), ('율', 'XSN'), ('을', 'JKO'), ('높이', 'VV'), ('는', 'ETM'), ('방안', 'NNG'), ('을', 'JKO'), ('모색', 'NNG'), ('한다', 'XSV+EF'), ('.', 'SF'), ('의료비', 'NNG'), ('절감', 'NNG'), ('(', 'SSO'), ('헬스', 'NNG'), ('케어', 'NNG'), (')', 'SSC'), ('과', 'JC'), ('기업', 'NNG'), ('의', 'JKG'), ('매출', 'NNG'), ('향상', 'NNG'), ('을', 'JKO'), ('통한', 'VV+ETM'), ('산업', 'NNG'), ('육성', 'NNG'), ('(', 'SSO'), ('통신', 'NNG'), ('·', 'SC'), ('산림', 'NNG'), (')', 'SSC'), ('등', 'NNB'), ('도', 'JX'), ('눈길', 'NNG'), ('을', 'JKO'), ('끈다', 'VV+EF'), ('.', 'SF'), ('과기', 'NNG'), ('정통부', 'NNG'), ('제공', 'NNG'), ('◇', 'SY'), ('2021', 'SN'), ('년', 'NNBC'), ('까지', 'JX'), ('5100', 'SN'), ('여종', 'NNG'), ('데이터', 'NNG'), ('구축', 'NNG'), ('.', 'SF'), ('.', 'SY'), ('AI', 'SL'), ('알고리즘', 'NNG'), ('제공', 'NNG'), ('도', 'JX'), ('센터', 'NNG'), ('는', 'JX'), ('우선', 'MAG'), ('분야', 'NNG'), ('별', 'XSN'), ('데이터', 'NNG'), ('부족', 'NNG'), ('문제', 'NNG'), ('를', 'JKO'), ('해소', 'NNG'), ('하', 'XSV'), ('기', 'ETN'), ('위해', 'VV+EC'), ('올해', 'NNG'), ('말', 'NNB'), ('까지', 'JX'), ('시장', 'NNG'), ('수요', 'NNG'), ('가', 'JKS'), ('높', 'VA'), ('은', 'ETM'), ('1400', 'SN'), ('여종', 'NNG'), ('신규', 'NNG'), ('데이터', 'NNG'), ('를', 'JKO'), ('생산', 'NNG'), ('ㆍ', 'UNKNOWN'), ('구축', 'NNG'), ('하', 'XSV'), ('고', 'EC'), (',', 'SC'), ('사업', 'NNG'), ('이', 'JKS'), ('완료', 'NNG'), ('되', 'XSV'), ('는', 'ETM'), ('2021', 'SN'), ('년', 'NNBC'), ('까지', 'JX'), ('총', 'MM'), ('5100', 'SN'), ('여종', 'NNG'), ('양질', 'NNG'), ('의', 'JKG'), ('풍부', 'XR'), ('한', 'XSA+ETM'), ('데이터', 'NNG'), ('를', 'JKO'), ('생산', 'NNG'), ('·', 'SC'), ('구축', 'NNG'), ('해', 'XSV+EC'), ('시장', 'NNG'), ('에', 'JKB'), ('공급', 'NNG'), ('할', 'XSV+ETM'), ('계획', 'NNG'), ('이', 'VCP'), ('다', 'EF'), ('.', 'SF'), ('특히', 'MAG'), ('공공', 'NNG'), ('과', 'JC'), ('민간', 'NNG'), ('사이', 'NNG'), ('데이터', 'NNG'), ('파일', 'NNG'), ('형식', 'NNG'), ('등', 'NNB'), ('이', 'JKS'), ('달라', 'VA+EC'), ('호환', 'NNG'), ('이', 'JKS'), ('제대로', 'MAG'), ('이뤄지지', 'VV+EC'), ('못한', 'VX+ETM'), ('문제', 'NNG'), ('를', 'JKO'), ('해소', 'NNG'), ('하', 'XSV'), ('기', 'ETN'), ('위해', 'VV+EC'), ('개방', 'NNG'), ('형', 'XSN'), ('표준', 'NNG'), ('을', 'JKO'), ('적용', 'NNG'), ('하', 'XSV'), ('고', 'EC'), (',', 'SC'), ('품질', 'NNG'), ('관리', 'NNG'), ('기준', 'NNG'), ('도', 'JX'), ('마련', 'NNG'), ('해', 'XSV+EC'), ('운영', 'NNG'), ('한다', 'XSV+EF'), ('.', 'SF'), ('기업', 'NNG'), ('들', 'XSN'), ('이', 'JKS'), ('실제', 'NNG'), ('활용', 'NNG'), ('가능', 'NNG'), ('한', 'XSA+ETM'), ('최신', 'NNG'), ('데이터', 'NNG'), ('를', 'JKO'), ('확보', 'NNG'), ('하', 'XSV'), ('는', 'ETM'), ('데', 'NNB'), ('도', 'JX'), ('수개월', 'NNG'), ('이', 'JKS'), ('소요', 'NNG'), ('된다는', 'XSV+ETM'), ('문제점', 'NNG'), ('을', 'JKO'), ('개선', 'NNG'), ('하', 'XSV'), ('기', 'ETN'), ('위한', 'VV+ETM'), ('방안', 'NNG'), ('도', 'JX'), ('추진', 'NNG'), ('한다', 'XSV+EF'), ('.', 'SF'), ('센터', 'NNG'), ('와', 'JC'), ('플랫폼', 'NNG'), ('간', 'NNB'), ('연계', 'NNG'), ('체계', 'NNG'), ('에', 'JKB'), ('는', 'JX'), ('민간', 'NNG'), ('클라우드', 'NNP'), ('를', 'JKO'), ('기반', 'NNG'), ('으로', 'JKB'), ('활용', 'NNG'), ('하', 'XSV'), ('고', 'EC'), (',', 'SC'), ('센터', 'NNG'), ('에', 'JKB'), ('축적', 'NNG'), ('된', 'XSV+ETM'), ('데이터', 'NNG'), ('도', 'JX'), ('계속', 'MAG'), ('외부', 'NNG'), ('와', 'JC'), ('개방', 'NNG'), ('·', 'SC'), ('공유', 'NNG'), ('하', 'XSV'), ('며', 'EC'), ('최신', 'NNG'), ('·', 'SC'), ('연속', 'NNG'), ('성', 'XSN'), ('을', 'JKO'), ('확보', 'NNG'), ('한다는', 'XSV+ETM'), ('계획', 'NNG'), ('이', 'VCP'), ('다', 'EF'), ('.', 'SF'), ('100', 'SN'), ('개', 'NNBC'), ('센터', 'NNG'), ('에서', 'JKB'), ('수집', 'NNG'), ('된', 'XSV+ETM'), ('데이터', 'NNG'), ('를', 'JKO'), ('융합', 'NNG'), ('·', 'SC'), ('분석', 'NNG'), ('한', 'XSV+ETM'), ('뒤', 'NNG'), ('맞춤', 'NNG'), ('형', 'XSN'), ('데이터', 'NNG'), ('제작', 'NNG'), ('등', 'NNB'), ('양질', 'NNG'), ('의', 'JKG'), ('데이터', 'NNG'), ('로', 'JKB'), ('재', 'XPN'), ('생산', 'NNG'), ('하', 'XSV'), ('고', 'EC'), (',', 'SC'), ('기업', 'NNG'), ('들', 'XSN'), ('이', 'JKS'), ('필요', 'NNG'), ('로', 'JKB'), ('하', 'VV'), ('는', 'ETM'), ('데이터', 'NNG'), ('를', 'JKO'), ('원하', 'VV'), ('는', 'ETM'), ('형태', 'NNG'), ('로', 'JKB'), ('즉시', 'MAG'), ('활용', 'NNG'), ('할', 'XSV+ETM'), ('수', 'NNB'), ('있', 'VV'), ('도록', 'EC'), ('제공', 'NNG'), ('할', 'XSV+ETM'), ('계획', 'NNG'), ('이', 'VCP'), ('다', 'EF'), ('.', 'SF'), ('다양', 'XR'), ('한', 'XSA+ETM'), ('분석', 'NNG'), ('도구', 'NNG'), ('는', 'JX'), ('물론', 'MAG'), ('인공지능', 'NNP'), ('(', 'SSO'), ('AI', 'SL'), (')', 'SSC'), ('학습', 'NNG'), ('알고리즘', 'NNG'), ('도', 'JX'), ('제공', 'NNG'), ('해', 'XSV+EC'), ('이용자', 'NNP'), ('가', 'JKS'), ('보다', 'MAG'), ('사용', 'NNG'), ('하', 'XSV'), ('기', 'ETN'), ('편리', 'NNG'), ('한', 'XSA+ETM'), ('환경', 'NNG'), ('을', 'JKO'), ('제공', 'NNG'), ('한다', 'XSV+EF'), ('.', 'SF'), ('이', 'MM'), ('밖', 'NNG'), ('에', 'JKB'), ('필요', 'NNG'), ('한', 'XSA+ETM'), ('데이터', 'NNG'), ('를', 'JKO'), ('쉽', 'VA'), ('게', 'EC'), ('등록', 'NNG'), ('하', 'XSV'), ('고', 'EC'), ('검색', 'NNG'), ('할', 'XSV+ETM'), ('수', 'NNB'), ('있', 'VV'), ('도록', 'EC'), ('기준', 'NNG'), ('을', 'JKO'), ('마련', 'NNG'), ('하', 'XSV'), ('고', 'EC'), (',', 'SC'), ('데이터', 'NNG'), ('보유', 'NNG'), ('와', 'JC'), ('관리', 'NNG'), ('에', 'JKB'), ('대한', 'VV+ETM'), ('체계', 'NNG'), ('(', 'SSO'), ('거버넌스', 'NNP'), (')', 'SSC'), ('를', 'JKO'), ('논의', 'NNG'), ('하', 'XSV'), ('는', 'ETM'), ('‘', 'SY'), ('데이터', 'NNG'), ('얼라이언스', 'NNP'), ('’', 'SY'), ('를', 'JKO'), ('구성', 'NNG'), ('해', 'XSV+EC'), ('보다', 'MAG'), ('안', 'MAG'), ('전하', 'VV'), ('게', 'EC'), ('이용', 'NNG'), ('하', 'XSV'), ('는', 'ETM'), ('방안', 'NNG'), ('도', 'JX'), ('마련', 'NNG'), ('했', 'XSV+EP'), ('다', 'EF'), ('.', 'SF'), ('유영민', 'NNP'), ('과기', 'NNG'), ('정통부', 'NNG'), ('장관', 'NNG'), ('은', 'JX'), ('“', 'SSO'), ('오늘', 'NNG'), ('출범식', 'NNG'), ('은', 'JX'), ('대한민국', 'NNP'), ('이', 'JKS'), ('데이터', 'NNG'), ('강국', 'NNG'), ('으로', 'JKB'), ('가', 'VV'), ('기', 'ETN'), ('위한', 'VV+ETM'), ('초석', 'NNG'), ('을', 'JKO'), ('놓', 'VV'), ('은', 'ETM'), ('자리', 'NNG'), ('”', 'SSC'), ('라며', 'VCP+EC'), ('“', 'SSO'), ('세계', 'NNG'), ('주요', 'NNG'), ('국', 'NNG'), ('들', 'XSN'), ('보다', 'JKB'), ('데이터', 'NNG'), ('경제', 'NNG'), ('로', 'JKB'), ('나아가', 'VV'), ('는', 'ETM'), ('발걸음', 'NNG'), ('이', 'JKS'), ('다소', 'MAG'), ('늦', 'VA'), ('었', 'EP'), ('지만', 'EC'), (',', 'SC'), ('빅', 'NNG'), ('데이터', 'NNG'), ('플랫', 'NNG'), ('폼', 'NNG'), ('과', 'JC'), ('센터', 'NNG'), ('를', 'JKO'), ('지렛대', 'NNG'), ('로', 'JKB'), ('우리나라', 'NNG'), ('의', 'JKG'), ('낙후', 'NNG'), ('된', 'XSV+ETM'), ('데이터', 'NNG'), ('생태계', 'NNG'), ('를', 'JKO'), ('혁신', 'NNG'), ('하', 'XSV'), ('고', 'EC'), ('기업', 'NNG'), ('의', 'JKG'), ('경쟁력', 'NNG'), ('을', 'JKO'), ('한', 'VV+ETM'), ('단계', 'NNG'), ('제고', 'NNG'), ('할', 'XSV+ETM'), ('수', 'NNB'), ('있', 'VV'), ('도록', 'EC'), ('정책', 'NNG'), ('적', 'XSN'), ('역량', 'NNG'), ('을', 'JKO'), ('집중', 'NNG'), ('하', 'XSV'), ('겠', 'EP'), ('다', 'EC'), ('”', 'SSC'), ('고', 'JKQ'), ('밝혔', 'VV+EP'), ('다', 'EF'), ('.', 'SF'), ('이재운', 'NNP'), ('(', 'SSO'), ('jwlee', 'SL'), ('@', 'SY'), ('edaily', 'SL'), ('.', 'SY'), ('co', 'SL'), ('.', 'SY'), ('kr', 'SL'), (')', 'SSC'), ('네이버', 'NNP'), ('홈', 'NNG'), ('에서', 'JKB'), ('‘', 'SY'), ('이', 'JKS'), ('데일리', 'NNP'), ('’', 'SY'), ('뉴스', 'NNG'), ('[', 'SSO'), ('구독', 'NNG'), ('하', 'XSV'), ('기', 'ETN'), ('▶]', 'SY'), ('꿀', 'NNG'), ('잼', 'NNG'), ('가득', 'MAG'), ('[', 'SSO'), ('영상', 'NNG'), ('보', 'VV'), ('기', 'ETN'), ('▶]', 'SY'), (',', 'SC'), ('청춘', 'NNG'), ('뉘', 'NNG'), ('우스', 'NNG'), ('~', 'SY'), ('[', 'SSO'), ('스냅', 'NNG'), ('타임', 'NNG'), ('▶]＜ⓒ', 'SY'), ('종합', 'NNG'), ('경제', 'NNG'), ('정보', 'NNG'), ('미디어', 'NNG'), ('이', 'MM'), ('데일리', 'NNP'), ('-', 'SY'), ('무단', 'NNG'), ('전재', 'NNG'), ('&', 'SY'), ('재', 'XPN'), ('배포', 'NNG'), ('금지', 'NNG'), ('＞', 'SY')]





과기정통부, 22일 유영민 장관 등 참석해 기념행사2021년까지 1516억원 투입, 5100여종 데이터 구축민간 클라우드 통한 외부연계체계도.."개방성 강화"[이데일리 이재운 기자] 국가 차원의 빅데이터 활용 시대가 열린다. 새로운 산업 창출과 기존 산업의 변화에 이르는 ‘혁신성장’을 위한 센터가 문을 연다. 10개 분야에 걸쳐 ‘데이터 경제’의 발전을 위한 정부의 청사진을 현실로 구현하는데 앞장선다는 계획이다.22일 과학기술정보통신부는 서울 중구 대한상공회의소에서 데이터 생태계 조성과 혁신 성장의 기반 마련을 위한 ‘빅데이터 플랫폼 및 센터’ 출범식 행사를 개최했다. 유영민 과기정통부 장관을 비롯해 노웅래 국회 과학기술정보방송통신위원회 위원장 등 300여명이 참가했다.◇10개 분야 100개 센터..3년간 1516억원 투입이미지: 픽사베이빅데이터는 데이터 활용을 통해 혁신성장을 이루자는 문재인 정부의 경제 성장 핵심 요소중 하나다. 문재인 대통령이 직접 올 들어 데이터 활용과 이에 따른 정보보호(보안)에 대한 중요성을 강조하기도 했다.이런 맥락 속에서 빅데이터센터는 공공과 민간이 협업해 활용도 높은 양질의 데이터를 생산·구축하고, 플랫폼은 이를 수집·분석·유통하는 역할을 담당한다. 과기정통부는 분야별 플랫폼 10개소와 이와 연계된 기관별 센터 100개소를 구축하는데 3년간 총 1516억원을 투입할 계획이며, 올해 우선 640억원 규모의 사업을 추진하고 있다.대상 분야는 △금융(BC카드) △환경(한국수자원공사) △문화(한국문화정보원) △교통(한국교통연구원) △헬스케어(국립암센터) △유통·소비(매일방송) △통신(KT) △중소기업(더존비즈온) △지역경제(경기도청) △산림(한국임업진흥원) 등으로 현재 1차 공모를 통해 72개 빅데이터 센터를 선정했고, 다음달 8일까지 2차 공모를 통해 28개를 추가 선정해 총 100개를 지원, 운영할 계획이다. 이를 통해 데이터 생태계를 혁신하고 기업의 경쟁력을 제고하는 역할을 수행한다.주요 활용 전략·사례를 보면 빅데이터 활용을 통해 ‘신(新) 시장’을 창출하는 방안을 담고 있다. 금융 플랫폼의 경우 소상공인 신용평가 고도화 등을 통해 금융 취약 계층 대상 중금리 대출이자를 2%p 절감해 연간 1조원의 신규대출을 창출할 전망이다. 유통·소비와 중소기업 플랫폼은 소상공인이나 중소기업의 폐업률 감소를, 문화 플랫폼은 문화·예술 관람률과 생활체육 참여율을 높이는 방안을 모색한다. 의료비 절감(헬스케어)과 기업의 매출 향상을 통한 산업 육성(통신·산림) 등도 눈길을 끈다.과기정통부 제공◇2021년까지 5100여종 데이터 구축..AI 알고리즘 제공도센터는 우선 분야별 데이터 부족 문제를 해소하기 위해 올해 말까지 시장 수요가 높은 1400여종 신규 데이터를 생산ㆍ구축하고, 사업이 완료되는 2021년까지 총 5100여종 양질의 풍부한 데이터를 생산·구축해 시장에 공급할 계획이다.특히 공공과 민간 사이 데이터 파일형식 등이 달라 호환이 제대로 이뤄지지 못한 문제를 해소하기 위해 개방형 표준을 적용하고, 품질관리기준도 마련해 운영한다.기업들이 실제 활용 가능한 최신 데이터를 확보하는데도 수개월이 소요된다는 문제점을 개선하기 위한 방안도 추진한다. 센터와 플랫폼 간 연계체계에는 민간 클라우드를 기반으로 활용하고, 센터에 축적된 데이터도 계속 외부와 개방·공유하며 최신·연속성을 확보한다는 계획이다.100개 센터에서 수집된 데이터를 융합·분석한 뒤 맞춤형 데이터 제작 등 양질의 데이터로 재생산하고, 기업들이 필요로 하는 데이터를 원하는 형태로 즉시 활용할 수 있도록 제공할 계획이다. 다양한 분석 도구는 물론 인공지능(AI) 학습 알고리즘도 제공해 이용자가 보다 사용하기 편리한 환경을 제공한다.이밖에 필요한 데이터를 쉽게 등록하고 검색할 수 있도록 기준을 마련하고, 데이터 보유와 관리에 대한 체계(거버넌스)를 논의하는 ‘데이터 얼라이언스’를 구성해 보다 안전하게 이용하는 방안도 마련했다.유영민 과기정통부 장관은 “오늘 출범식은 대한민국이 데이터 강국으로 가기 위한 초석을 놓은 자리”라며 “세계 주요국들보다 데이터 경제로 나아가는 발걸음이 다소 늦었지만, 빅데이터 플랫폼과 센터를 지렛대로 우리나라의 낙후된 데이터 생태계를 혁신하고 기업의 경쟁력을 한 단계 제고할 수 있도록 정책적 역량을 집중하겠다”고 밝혔다.이재운 (jwlee@edaily.co.kr)네이버 홈에서 ‘이데일리’ 뉴스 [구독하기▶]꿀잼가득 [영상보기▶] , 청춘뉘우스~ [스냅타임▶]＜ⓒ종합 경제정보 미디어 이데일리 - 무단전재 & 재배포 금지＞

In [50]:
import requests
from bs4 import BeautifulSoup

from konlpy.tag import Mecab
mecab = Mecab()


def get_news(url):
    headers = {"user-agent":"Mozilla/5.0"}
    response = requests.get(url, headers=headers)
    html = BeautifulSoup(response.text, 'html.parser')
    
    article = html.select_one("#articleBodyContents").text

                  
    article = " ".join([token[0] for token in mecab.pos(article) if token[1].strip() in ["NNG", "NNP", "VV"]])
    
    return article

urls = ["https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=105&oid=018&aid=0004430108",
"https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=101&oid=001&aid=0011614790",
"https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=102&oid=014&aid=0004424362",
"https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=101&oid=119&aid=0002402191",
"https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=101&oid=030&aid=0002882728"]

docs = []
for url in urls:
    docs.append(get_news(url))

In [51]:
for doc in docs:
    print(doc[:30])

과기 정통부 유영민 장관 참석 기념행사 투입 여종 데이
한국전력공사 한국전력공사 제공 나주 연합뉴스 송 기자
판교 자율 주행 실증 자율 주행 데이터 개방 사업 선정
통계청 텔레콤 모바일 빅 데이터 분석 들 회복세 코로나
금융 결제 원 신용 정보원 지정 비씨 카드 추가 포함

In [52]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

count_vect = CountVectorizer(max_df=0.85, max_features=10000)
word_count_vector = count_vect.fit_transform(docs)

In [53]:
count_vect.vocabulary_

{'과기': 48,
 '정통부': 406,
 '유영민': 328,
 '장관': 375,
 '참석': 453,
 '기념행사': 77,
 '투입': 494,
 '여종': 292,
 '구축': 61,
 '민간': 162,
 '클라우드': 479,
 '외부': 315,
 '연계': 298,
 '체계': 460,
 '개방': 16,
 '강화': 14,
 '데일리': 124,
 '이재운': 353,
 '국가': 63,
 '차원': 449,
 '시대': 263,
 '산업': 213,
 '창출': 455,
 '기존': 85,
 '변화': 178,
 '이르': 344,
 '혁신': 539,
 '분야': 192,
 '경제': 33,
 '발전': 167,
 '정부': 404,
 '청사진': 457,
 '현실': 540,
 '구현': 62,
 '계획': 38,
 '과학': 49,
 '기술': 80,
 '정보': 402,
 '통신부': 491,
 '서울': 230,
 '중구': 428,
 '대한': 120,
 '상공': 214,
 '회의소': 559,
 '생태': 225,
 '조성': 416,
 '성장': 237,
 '기반': 79,
 '마련': 139,
 '플랫': 512,
 '출범식': 471,
 '행사': 530,
 '개최': 21,
 '노웅래': 99,
 '국회': 67,
 '방송': 170,
 '통신': 490,
 '위원회': 326,
 '위원장': 325,
 '참가': 451,
 '이미지': 346,
 '픽사': 515,
 '베이': 174,
 '이루': 343,
 '문재': 154,
 '핵심': 529,
 '요소': 317,
 '문재인': 155,
 '대통령': 119,
 '보호': 182,
 '보안': 180,
 '중요': 432,
 '강조': 13,
 '맥락': 148,
 '공공': 40,
 '협업': 544,
 '양질': 284,
 '생산': 224,
 '수집': 254,
 '분석': 191,
 '유통': 330,
 '역할': 295,
 '담당': 110,
 '기관': 76,
 '올해': 311,
 '규모': 68,
 '사업': 204,
 '추진': 468,
 '대상': 116,
 '금융': 72,
 '카드': 474,
 '환경': 553,
 '한국': 521,
 '수자원': 252,
 '공사': 43,
 '문화': 158,
 '정보원': 403,
 '교통': 58,
 '연구원': 299,
 '스케어': 258,
 '국립암센터': 65,
 '소비': 244,
 '매일': 146,
 '중소기업': 429,
 '비즈': 198,
 '지역': 439,
 '경기도': 30,
 '산림': 212,
 '임업': 365,
 '흥원': 561,
 '공모': 42,
 '선정': 231,
 '다음': 107,
 '추가': 466,
 '지원': 440,
 '운영': 321,
 '생태계': 226,
 '기업': 82,
 '경쟁력': 32,
 '제고': 407,
 '수행': 255,
 '주요': 423,
 '전략': 386,
 '사례': 202,
 '시장': 269,
 '방안': 171,
 '경우': 31,
 '신용': 274,
 '평가': 503,
 '고도': 39,
 '취약': 473,
 '계층': 37,
 '금리': 71,
 '대출': 118,
 '절감': 398,
 '연간': 296,
 '신규': 271,
 '전망': 388,
 '소상': 245,
 '공인': 46,
 '폐업': 504,
 '감소': 9,
 '예술': 308,
 '관람': 53,
 '생활': 227,
 '체육': 461,
 '참여': 454,
 '높이': 102,
 '모색': 151,
 '의료비': 337,
 '헬스': 538,
 '케어': 476,
 '매출': 147,
 '향상': 534,
 '육성': 332,
 '눈길': 103,
 '제공': 408,
 '알고리즘': 283,
 '부족': 188,
 '문제': 156,
 '해소': 528,
 '수요': 250,
 '완료': 312,
 '공급': 41,
 '사이': 208,
 '파일': 497,
 '형식': 546,
 '호환': 548,
 '표준': 508,
 '적용': 381,
 '품질': 509,
 '관리': 55,
 '기준': 86,
 '실제': 278,
 '최신': 464,
 '확보': 550,
 '수개월': 249,
 '소요': 246,
 '문제점': 157,
 '개선': 18,
 '플랫폼': 513,
 '축적': 469,
 '공유': 45,
 '연속': 301,
 '융합': 333,
 '맞춤': 145,
 '제작': 413,
 '필요': 517,
 '원하': 323,
 '형태': 547,
 '도구': 126,
 '인공지능': 356,
 '학습': 520,
 '이용자': 352,
 '사용': 207,
 '편리': 500,
 '등록': 134,
 '검색': 26,
 '보유': 181,
 '거버넌스': 23,
 '논의': 100,
 '얼라이언스': 285,
 '구성': 60,
 '전하': 396,
 '이용': 351,
 '오늘': 310,
 '대한민국': 121,
 '강국': 11,
 '초석': 463,
 '자리': 369,
 '세계': 238,
 '나아가': 91,
 '발걸음': 164,
 '지렛대': 437,
 '우리나라': 319,
 '낙후': 94,
 '단계': 108,
 '정책': 405,
 '역량': 294,
 '집중': 447,
 '네이버': 97,
 '뉴스': 104,
 '구독': 59,
 '영상': 305,
 '청춘': 458,
 '우스': 320,
 '스냅': 257,
 '타임': 481,
 '종합': 419,
 '미디어': 159,
 '무단': 153,
 '전재': 395,
 '배포': 173,
 '금지': 73,
 '한국전력공사': 523,
 '나주': 93,
 '연합뉴스': 302,
 '한국전력': 522,
 '전력': 387,
 '서비스': 229,
 '개발': 15,
 '경진': 34,
 '대회': 123,
 '한전': 524,
 '아트': 282,
 '통상': 489,
 '자원': 370,
 '주최': 425,
 '그룹': 70,
 '광주': 57,
 '기술원': 81,
 '주관': 421,
 '이번': 347,
 '모델': 149,
 '발굴': 165,
 '희망': 562,
 '학생': 519,
 '일반인': 360,
 '벤처': 175,
 '새싹': 223,
 '홈페이지': 549,
 '제안서': 412,
 '서류': 228,
 '심사': 280,
 '통과': 488,
 '개인': 20,
 '반출': 163,
 '불가': 194,
 '완성도': 313,
 '상용': 219,
 '확장': 551,
 '사내': 200,
 '직원': 442,
 '사외': 206,
 '전문': 390,
 '위원': 324,
 '시상': 265,
 '부문': 186,
 '진행': 443,
 '최종': 465,
 '상금': 215,
 '상작': 220,
 '솔루션': 248,
 '에너지': 288,
 '마켓': 142,
 '플레이스': 514,
 '기회': 89,
 '김종갑': 90,
 '사장': 209,
 '가치': 6,
 '대국민': 113,
 '편익': 502,
 '만들': 143,
 '기대': 78,
 '코로나': 477,
 '속보': 247,
 '클릭': 480,
 '체크': 462,
 '등교': 133,
 '개학': 22,
 '확진': 552,
 '나오': 92,
 '제보': 410,
 '판교': 498,
 '자율': 371,
 '주행': 426,
 '실증': 279,
 '파이낸셜': 496,
 '수원': 251,
 '장충식': 377,
 '관련': 54,
 '중점': 433,
 '조치': 417,
 '예정': 309,
 '포털': 506,
 '접속': 400,
 '단지': 109,
 '별도': 179,
 '가공': 0,
 '처리': 456,
 '하반기': 518,
 '활성': 554,
 '기여': 83,
 '임문영': 364,
 '미래': 160,
 '장정': 376,
 '관은': 56,
 '작년': 373,
 '개소': 19,
 '이후': 355,
 '건강': 24,
 '선진': 232,
 '국내': 64,
 '한편': 526,
 '차세대': 448,
 '지난해': 435,
 '출범': 470,
 '운전자': 322,
 '레벨': 137,
 '수준': 253,
 '셔틀': 242,
 '스타트업': 259,
 '테스트': 482,
 '소리': 243,
 '토리': 484,
 '두유': 132,
 '노우': 98,
 '저작권자': 380,
 '통계청': 487,
 '텔레콤': 483,
 '모바일': 150,
 '회복세': 557,
 '발생': 166,
 '미만': 161,
 '인구': 357,
 '이동': 339,
 '결과': 27,
 '토요일': 485,
 '완화': 314,
 '전년': 384,
 '대비': 115,
 '상당': 216,
 '회복': 556,
 '이동은': 342,
 '사람': 201,
 '접촉': 401,
 '상대': 217,
 '상업': 218,
 '관광지': 52,
 '레저': 138,
 '스포츠': 260,
 '시설': 266,
 '대형': 122,
 '아울렛': 281,
 '주거': 420,
 '동량': 130,
 '연휴': 303,
 '기점': 84,
 '파악': 495,
 '이동결': 340,
 '전국': 382,
 '가입자': 3,
 '주중': 424,
 '주말': 422,
 '추정': 467,
 '전후': 397,
 '점유': 399,
 '업무': 287,
 '협약': 543,
 '체결': 459,
 '일환': 363,
 '통계': 486,
 '유동': 327,
 '지도': 436,
 '연령': 300,
 '입지': 367,
 '유형': 331,
 '시도': 264,
 '다각': 105,
 '시기': 262,
 '비교': 195,
 '의미': 338,
 '본인': 184,
 '실거': 276,
 '행정동': 533,
 '이상': 348,
 '방문': 169,
 '건수': 25,
 '집계': 445,
 '센서스': 241,
 '모수': 152,
 '성과': 235,
 '세별': 239,
 '가중치': 5,
 '집단': 446,
 '감염': 10,
 '영향': 306,
 '설명': 233,
 '기간': 75,
 '변동': 176,
 '성별': 236,
 '전반': 391,
 '남성': 95,
 '여성': 290,
 '가족': 4,
 '동반': 131,
 '증가세': 434,
 '분류': 190,
 '사무': 203,
 '한정': 525,
 '제주': 414,
 '강원': 12,
 '부산': 187,
 '대구': 112,
 '관광': 51,
 '중심': 430,
 '유입': 329,
 '전남': 383,
 '전북': 392,
 '충남': 472,
 '도시': 128,
 '각종': 7,
 '사회': 211,
 '이슈': 350,
 '참고': 452,
 '기초': 87,
 '자료': 368,
 '방침': 172,
 '데일리안': 125,
 '이소희': 349,
 '변형': 177,
 '결제': 28,
 '지정': 441,
 '비씨': 196,
 '포함': 507,
 '여부': 289,
 '시행령': 270,
 '발표': 168,
 '판매': 499,
 '급물살': 74,
 '중계': 427,
 '포스': 505,
 '전송': 393,
 '항목': 527,
 '실무': 277,
 '회의': 558,
 '이동근': 341,
 '신사업': 273,
 '마이': 141,
 '통합': 493,
 '조회': 418,
 '사업자': 205,
 '연결': 297,
 '효율': 560,
 '허브': 536,
 '계약': 36,
 '비효': 199,
 '다수': 106,
 '핀테크': 516,
 '일종': 362,
 '인프라': 359,
 '따르': 135,
 '작업': 374,
 '착수': 450,
 '농협': 101,
 '중앙': 431,
 '수협': 256,
 '상호저축은행': 221,
 '신협': 275,
 '마을금고': 140,
 '코스콤': 478,
 '행정': 532,
 '전담': 385,
 '이종': 354,
 '결합': 29,
 '프로세싱': 511,
 '비씨카드': 197,
 '개별': 17,
 '공청회': 47,
 '당시': 111,
 '의견': 336,
 '일부': 361,
 '독점': 129,
 '우려': 318,
 '지속': 438,
 '제기': 409,
 '진흥': 444,
 '입장': 366,
 '제시': 411,
 '여파': 293,
 '공식': 44,
 '열리': 304,
 '시작': 268,
 '설비': 234,
 '시스템': 267,
 '업계': 286,
 '가운데': 2,
 '경험': 35,
 '전무': 389,
 '자체': 372,
 '허용': 537,
 '쟁점': 379,
 '대변': 114,
 '여신': 291,
 '협회': 545,
 '대신': 117,
 '내부': 96,
 '갈리': 8,
 '시간': 261,
 '현재': 541,
 '도맡': 127,
 '회가': 555,
 '은행': 334,
 '응용': 335,
 '프로그램': 510,
 '상황': 222,
 '부처': 189,
 '이름': 345,
 '국민': 66,
 '행안': 531,
 '부도': 185,
 '허가': 535,
 '사전': 210,
 '조사': 415,
 '예비': 307,
 '컨설팅': 475,
 '라이선스': 136,
 '세부': 240,
 '요건': 316,
 '본격': 183,
 '가동': 1,
 '관계자': 50,
 '통하': 492,
 '균일': 69,
 '편의': 501,
 '만전': 144,
 '기하': 88,
 '분위기': 193,
 '현황': 542,
 '재식': 378,
 '전자': 394,
 '신문': 272,
 '인터넷': 358}

In [54]:
tfidf_transformer = TfidfTransformer()
tfidf_transformer.fit(word_count_vector)

TfidfTransformer()

In [55]:
def sort_keywords(keywords):
    return sorted(zip(keywords.col, keywords.data), key=lambda x: (x[1], x[0]), reverse=True)

def extract_keywords(feature_name, sorted_keywords, n=5):
    return [(feature_name[idx], score) for idx, score in sorted_keywords[:n]]

In [56]:
feature_name = count_vect.get_feature_names_out()
tf_idf_vector = tfidf_transformer.transform(count_vect.transform([docs[0]]))
sorted_keywords = sort_keywords(tf_idf_vector.tocoo())
keywords = extract_keywords(feature_name, sorted_keywords)
keywords

[('플랫', 0.2630245621515846),
 ('계획', 0.22544962470135824),
 ('정통부', 0.18787468725113188),
 ('과기', 0.18787468725113188),
 ('혁신', 0.15157611471898802)]

In [57]:
for i in range(len(docs)):
    tf_idf_vector = tfidf_transformer.transform(count_vect.transform([docs[i]]))
    sorted_keywords = sort_keywords(tf_idf_vector.tocoo())
    keywords = extract_keywords(feature_name, sorted_keywords, 10)
    print(f"문서 {i + 1}")
    print(keywords)
    print("")

문서 1
[('플랫', 0.2630245621515846), ('계획', 0.22544962470135824), ('정통부', 0.18787468725113188), ('과기', 0.18787468725113188), ('혁신', 0.15157611471898802), ('분야', 0.15157611471898802), ('경제', 0.15157611471898802), ('구축', 0.15098624117699064), ('여종', 0.1502997498009055), ('생산', 0.1502997498009055)]

문서 2
[('한전', 0.3835353685325492), ('전력', 0.3835353685325492), ('대회', 0.2301212211195295), ('서비스', 0.17286170921899544), ('제공', 0.15411486374360572), ('기업', 0.15411486374360572), ('개발', 0.15411486374360572), ('한국전력공사', 0.15341414741301967), ('학생', 0.15341414741301967), ('일반인', 0.15341414741301967)]

문서 3
[('주행', 0.6610125681327058), ('자율', 0.6334703777938431), ('경기도', 0.22220865745662136), ('실증', 0.13771095169431372), ('개방', 0.11110432872831068), ('판교', 0.08262657101658823), ('지원', 0.0666625972369864), ('발전', 0.0666625972369864), ('뉴스', 0.0666625972369864), ('포털', 0.05508438067772549)]

문서 4
[('인구', 0.4009591863854239), ('발생', 0.29860739716747037), ('이동', 0.2775871290360627), ('지역', 0.2737234474035145), ('통계청', 0.24674411469872237), ('동량', 0.24674411469872237), ('감소', 0.2239555478756028), ('코로나', 0.1652474093059774), ('토요일', 0.15421507168670148), ('연휴', 0.15421507168670148)]

문서 5
[('중계', 0.6921577195028837), ('기관', 0.3973252213196342), ('금융', 0.25528159538995704), ('인프라', 0.21753528327233487), ('중앙', 0.11865560905763721), ('신용', 0.1116856979831062), ('개발', 0.10595339235190245), ('결제', 0.09887967421469768), ('정보원', 0.09573059827123388), ('선정', 0.08913133386977058)]