## 데이터 불러오기

In [21]:
import pandas as pd

train = pd.read_csv('C:\\Users\\user\\workspace\\dacon\\train.csv')
test = pd.read_csv('C:\\Users\\user\\workspace\\dacon\\test.csv')

submission = pd.read_csv('C:\\Users\\user\\workspace\\dacon\\sample_submission.csv')

In [22]:
train.head()

   index      송하인_격자공간고유번호      수하인_격자공간고유번호 물품_카테고리  운송장_건수
0      0  5011000595017300  2871000192069300      음반       3
1      1  4148000690043300  5011000264024400   문화컨텐츠       3
2      2  5011000078068400  1120000007005400     농산물       3
3      3  4127100048006400  5011000587019400    기타식품       7
4      4  5011000078068400  2823700010076300     농산물       3

In [23]:
test.head()

   index      송하인_격자공간고유번호      수하인_격자공간고유번호      물품_카테고리
0      0  4167000577042200  5011000435014100          선케어
1      1  1156000009012200  5011000172034400       구강위생용품
2      2  4122000363057300  5011000361097300           캠핑
3      3  5011000436041400  2826000084036400       아웃도어가구
4      4  4150000241065200  5011000169044300  분유/이유식/아기간식

In [24]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         31684 non-null  int64
 1   송하인_격자공간고유번호  31684 non-null  int64
 2   수하인_격자공간고유번호  31684 non-null  int64
 3   물품_카테고리       31684 non-null  object
 4   운송장_건수        31684 non-null  int64
dtypes: int64(4), object(1)
memory usage: 1.2+ MB

In [25]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7920 entries, 0 to 7919
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         7920 non-null   int64
 1   송하인_격자공간고유번호  7920 non-null   int64
 2   수하인_격자공간고유번호  7920 non-null   int64
 3   물품_카테고리       7920 non-null   object
dtypes: int64(3), object(1)
memory usage: 247.6+ KB

In [26]:
train.isnull().sum()

index           0
송하인_격자공간고유번호    0
수하인_격자공간고유번호    0
물품_카테고리         0
운송장_건수          0
dtype: int64

## 데이터 전처리

In [27]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
encoder.fit(train['물품_카테고리'])

train['물품_카테고리'] = encoder.transform(train['물품_카테고리'])
test['물품_카테고리'] = encoder.transform(test['물품_카테고리'])

## 모델링

In [28]:
from sklearn.tree import DecisionTreeClassifier

train_X = train.drop('운송장_건수',axis = 1)
train_Y = train['운송장_건수']

#모델 정의
model = DecisionTreeClassifier()

In [29]:
# 모델 학습
model.fit(train_X,train_Y)

DecisionTreeClassifier()

In [30]:
# test 데이터 예측
pred = model.predict(test)

## 정답파일 생성

In [31]:
submission

      index  운송장_건수
0         0       0
1         1       0
2         2       0
3         3       0
4         4       0
...     ...     ...
7915   7915       0
7916   7916       0
7917   7917       0
7918   7918       0
7919   7919       0

[7920 rows x 2 columns]

In [32]:
submission.columns

Index(['index', '운송장_건수'], dtype='object')

In [33]:
pip install dacon_submit_api-0.0.4-py3-none-any.whl

Processing c:\users\user\workspace\dacon_submit_api-0.0.4-py3-none-any.whl
dacon-submit-api is already installed with the same version as the provided wheel. Use --force-reinstall to force an installation of the wheel.
Note: you may need to restart the kernel to use updated packages.

In [34]:
submission.to_csv('first_submission.csv',index = False)
from dacon_submit_api import dacon_submit_api 

result = dacon_submit_api.post_submission_file(
'first_submission.csv', 
'd2f5242a75002d8f70230a3417b9342a8b9d86e995c57795b0714f1fac853fe1', 
'235867', 
'rgm', 
'처음 submission' )

{'isSubmitted': True, 'detail': 'Success'}

In [35]:
from sklearn.datasets import load_breast_cancer
from sklearn.tree import DecisionTreeClassifier